<!--/* Title Component */--> 
<pre data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}" data-sly-unwrap></pre>
<section class="headline att-component" data-component="headline">
    <div class="container">
        <div class="row">
            <h1 data-sly-use.title="title.js" data-sly-element="${title.element}" class="${title.cssClass}">${title.text @context='html'}</h1>
        </div>
      </div>
</section>
<script>
   if(window.skipAnalytics !== true) {
   		$att(function(){
        var additionaldata = {};
        	additionaldata = {
            	'events.contentId': '${mdhash.calculatedValue @ context="scriptString"}',
                'events.slotFriendlyName' :  '${properties.componentFriendlyName @ context="scriptString"}',
                'events.contentSystem' : 'CQ',
                'events.contentProductGroup' : '${properties.contentProductGroup @ context="scriptString"}',    
            };
        AttApp.analytics.sendAnalyticsEvent('impression','impression', additionaldata);
    	});
    }
</script>