<!--/*  Content area for bizhub boilerplates */--> 

<div class="container">
    <div class="component-spacing-large">
        <div class="row">
            <div class="main-par span12">
                <div data-sly-resource="${'main_parsys' @resourceType='foundation/components/parsys'}"></div>
            </div>
        </div>
    </div>
</div>




















