<!--/*
    Copyright 2015 Adobe Systems Incorporated
  
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->

<!--/* Include Adobe Dynamic Tag Management libraries for the footer */-->
<!--/* <sly data-sly-resource="${@ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}" data-sly-unwrap/> */-->

<!--/* Include the site client libraries (loading only the JS in the footer, CSS was loaded in the header) */-->

<div data-sly-use.dtmFooter="/apps/att/global/all/cms/common/components/structure/page/partials/dtm.js" data-sly-unwrap/>
<sly data-sly-use.footlibs="/apps/att/global/all/cms/common/components/structure/page/partials/common.js"/>
<sly data-sly-use.commonconfig="${'/etc/designs/att/globalnav/utility/common-config.js'}"/>

<sly data-sly-test="${wcmmode.edit}" data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientLib.js @ categories='att-custom-widgets'}" data-sly-unwrap/>
<script src=/ui/upperfunnel/${footlibs.uiAssetsJsCssVersionNumber}/scripts/modernizr.js></script>
<script src=/ui/upperfunnel/${footlibs.uiAssetsJsCssVersionNumber}/scripts/vendor.js></script>
<script src=/ui/upperfunnel/${footlibs.uiAssetsJsCssVersionNumber}/scripts/main.js></script>
<script src=/ui/upperfunnel/${footlibs.uiAssetsJsCssVersionNumber}/scripts/components.js></script>
<script src=/ui/marketing_ent_turn_buscircle/1.0.0/scripts/components.js></script>
<script async src="/scripts/tealeaf/tealeaf.min.4.0.1607.js" type="text/javascript"></script>
<script src='${dtmFooter.dtmContainerFooterJsPath}'></script>
<script src='${dtmFooter.dotComPrefetchURL}'></script>

<!--Start Navigation footer-->
<div class="ge5p_global_styles gn-ds2">
    <div class="ge5p_z7">
        <sly data-sly-test.gnavFooterPath="${footlibs.gNavFooterPath}" data-sly-unwrap/>
        <sly data-sly-resource="${@ path = gNavFooterPath}" data-sly-unwrap/>
    </div>
</div>
<!--End: Navigation footer-->
<script src="/ui/global_all_cms_globalnav/globalnav-handler/${commonconfig.assetsVersionNo}/globalnav-handler.min.js" type="text/javascript"></script>