<!--/* Tile Component */-->   
<sly data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}"></sly>
<sly data-sly-include="${properties.displayAs}.html" data-sly-unwrap/>
<sly data-sly-use.TDataInfo="tdata.js" data-sly-test.contentSystem ="${TDataInfo.tdataSelector == 'tdfeed' ? 'TDATA' :'CQ'}"></sly>
<script> 
	if(window.skipAnalytics !== true) {
    $att(function() {
        var additionaldata = {};
        additionaldata = {
            'events.contentId': '${mdhash.calculatedValue @ context="scriptString"}',
            'events.slotFriendlyName': '${properties.componentFriendlyName @ context="scriptString"}',
            'events.contentSystem': '${contentSystem @ context="scriptString"}',
            'events.contentFriendlyName': '${properties.componentFriendlyName @ context="scriptString"}',
            'events.contentProductGroup': '${properties.contentProductGroup @ context="scriptString"}',
        };
        AttApp.analytics.sendAnalyticsEvent('impression', 'impression', additionaldata);
        AttApp.Utils.injectLegalData('${mdhash.calculatedValue @ context="scriptString"}');
    });
    }
</script> 