<!--/* Tile Component - Image and CTA Layout */-->

<pre data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}" data-sly-unwrap></pre>
<sly data-sly-use.encodedCTALabel="${'com.att.global.all.cms.common.core.utils.CommonUtil' @ label = properties.ctaLabel}"></sly>
<div id="${mdhash.calculatedValue}" class="container multi-column-item item-with-img-content text-left ${properties.bgColor}" data-sly-use.tile="${'tile.js'}" data-cfname="${properties.componentFriendlyName}"
     data-cpgroup="${properties.contentProductGroup}">
    <div data-sly-test.count="${tile.tileType @context='scriptString'}" data-sly-unwrap></div>
    <div class="item-wrapper row ${properties.imageBelowText ? 'img-bottom' : ''}">
        <sly data-sly-test="${tile.tileImage && properties.imgPosition != 'img-right'}">
            <div class="col-1 span3 span5-md span4-sm span4-xsm">
                <div data-sly-test="${!properties.imageBelowText}" class="img-wrapper">
                    <picture data-sly-test="${tile.tileImage}">
                        <!--[if IE 9]>
                        <![endif]-->
                        <img data-src="${tile.tileImage}" class='lazyload' alt="${properties.itemImageAltText ? properties.itemImageAltText :  tile.defaultImgAltText @context='html'}" title="${properties.itemImageAltText ? properties.itemImageAltText :  tile.defaultImgAltText @context='html'}"/>
                    </picture>
                </div>
            </div>
        </sly>
        <div class="col-2 span9 span7-md span8-sm span8-xsm">
            <div class="img-description flex-item" data-height-index="2">
                <p data-sly-test="${properties.itemEyebrow}" class="eyebrow">${properties.itemEyebrow}</p>
                <h3 class="heading-sub-section">
                    <strong> ${properties.itemTitle @ context='html'}</strong>
                </h3>
                <p data-sly-test="${properties.itemDescription}">
                    ${properties.itemDescription @ context='html'}
                </p>
            </div>
            <span class="desktop-tablet-only" data-sly-test="${properties.itemDesktopUrl && properties.ctaLabel}">
                <a data-sly-use.urlProcessorDesktop="${'url-processor.js' @ url = properties.itemDesktopUrl}"
                   href="${urlProcessorDesktop.finalURL}" role="button"
                   data-analytics-action="linkClick" data-analytics-code="Link_Click"
                   data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName' :  '${properties.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.linkName':'${encodedCTALabel.escapedValue}', 'events.linkPosition':'Body', 'events.linkDestinationUrl':'${properties.itemDesktopUrl}'}"
                   class="btn btn-secondary">
                    ${properties.ctaLabel}
                </a>

            </span>
            <span class="mobile-only" data-sly-test="${properties.itemMobileUrl && properties.ctaLabel}">
                <a data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = properties.itemMobileUrl}"
                   href="${urlProcessorMobile.finalURL}" role="button"
                   data-analytics-action="linkClick" data-analytics-code="Link_Click"
                   data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName' :  '${properties.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.linkName':'${encodedCTALabel.escapedValue}', 'events.linkPosition':'Body', 'events.linkDestinationUrl':'${properties.itemMobileUrl}'}"
                   class="btn btn-secondary btn-small">
                    ${properties.ctaLabel}</a>
            </span>
        </div>
        <sly data-sly-test="${tile.tileImage && properties.imgPosition == 'img-right'}">
            <div class="col-1 span3 span5-md span4-sm span4-xsm">
                <div data-sly-test="${!properties.imageBelowText}" class="img-wrapper">
                    <picture data-sly-test="${tile.tileImage}">
                        <!--[if IE 9]>
                        <![endif]-->
                        <img data-src="${tile.tileImage}" class='lazyload' alt="${properties.itemImageAltText ? properties.itemImageAltText :  tile.defaultImgAltText @context='html'}" title="${properties.itemImageAltText ? properties.itemImageAltText :  tile.defaultImgAltText @context='html'}"/>
                    </picture>
                </div>
            </div>
        </sly>
    </div>
</div>
