<sly data-sly-resource="${'courtesy-nav' @resourceType='/apps/att/marketing/enterprise/turnkey/business-circle/components/structure/courtesy-nav'}" data-sly-unwrap></sly>
<!--/*  Content area for bizhub article page */-->

<div class="container">
    <div class="section columncontrol">
        <div class="component-spacing-large">
            <div class="row">
                <div class="main-par span10 span8-md span8-sm span12-xsm">
	                <div data-sly-resource="${'main_parsys' @resourceType='foundation/components/parsys'}"></div>
                </div>
                <div class="rightrail-par span4 span4-md span4-sm span12-xsm">
					<div class="email-sub-boiler" data-sly-resource="${'/content/att/marketing/enterprise/turnkey/business-circle/boilerplates/article-right-rail/jcr:content/main_parsys/emailsubsciption' @ resourceType='att/marketing/enterprise/turnkey/business-circle/components/content/emailsubsciption'}"></div>
                	<div data-sly-resource="${'rightRail_parsys' @resourceType='foundation/components/parsys'}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fullwidth-gray">
    <div class="container">
        <div data-sly-resource="${'bottom_parsys' @resourceType='foundation/components/parsys'}"></div>
    </div>
</div>




















