<!--/*  Global header */-->

<sly data-sly-test="${pageProperties.cq:template == '/apps/att/sales/consumer/marketing/upper-funnel/templates/home-page'}" >
	<h1 class="hidden-spoken">Welcome to ATT.com</h1>
</sly>

<!-- Desktop Header -->

<sly data-sly-include="partials/tesla-header.html" data-sly-unwrap/> 

<!-- Mobile Header -->

<header class="navbar globalNav header-mobile"> 

     <a href=//m.att.com id=logoHolder> <i class=cssIcon-globe>at&amp;t home</i> </a>

	 <div data-sly-test="${properties.cartType && properties.cartType != 'none' && properties.cartType != 'none'}"    
   		   data-sly-resource="${'shopping-cart-mobile' @selectors='mobile',
           		resourceType='att/global/all/cms/common/components/content/general/shopping-cart'}" data-sly-unwrap></div>    

    <nav>
        <script type=text/javascript>
            var mobileMenu_ecomName = 'm.att.com',
                mobileMenu_dssName = 'https://m.att.com',
                searchSilo = "shop";
            var g_hideSearch = false;
        </script>
    </nav>
</header>

<sly data-sly-use.globalHeader = "global-header.js"></sly>
<div class="mobile-login">    
    <img src="${globalHeader.mobileLoginImagePath}" alt="" role="img" aria-label="my A T and T">
    <a href="${globalHeader.loginActionURL}">${globalHeader.loginLabel}<span><i class="icon-right"></i></span></a>
</div> 

<!--[if lt IE 10]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->