 		  <!--/*   Mobile Footer  */-->
 			
            <footer class=footer-mobile>
                <div id=footerNav>
                    <div class="ui-block-a row-fluid"> <a href=//www.att.net>ATT.NET</a> </div>
                    <div class="ui-block-b row-fluid"> <a href="//www.att.com/gen/general?pid=11627">BUSINESS</a> </div>
                    <div class="ui-block-c row-fluid"> <a href=//about.att.com/category/all_news.html>ABOUT AT&amp;T</a> </div>
                </div>
                <div id=footerBtm>
                    <ul>
                        <li><a href="//www.att.com/">FULL SITE</a>
                        </li>
                        <li><a href="//www.att.com/gen-mobile/privacy-policy?pid=2506">PRIVACY</a>
                        </li>
                        <li><a href="//www.att.com/gen-mobile/general?pid=11561">TERMS OF USE</a>
                        </li>
                    </ul>
                    <ul>
                        <li><a href="//www.att.com/econtactus/">CONTACT US</a>
                        </li>
                        <li><a href=//m.att.com/shopmobile/wireless/legal.html>LEGAL</a>
                        </li>
                        <li><a class="langLink" data-href="https://www.att.com/es-us/" href="https://www.att.com/es-us/" id="ge5p_z1-change-language" data-lang ="es" mporgnav="">Espa&ntilde;ol</a>
                        </li>
                    </ul>
                    <p><a href="//www.att.com/gen-mobile/privacy-policy?pid=2587">&copy; <span class=copyright>2014</span> AT&amp;T Intellectual Property.</a> All rights reserved. AT&T and Globe logo are registered trademarks of AT&T Intellectual Property.</p>
                </div>
            </footer>
            <!-- Desktop Footer -->
            <sly data-sly-include="partials/tesla-footer.html" data-sly-unwrap/> 