<style>
    .bg-grey {
        background-color: #595959;
    }
    .scn-bg-black {
        background-color: black;
    }
</style>

<div class="container-fluid bg-grey">
    <div class="container">
        <!-- Start Primary Nav-->
        <div class="row">
            <div id="globalNav" class="en_US hardRock">
                <div id="globalNavInterface" class="ecom">
                    <div id="segMenuContainer">
                        <ul class="segMenu" id="leftSegMenu">
                            <li><a id="segMenuItemPersonal" class="segMenuItem" href="https://www.att.com/offers/"><span>Personal</span></a>
                                <div class="gm-pop-container" style="display: none;">
                                    <ul class="gm-pop">
                                        <li class="gm-menu-pop-item">
                                            <a href="https://www.att.com/offers/">att.com</a>
                                            <a href="https://att.yahoo.com/">att.net</a>
                                            <a href="http://uverse.com/">uverse.com</a>
                                            <a href="https://my-digitallife.att.com/learn/home-security-and-automation">Digital life</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a id="segMenuItemBusiness" class="segMenuItem hasSubMenu selectedChevron1" href="//www.att.com/gen/general?pid=11627"><span>Business</span></a>
                                <div class="gm-pop-container" style="display: none;">
                                    <ul class="gm-pop">
                                        <li class="gm-menu-pop-item">
                                            <a href="https://www.att.com/smallbusiness/shop/index.html">Small Business</a>
                                            <a href="https://www.business.att.com/">Enterprise Business</a>
                                            <a href="https://www.business.att.com/wholesale/partner-solutions/">Partner Solutions</a>
                                            <a href="https://www.att.com/gen/general?pid=11625">Government</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="rightMost"><a id="segMenuItemAboutATT" class="segMenuItem" href="http://www.att.com/gen/landing-pages?pid=3309"><span>About AT&amp;T</span></a>
                                <div class="gm-pop-container" style="display: none;">
                                    <ul class="gm-pop">
                                        <li class="gm-menu-pop-item">
                                            <a href="http://about.att.com/category/all_news.html">About AT&amp;T</a>
                                            <a href="https://www.att.com/gen/landing-pages?pid=5718">Investor Relations</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Primary Nav-->
    </div>
</div>


<div class="container-fluid scn-bg-black">
    <div class="container">
        <!-- Start Secondary Nav -->
    <div class="row">
        <div id="primary-wrapper">
            <div class="header-wrapper">
                <!-- header-->
                <div id="header" class="resp-header">
                    <a href="//www.business.att.com/">
                        <div class="logo">&nbsp;</div>
                    </a>
                    <a href="//www.business.att.com/">
                        <div class="segment">Enterprise Business</div>
                    </a>
                    <!-- Menu -->
                    <!-- main navigation -->
                    <div id="mainNavigation">
                        <ul id="primaryNav">
                            <li>
                                <div class="menu-divider"><a href="/enterprise/business-solutions/">Products &amp; Services</a></div>
                                <div class="secondaryNav" style="display:none;">
                                    <ul>
                                        <li>
                                            <a href="/enterprise/Portfolio/mobility-services/">Mobility<br>Services</a>
                                        </li>
                                        <li>
                                            <a href="/enterprise/Portfolio/network-services/">Network<br>Services</a>
                                        </li>
                                        <li>
                                            <a href="/enterprise/Portfolio/internet-of-things/">Internet of<br>Things (IoT)</a>
                                        </li>
                                        <li>
                                            <a href="/enterprise/Portfolio/collaboration/">Voice and<br>Collaboration</a>
                                        </li>
                                        <li>
                                            <a href="/enterprise/Portfolio/cybersecurity/">Cybersecurity<br>Services</a>
                                        </li>
                                        <li>
                                            <a href="/enterprise/Portfolio/cloud/">Cloud<br>Services</a>
                                        </li>
                                        <li>
                                            <a href="/enterprise/Portfolio/enterprise-mobility-management/">Enterprise Mobility<br>Management</a>
                                        </li>
                                        <li>
                                            <a href="/enterprise/Portfolio/hosting-services/">Hosting<br>Services</a>
                                        </li>
                                        <li>
                                            <a href="/enterprise/Portfolio/application-services/">Application<br>Services</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- secondaryNav -->
                            </li>
                            <!-- ForEach -->
                            <li>
                                <div class="menu-divider"><a href="/enterprise/support/">Support</a></div>
                                <div class="secondaryNav" style="display:none;">
                                    <ul>
                                        <li class="menu-link">
                                            <a href="/enterprise/support/"> <br> Get Help &amp; Support</a>
                                        </li>
                                        <li class="menu-link">
                                            <a href="https://forums.att.com/t5/Business-Community/ct-p/Business_Community" rel="nofollow">
                                                <br> Business Community</a>
                                        </li>
                                        <li class="menu-link">
                                            <a href="/enterprise/support/contact/"> <br> Contact AT&amp;T Business </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="menu-divider"><a href="#">Learn</a></div>
                                <div class="secondaryNav blogNav" style="display:none;">
                                    <ul style="height: 57px;">
                                        <li class="menu-link"><a href="#">Empowered Workforce</a></li>
                                        <li class="menu-link"><a href="#">Operational Efficiency</a></li>
                                        <li class="menu-link"><a href="#">Secure Networking</a></li>
                                        <!--li class="menu-link">
                                            <a href="#"> Power
                                                of &</a>
                                        </li -->
                                        <li class="menu-link dropdown">
                                            <a href="#"><img src="/ui/marketing_ent_turn_buscircle/1.0.0/images/menu-arrow.png"> Topics</a>
                                        </li>
                                    </ul>

                                    <div id="topicsInfo" style="display:none;">
                                        <a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:mobile-technology">Mobile Technology</a>
                                        <a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:collaboration-communication">Collaboration & Communication</a>
                                        <a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:internet-of-things">Internet of Things (IoT)</a>
                                        <a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:cloud">Cloud</a>
                                        <a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:cybersecurity">Cybersecurity</a>
                                        <a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:network-connectivity">Network & Connectivity</a>
                                        <a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:marketing-technology">Marketing Technology</a>
                                        <a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:business-operations">Business Operations</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /main navigation -->
                    <div class="slider_m menu-icon" id="icon-menu"></div>
                    <ul class="search">
                        <li>
                            <form action="https://www.att.com/global-search/search.jsp" name="searchForm" id="searchForm" method="get" role="search">
                                <fieldset>
                                    <input type="hidden" value="HOME" name="App_ID">
                                    <input type="hidden" value="FALSE" name="autoSuggest">
                                    <input type="hidden" value="FALSE" id="tabPressed" name="tabPressed">
                                    <input type="text" class="inputbox" onclick="if(this.value == 'Search Enterprise for') this.value='';" onfocus="this.value=''"
                                        value="Search" title="Search Input (Access Key 4)." accesskey="4" maxlength="256" size="25"
                                        name="q" id="q" autocomplete="off">
                                    <input type="submit" value="" class="btnGo cssIcon-search" id="searchSubmit">
                                    <div class="autoSuggest" id="autoSuggestBox"></div>
                                    <div id="gn-search-box" class="hidden-spoken" role="status" aria-live="assertive" aria-relevant="additions"></div>
                                </fieldset>
                            </form>
                            <!-- <form action="https://www.att.com/global-search/search.jsp" name="searchForm" id="searchForm" method="get" role="search">  
                            <fieldset> 	  
                                <input type="hidden" value="HOME" name="App_ID"> 	  
                                <input type="hidden" value="FALSE" name="autoSuggest"> 	  
                                <input type="hidden" value="FALSE" id="tabPressed" name="tabPressed"> 	  
                                <input type="text" aria-label="Search" class="ask_a_question_box" id="ge5p_search" name="q" placeholder="Search" autocomplete="off" aria-autocomplete="list" aria-haspopup="true"> 	  
                                <input type="submit" class="cssIcon-search" value="Search Submit Button" alt="Search Submit Button">	  
                                <div class="autoSuggest" id="autoSuggestBox"></div>   <div id="gn-search-box" class="hidden-spoken" role="status" aria-live="assertive" aria-relevant="additions"></div>  
                            </fieldset> 
                        </form> -->
                        </li>
                    </ul>
                    <div class="goto-container">
                        <div class="goto-select">Log In <span class="goto-downarrow"></span></div>
                        <ul class="goto-options" style="display: none;">
                            <li value=""><a href="https://www.att.com/ebiz/registration/home.jsp#/login" target="_blank">Business Center</a></li>
                            <li value=""><a href="https://www.businessdirect.att.com/portal/index.jsp" target="_blank">BusinessDirect<sup class="regex-small">®</sup></a></li>
                            <li value=""><a href="https://www.synaptic.att.com/clouduser/login.htm;jsessionid=CB62470F2D5C9FE3AC262EE04E3E80B3"
                                    target="_blank">Cloud Solutions</a></li>
                            <li value=""><a href="https://www.wireless.att.com/business/index.jsp" target="_blank">Premier</a></li>
                            <li value=""><a href="https://my-attwifi.attwifi.com/ent_loginpage" target="_blank">Wi-Fi Services</a></li>
                        </ul>
                    </div>
                </div>
                <!-- header -->
            </div>
            <!-- header-wrapper -->
        </div>
        <div style="display: none;" id="side_wrapper">
            <div id="side-wrapper-header">
                <div id="mob_search">
                    <form name="mob_search" action="https://www.att.com/global-search/search.jsp" onsubmit="checkEntSearch(); return false;"
                        method="get">
                        <input id="qm" name="q" onclick="if(this.value == 'Search Enterprise for...') this.value='';" onfocus="this.value=''" onblur="this.value='Search'"
                            size="25" maxlength="256" value="Search" title="Search Input (Access Key 4)." autocomplete="off"
                            accesskey="4" class="search_text" type="text">
                        <input type="submit" value="" class="mob_button cssIcon-search">
                    </form>
                </div>
                <!-- #mob_search -->
            </div>
            <!-- #side-wrapper-header -->
            <div style="background-color:white;" id="inner_wrap">
                <ul class="mob_main_menu">
                    <li style="display: block;"><span style="display: none;" class="back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span>
                        <a href="/enterprise/business-solutions/">Products &amp; Services</a><span class="arrow_prod_m"><span class="blue-carat-right-icon">&nbsp;</span></span>
                    </li>
                    <li style="display: block;"><span style="display: none;" class="back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span>
                        <a href="/enterprise/support/">Support</a><span class="arrow_account_m"><span class="blue-carat-right-icon">&nbsp;</span></span>
                    </li>
                    <li style="display: block;"><span style="display: none;" class="back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span>
                        <a href="//networkingexchangeblog.att.com/">Learn</a><span class="arrow_blog_m"><span class="blue-carat-right-icon">&nbsp;</span></span>
                    </li>
                    <li><span class="back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span><a href="#">Log In</a>
                        <span class="arrow_goto_m"><span class="blue-carat-right-icon">&nbsp;</span></span>
                    </li>
                    <li><span class="back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span><a href="https://www.att.com/offers/">Personal</a>
                        <span class="arrow_personal_m"><span class="blue-carat-right-icon">&nbsp;</span></span>
                    </li>
                    <li><span class="back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span><a href="https://www.business.att.com/businesshome/">Business</a>
                        <span class="arrow_business_m"><span class="blue-carat-right-icon">&nbsp;</span></span>
                    </li>
                    <li><span class="back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span><a href="http://www.att.com/gen/landing-pages?pid=3309">About AT&amp;T</a>
                        <span class="arrow_about_m"><span class="blue-carat-right-icon">&nbsp;</span></span>
                    </li>
                </ul>
                <div class="sub_mob_menu">
                    <ul style="display:none;" class="sub_menu_wrap product">
                        <li><span class="sub_back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span>
                            <a href="/enterprise/Portfolio/mobility-services/">Mobility Services</a>
                        </li>
                        <li><span class="sub_back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span>
                            <a href="/enterprise/Portfolio/network-services/">Network Services</a>
                        </li>
                        <li>
                            <a href="/enterprise/Portfolio/internet-of-things/">Internet of Things (IoT)</a>
                        </li>
                        <li><span class="sub_back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span>
                            <a href="/enterprise/Portfolio/collaboration/">Voice and Collaboration</a>
                        </li>
                        <li><span class="sub_back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span>
                            <a href="/enterprise/Portfolio/cybersecurity/">Cybersecurity</a>
                        </li>
                        <li><span class="sub_back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span>
                            <a href="/enterprise/Portfolio/cloud/">Cloud Services</a>
                        </li>
                        <li><span class="sub_back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span>
                            <a href="/enterprise/Portfolio/enterprise-mobility-management/">Enterprise Mobility Management</a>
                        </li>
                        <li><span class="sub_back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span>
                            <a href="/enterprise/Portfolio/hosting-services/">Hosting<br>Services</a>
                        </li>
                        <li><span class="sub_back_arrow"><span class="blue-carat-left-icon">&nbsp;</span></span>
                            <a href="/enterprise/Portfolio/application-services/">Application<br>Services</a>
                        </li>
                    </ul>
                </div>
                <div class="sub_mob_menu">
                    <ul class="sub_menu_wrap account" style="display:none;">
                        <li> <a href="/enterprise/support/">Get Help &amp; Support</a></li>
                        <li> <a href="https://forums.att.com/t5/Business-Community/ct-p/Business_Community" rel="nofollow">Business Community</a></li>
                        <li> <a href="/enterprise/support/contact/">Contact AT&amp;T Business </a></li>
                    </ul>
                </div>
                <div class="sub_mob_menu">
                    <!-- Blog custom menu -->
                    <ul class="sub_menu_wrap blog" style="display:none;">
                        <!-- Learn Mobile Options Menu -->
                        <li><a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:mobile-technology">Mobile Technology</a></li>
                        <li><a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:collaboration-communication">Collaboration & Communication</a></li>
                        <li><a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:internet-of-things">Internet of Things (IoT)</a></li>
                        <li><a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:cloud">Cloud</a></li>
                        <li><a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:cybersecurity">Cybersecurity</a></li>
                        <li><a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:network-connectivity">Network & Connectivity</a></li>
                        <li><a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:marketing-technology">Marketing Technology</a></li>
                        <li><a href="/content/att/marketing/enterprise/turnkey/business-circle/home/topic.html?tag=business-circle:business-operations">Business Operations</a></li>
                        <!-- li><a href="https://networkingexchangeblog.att.com/topics/the-internet-of-things">The Internet of Things (IoT)</a></li>
                        <li><a href="https://networkingexchangeblog.att.com/topics/mobile-business-technology">Mobile Business Technology</a></li>
                        <li><a href="https://networkingexchangeblog.att.com/topics/security-in-the-enterprise">Security Resource Center</a></li>
                        <li><a href="https://networkingexchangeblog.att.com/topics/leadership-perspectives">Leadership Perspectives</a></li>
                        <li><a href="https://networkingexchangeblog.att.com/topics/cloud-enabled-business">Cloud Enabled Business</a></li>
                        <li><a href="https://networkingexchangeblog.att.com/topics/enhancing-the-customer-experience">Enhancing Customer Experience</a></li>
                        <li><a href="https://networkingexchangeblog.att.com/topics/workforce-collaboration">Workforce Collaboration</a></li>
                        <li><a href="https://networkingexchangeblog.att.com/topics/future-of-networks">Future of Networks</a></li>
                        <li><a href="https://networkingexchangeblog.att.com/agility/">Power of &amp;</a></li -->
                    </ul>
                </div>
                <div class="sub_mob_menu">
                    <ul style="display: none;" class="sub_menu_wrap goto">
                        <li class=""><a href="https://www.att.com/ebiz/registration/home.jsp#/login" target="_blank">Business Center</a></li>
                        <li class=""><a href="https://www.businessdirect.att.com/portal/index.jsp" target="_blank">BusinessDirect<sup class="regex-small">®</sup></a></li>
                        <li class=""><a href="https://www.synaptic.att.com/clouduser/login.htm;jsessionid=CB62470F2D5C9FE3AC262EE04E3E80B3"
                                target="_blank">Cloud Solutions</a></li>
                        <li class=""><a href="https://www.wireless.att.com/business/index.jsp" target="_blank">Premier</a></li>
                        <li class=""><a href="https://my-attwifi.attwifi.com/ent_loginpage" target="_blank">Wi-Fi Services</a></li>
                    </ul>
                </div>
                <div class="sub_mob_menu">
                    <ul style="display:none;" class="sub_menu_wrap personal">
                        <li><a href="https://www.att.com/offers/">att.com</a></li>
                        <li><a href="https://att.yahoo.com">att.net</a></li>
                        <li><a href="http://uverse.com/">uverse.com</a></li>
                        <li><a href="https://my-digitallife.att.com/learn/home-security-and-automation">Digital life</a></li>
                    </ul>
                </div>
                <div class="sub_mob_menu">
                    <ul style="display:none;" class="sub_menu_wrap business">
                        <li><a href="https://www.att.com/smallbusiness/shop/index.html">Small Business</a></li>
                        <li><a href="https://www.business.att.com/">Enterprise Business</a></li>
                        <li><a href="https://www.business.att.com/wholesale/partner-solutions/">Partner Solutions</a></li>
                        <li><a href="https://www.att.com/gen/general?pid=11625">Public Sector</a></li>
                    </ul>
                </div>
                <div class="sub_mob_menu">
                    <ul style="display: none;" class="sub_menu_wrap about">
                        <li class=""><a href="http://about.att.com/category/all_news.html">About AT&amp;T</a></li>
                        <li class=""><a href="https://www.att.com/gen/landing-pages?pid=5718">Investor Relations</a></li>
                    </ul>
                </div>
            </div>
            <!-- #inner_wrap -->
        </div>
        <!-- side_wrapper -->
    </div>
    <!-- End Secondary Nav -->
    </div>
</div>