<div data-sly-test.valid="${Properties.eyebrow}"></div>

<div data-sly-test="${!valid && wcmmode.edit}">Please author Promos here</div>
<div class="marquee-wrapper">
    <div id="home-marquee"  class="marquee slick-enabled" data-slick-configuration="default" data-slick-speed="${properties.rotatingspeed}" data-sly-list.child="${properties.eyebrow}">
    <div class="slide background-color-${childList.index}">
       <div class="container">
             <div class="slide-content span6">
                <p class="eyebrow">${properties.eyebrow[childList.index]}<span class="reg">&REG;</span></p>
                <h1>${properties.heading[childList.index]}</h1>
                <p class="subhead">${properties.subheading[childList.index]}<span class="reg">&REG;</span></p>
                <p class="legal">${properties.legalterms[childList.index]}<a href="${properties.legaltermsdesktopurl[childList.index]}" class="desktop-show" target="_blank">${properties.legaltermslearnmore[childList.index]}.</a><a href="${properties.legaltermsmobileurl[childList.index]}" class="mobile-show" target="_blank">${properties.legaltermslearnmore[childList.index]}.</a></p>
                <a href="${properties.ctadesktopurl[childList.index]}" target="_blank" class="cta desktop-show">${properties.ctatitle[childList.index]}</a>
                <a href="${properties.ctamobileurl[childList.index]}" target="_blank" class="cta mobile-show">${properties.ctatitle[childList.index]}</a>
             </div>
          </div>
        </div>
      </div>
       <div class="marquee-controls" data-sly-list.child="${properties.eyebrow}">
        <a href='#' class="slide-control active">
          <div class="slide-control-left">
             <div class="thumbnail-wrapper">
                <img src="${properties.thumbnailImage[childList.index]}" alt="">
             </div>
          </div>
          <div class="slide-control-right">
            <p>${properties.eyebrow[childList.index]}</p>
          </div>
        </a>
      </div>
</div>




