<div class="container">
	<div class="author-small-bio-wrapper display-${properties.display}" data-sly-use.author="apps.att.marketing.enterprise.turnkey.business_circle.components.content.author_small_bio.AuthorSmallBio">
		<sly data-sly-test="${properties.display == 'nameOnly' && author.profilePage}">
			By <a class="author-name" href="${author.profilePage}">${author.givenName} ${author.familyName}</a>
		</sly>
		<sly data-sly-test="${properties.display == 'nameOnly' && !author.profilePage}">
			<span class="author-name">By ${author.givenName} ${author.familyName}</span>
		</sly>
		<sly data-sly-test="${properties.display != 'nameOnly'}">
			<div class="picture">
				<img src="${author.image}" alt="" />
			</div>
			<div class="text">
				<h3 class="heading-sub-section name">${author.givenName} ${author.familyName}</h3>
				<p data-sly-test="${author.aboutMe}" class="description">${author.aboutMe}</p>
				<div class="btns">
					<a data-sly-test="${author.externalWebsite}" href="${author.externalWebsite}">${author.externalWebsite}</a>
					<a data-sly-test="${author.profilePage}" href="${author.profilePage}">About ${author.givenName}</a>
				</div>
			</div>
		</sly>
	</div>
</div>
