<div data-sly-test="${currentPage.properties['author']}" class="container">
    by <a href="${currentPage.properties['authorURL']}" data-sly-unwrap="${!currentPage.properties['authorURL']}">${currentPage.properties["author"]}</a>
</div>