<div class="container">
	<div class="twitter-quote" data-sly-use.tweet="twitter-quote.js">

        <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
        <blockquote data-sly-test="${!tweet.quote}" class="empty">Please configure Twitter Quote component</blockquote>
        <blockquote data-sly-test="${tweet.quote}">${tweet.quote}</blockquote>
        <a data-sly-test="${tweet.id}" class="retweet btn btn-secondary btn-small" href="https://twitter.com/intent/retweet?tweet_id=${tweet.id}"><i class="icon-social-twitterL"></i> Share this</a>
	</div>
</div>