<!--/*  Global header */-->

<sly data-sly-test="${pageProperties.cq:template == '/apps/att/sales/consumer/marketing/upper-funnel/templates/home-page'}" >
	<h1 class="hidden-spoken">Welcome to ATT.com</h1>
</sly>

<!-- Desktop Header -->

<sly data-sly-include="partials/tesla-header.html" data-sly-unwrap/> 

<!-- Mobile Header -->

<!--[if lt IE 10]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->