<!--/*
    Copyright 2015 Adobe Systems Incorporated
    
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
    
        http://www.apache.org/licenses/LICENSE-2.0
    
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
    */-->
<meta http-equiv=Content-Type content="text/html; charset=UTF-8" data-sly-use.head="head.js">
<title>${head.title}</title>
<meta name=viewport content="width=device-width,initial-scale=1">
<meta http-equiv=X-UA-Compatible content="IE=EDGE">
<meta data-sly-test="${properties.metaKeywords}" name="keywords" content="${properties.metaKeywords}" />
<meta data-sly-test="${properties.jcr:description}" name="description" content="${properties.jcr:description}" />
<meta data-sly-test="${properties.metaRobots}" name="robots" content="${properties.metaRobots}" />
<meta data-sly-test="${properties.navTitle}" name="breadcrumb" content="${properties.navTitle}" />
<meta data-sly-test="${properties.onPageSeoDesc}" name="onPageSeoDesc" content="${properties.onPageSeoDesc}" />
<meta name="verify-v1" content="byKACSdFnpnvPyDbbtC1Ca4gjO9crDrmfX9T0LrkRaI=">
<meta name="msvalidate.01" content="1A67BDDDDB844ABA85FD37D994D537C8">
<link data-sly-test="${properties.linkRelCanonical}" rel="canonical" href="${properties.linkRelCanonical}"/>
<link data-sly-test="${properties.linkRelAltMedia}" rel="alternate" media="only screen and (max-width: 640px)" href="${properties.linkRelAltMedia}"/>
<!--/*  Open Graph Tags */--> 
<meta data-sly-test="${properties.ogTitle}" property="og:title" content="${properties.ogTitle}" />
<meta data-sly-test="${properties.ogType}"  property="og:type" content="${properties.ogType}" />
<meta data-sly-test="${properties.ogUrl}"   property="og:url" content="${properties.ogUrl}" />
<meta data-sly-test="${properties.ogImage}" property="og:image" content ="${properties.ogImage}" />
<meta data-sly-test="${properties.ogDescription}" property="og:description" content="${properties.ogDescription}" />
<meta data-sly-test="${properties.ogSite_name}" property="og:site_name" content="${properties.ogSite_name}" />
<!--/*  dns-prefetch */--> 
<meta content="on" http-equiv="x-dns-prefetch-control"/>
<sly data-sly-list="${head.dnsUrls}">  
    <link href="${item}" rel="dns-prefetch"/>
</sly>
<sly data-sly-use.head="head.js" data-sly-unwrap><script type="text/javascript" src="${head.goldeneyeUrl @ context='uri'}" ></script></sly>