<!--/*
    Copyright 2015 Adobe Systems Incorporated 
  
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->

<!--/* Include Adobe Dynamic Tag Management libraries for the header */-->
<!--/* <sly data-sly-include="/libs/cq/cloudserviceconfigs/components/servicelibs/servicelibs.jsp" data-sly-unwrap/> */-->
<div data-sly-use.dtm="dtm.js" data-sly-unwrap/>
<sly data-sly-use.headlibs="common.js"/>
<!--/* Initializes the Experience Manager authoring UI */-->
<sly data-sly-include="/libs/wcm/core/components/init/init.jsp" data-sly-unwrap/>
 
<!-- Place favicon.ico and apple-touch-icon.png in the root directory --> 

<link rel=stylesheet href=/ui/upperfunnel/${headlibs.uiAssetsJsCssVersionNumber}/styles/vendor.css>
<link rel=stylesheet href=/ui/upperfunnel/${headlibs.uiAssetsJsCssVersionNumber}/styles/main.css>
<link rel=stylesheet href=/ui/marketing_ent_turn_buscircle/1.0.0/styles/main.css>

<style type="text/css">
	 div.campaign-body { visibility: inherit; }
     div.campaign-link-farm { visiblity: inherit; }
</style>

<sly data-sly-test="${!wcmmode.edit && !wcmmode.design && !wcmmode.preview}" 
                   data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='att.core'}"/>
<sly data-sly-test="${properties.enableClientContext}" 
                   data-sly-resource="${'clientContext' @resourceType='cq/personalization/components/clientcontext'}"></sly>
<script src='${dtm.dtmContainerHeaderJsPath}'></script>
<!--/* include dynamicjscssgroups component for including JS and CSS files dynamically based on component group and main.js config file
<sly data-sly-resource="${ @path='dynamicjscssgroups', resourceType='att/global/all/cms/common/components/content/ui/dynamicjscssgroups'}" data-sly-unwrap/>
*/-->
<!--==== Start TESLA REQUIRED NOSCRIPT CSS ======================================================================-->
<noscript> 
              <style type="text/css"> 
                    @import "/globalnav/tesla/2.0/themes/tesla.theme.min.css"; 
              </style> 
       </noscript>
<!--==== End TESLA REQUIRED NOSCRIPT CSS =======================================================================-->
<sly data-sly-test = "${pageProperties.saveQueryToLocalStrg}">
	<sly data-sly-use.query = "../query-lookup.js"></sly>
	<script>
		var sURL = window.document.URL.toString();
		var prmstr = window.location.search.substr(1);
		var lookupValues = '${query.lookupValues @ context="scriptString"}';
		var lookupValuesArray = lookupValues.split(',');

		if (sURL.indexOf('?') > 0) {
			var arrURLParams = prmstr.split('&');
			var arrParamNames = new Array(arrURLParams.length);
			var arrParamValues = new Array(arrURLParams.length);
			var i = 0;
			for (i = 0; i < arrURLParams.length; i++) {
				var sParam = arrURLParams[i].split('=');
				if ((unescape(sParam[1]) != 'undefined') && (unescape(sParam[1]) != '') && (unescape(sParam[1]) != 'disabled')) {
					arrParamNames[i] = sParam[0];
					arrParamValues[i] = unescape(sParam[1]);
					if (compareKey(lookupValuesArray, arrParamNames[i])) {
						CQ_Analytics.ProfileDataMgr.setProperty(arrParamNames[i], arrParamValues[i]);
					}
				}
			}
		}

		function compareKey(arr, val) {
			for (var i = 0; i < arr.length; i++) {
				if (arr[i] == val) {
					return true;
				}
			}
			return false;
		}
		
		
			
    </script>
</sly>
<script>
        var privateBrowsingMsg = "Private Browsing is on. To experience the full set of features on our mobile site and log in, please turn private browsing off."; 
		var testKey = 'qeTest', 
		storage = window.sessionStorage; 
		try { 
				//Try to catch quota exceeded errors 
				storage.setItem(testKey, '1'); 
				storage.removeItem(testKey); 
			} catch(error) { 
				if(error.code === DOMException.QUOTA_EXCEEDED_ERR && storage.length === 0) { 
					alert(privateBrowsingMsg); 
				} else { throw error; } 
			}
</script>
<!--==== Include JSON from cto-mapping component======================================================================-->
<sly data-sly-include="/apps/att/global/all/cms/common/components/content/general/cto-mapping/cto-mapping-values.html"/>