
		
		
<!-- Desktop Footer -->
        <div class="ge5p_global_styles footer-desktop">
            <div id="ge5p_z7" class="ge5p_z7 container" role="contentinfo">
                <!-- Start zone 7 Html for SEO (Footer) -->
                <div id="ge5p_z7-brand-elements" class="ge5p_z7-brand-elements row-fluid">
                    <ul id="ge5p_z7-brand-elements-holder">
                        <li>
                            <p class="ge5p_z7-dotCom">
                                <a tabindex="0" href="http://www.att.com/" id="ge5p_z7_s1001">
                                    <img width="133px" height="24px" alt="Shop, Service, Support." src="//www.att.com/media/att/2011/global/nav/en_US/logoATTdotcom.png">
                                </a>
                            </p>
                        </li>
                        <li>
                            <p class="ge5p_z7-dotNet">
                                <a tabindex="0" href="http://att.yahoo.com/" id="ge5p_z7_s1002" target="_blank">
                                    <img width="173px" height="21px" alt="E-mail - News - Weather &amp; More" src="//www.att.com/media/att/2011/global/nav/en_US/logoATTdotnet.png"><i class="cssIcon-open-window-b"></i><span class="hidden-spoken">This link will open a new window</span>
                                </a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="row-fluid">
                    <hr class="ge5p-fancy-line">
                </div>
                <div id="ge5p_z7-key-links" class="ge5p_z7-key-links row-fluid">
                    <h2 class="hidden-spoken" id="ge5p_z7-key-links-heading">ATandT Key Links</h2>
                    <ul id="ge5p_z7-key-links-holder" aria-describedby="ge5p_z7-key-links-heading" class="text-left">
                        <li><a tabindex="0" href="http://www.att.com/legal/legal-policy-center.html" id="ge5p_z7_s2001" target="_blank">Legal Policy Center<i class="cssIcon-open-window-b"></i><span class="hidden-spoken">This link will open a new window</span></a>
                        </li>
                        <li><a tabindex="0" href="http://www.att.com/gen/privacy-policy?pid=2506" id="ge5p_z7_s2002" target="_blank">Privacy Policy<i class="cssIcon-open-window-b"></i><span class="hidden-spoken">This link will open a new window</span></a>
                        </li>
                        <li><a tabindex="0" href="http://www.att.com/yourchoices" id="ge5p_z7_s2003" target="_blank">Your Choices<i class="cssIcon-open-window-b"></i><span class="hidden-spoken">This link will open a new window</span></a>
                        </li>
                        <li><a tabindex="0" href="http://att.jobs/" id="ge5p_z7_s2004" target="_blank">Careers<i class="cssIcon-open-window-b"></i><span class="hidden-spoken">This link will open a new window</span></a>
                        </li>
                        <li><a tabindex="0" href="http://www.att.com/contactus/" id="ge5p_z7_s2005" target="_blank">Contact Us<i class="cssIcon-open-window-b"></i><span class="hidden-spoken">This link will open a new window</span></a>
                        </li>
                        <li><a tabindex="0" href="http://www.att.com/gen/general?pid=11561" id="ge5p_z7_s2006" target="_blank">Terms of Use<i class="cssIcon-open-window-b"></i><span class="hidden-spoken">This link will open a new window</span></a>
                        </li>
                        <li><a tabindex="0" href="http://www.att.com/homepage/sitemap.html" id="ge5p_z7_s2007" target="_blank">Site Map<i class="cssIcon-open-window-b"></i><span class="hidden-spoken">This link will open a new window</span></a>
                        </li>
                        <li><a tabindex="0" href="http://www.wireless.att.com/learn/articles-resources/disability-resources/disability-resources.jsp" id="ge5p_z7_s2008" target="_blank">Accessibility<i class="cssIcon-open-window-b"></i><span class="hidden-spoken">This link will open a new window</span></a>
                        </li>
                        <li><a tabindex="0" href="http://www.att.com/gen/public-affairs?pid=20107" id="ge5p_z7_s2009" target="_blank">Wireless Emergency Alerts<i class="cssIcon-open-window-b"></i><span class="hidden-spoken">This link will open a new window</span></a>
                        </li>
                        <li><a tabindex="0" href="http://preferences-mgr.truste.com/?&amp;type=att&amp;pid=ATT_Publisher" id="ge5p_z7_s2010" target="_blank">Advertising Choices<i class="cssIcon-open-window-b"></i><span class="hidden-spoken">This link will open a new window</span></a>
                        </li>
                        <li><a tabindex="0" href="http://www.att.com/internal/broadbandinfo" id="ge5p_z7_s2011" target="_blank">Broadband Information<i class="cssIcon-open-window-b"></i><span class="hidden-spoken">This link will open a new window</span></a>
                        </li>
                    </ul>
                </div>
                <div id="ge5p_z7-copyright-legal" class="ge5p_z7-copyright-legal row-fluid">
                    <div class="text-left">
                        <p><a tabindex="0" href="http://clicks.att.com/OCT/eTrac?EMAIL_ID=1012748074&amp;finalURL=http://att.com/Trademark-Copyright-Privacy-Policy?source=EACQM0ftr0000000E" id="ge5p_z7_s3001" target="_blank">© 2015 AT&amp;T Intellectual Property.<i class="cssIcon-open-window-b"></i><span class="hidden-spoken">© 2015 AT&amp;T Intellectual Property. link. This link will open a new window </span><span class="hidden-spoken">This link will open a new window</span></a>  <span>All rights reserved. AT&amp;T, Globe logo, Mobilizing Your World and DIRECTV are registered trademarks of AT&amp;T Intellectual Property and/or AT&amp;T affiliated companies. All other marks are the property of their respective owners.</span>
                        </p>
                        <p></p>
                    </div>
                </div>
                <div id="ge5p_z7-partners-affiliates-awards" class="ge5p_z7-partners-affiliates-awards row-fluid">
                    <ul>
                        <li>
                            <a tabindex="0" href="http://www.ctia.org/" id="ge5p_z7_s4001" target="_blank">
                                <img src="//www.att.com/salescms/dam/2013/global/nav/logoCTIA.png" alt="The first nationwide carrier to be awarded the Seal of Wireless Quality. For details, visit www.ctia.org."><span class="hidden-spoken"> link. The first nationwide carrier to be awarded the Seal of Wireless Quality. For details, visit www.ctia.org.</span><span class="hidden-spoken">This link will open a new window</span>
                            </a>
                        </li>
                        <li>
                            <a tabindex="0" href="http://www.bbb.org/atlanta/business-reviews/telephone-companies/atandt-in-atlanta-ga-7935" id="ge5p_z7_s4002" target="_blank">
                                <img src="//www.att.com/salescms/dam/2013/global/nav/logoBBB.png" alt="Click to verify BBB accreditation and to see a BBB report."><span class="hidden-spoken"> link. Click to verify BBB accreditation and to see a BBB report.</span><span class="hidden-spoken">This link will open a new window</span>
                            </a>
                        </li>
                        <li>
                            <a tabindex="0" href="http://clicktoverify.truste.com/pvr.php?page=validate&amp;companyName=AT%26T&amp;sealid=101" id="ge5p_z7_s4003" target="_blank">
                                <img src="//www.att.com/salescms/dam/2013/global/nav/logoTRUSTe.png" alt="This site is certified by TRUSTe"><span class="hidden-spoken"> link. This site is certified by TRUSTe</span><span class="hidden-spoken">This link will open a new window</span>
                            </a>
                        </li>
                        <li>
                            <a tabindex="0" href="http://uverse.com/sports/network/teamusa" id="ge5p_z7_s4004" target="_blank">
                                <img src="//www.att.com/salescms/dam/2013/global/nav/logoOlympics.png" alt="USA Proud Sponsor of the U.S. Olympic Team"><span class="hidden-spoken"> link. USA Proud Sponsor of the U.S. Olympic Team</span><span class="hidden-spoken">This link will open a new window</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End zone 7 Html for SEO --> 
            </div>
        </div>
