<template data-sly-template.templateAppleMarquee="${@ item}">
<sly data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}"></sly>  
  <div class="desktop-img-wrapper desktop-tablet-only">
        <img src="${item.foregroundImage}" alt="">
    </div>
    <div class="mobile-img-wrapper">
        <a data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.ctaMobileUrl}" href="${urlProcessorMobile.finalURL}" class="mobile-img-anchor"></a>
		<img src="${item.mobileForegroundImage}" alt="" class="mobile-img">
    </div>
    <div class="cta-wrapper">
        <div data-sly-test=${item.taglineImage} class="tagline-wrapper">
            <img src="${item.taglineImage}" class="tag-line" alt="">
        </div>
        <div class="buttons-wrapper">
            <a data-sly-test="${item.ctaTitle && item.ctaDesktopUrl}" data-sly-use.urlProcessorDesktop="${'url-processor.js' @ url  = item.ctaDesktopUrl}"
                data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.ctaMobileUrl}"
                href="${urlProcessorDesktop.finalURL}" 
                data-mobile-url="${urlProcessorMobile.finalURL}" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${item.ctaTitle}', 'events.linkPosition':'Marquee', 'events.linkDestinationUrl':'${urlProcessorDesktop.finalURL}'}"
                class="btn btn-wide ${item.buttonColorCta ? item.buttonColorCta : 'btn-primary-promo'}" role="button" data-mobile-url="${item.ctaMobileUrl}">${item.ctaTitle}
            </a>
            <a data-sly-test="${item.learnMore && item.learnMoreDesktopUrl}" data-sly-use.urlProcessorDesktop="${'url-processor.js' @ url =
			    item.learnMoreDesktopUrl}"
                data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.learnMoreMobileUrl}"
                href="${urlProcessorDesktop.finalURL}" 
                data-mobile-url="${urlProcessorMobile.finalURL}" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${item.learnMore}', 'events.linkPosition':'Marquee', 'events.linkDestinationUrl':'${urlProcessorDesktop.finalURL}'}"
                class="btn btn-wide ${item.buttonColorCta ? item.buttonColorCta : 'btn-primary-promo'}" role="button" data-mobile-url="${item.learnMoreMobileUrl}">${item.learnMore}
            </a>
        </div>
    </div>
</template>