<template data-sly-template.channelPromo="${@ item}">
    <sly data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}"></sly>
    <div class="container">
        <div class="row">
            <div class="slide-content text-white  ${item.textAlign} " tabindex="-1">
                <h2 class="${item.classFontSizeHeading}">${item.heading @ context='html'}</h2>
				<div data-sly-test.finalMobileSubHeading="${item.mobileSubHeading ? item.mobileSubHeading : item.subHeading}" data-sly-unwrap></div>
				<sly data-sly-test="${item.subHeading}">
					<div class="marquee-subhead desktop-tablet-block">${item.subHeading @ context='html'}</div>
				</sly>
                <div class="marquee-subhead mobile-only mobile-inline">${finalMobileSubHeading @ context='html'}</div>                  
                <sly data-sly-test="${item.desktopShortLegal || item.desktopLongLegal || item.mobileShortLegal || item.mobileLongLegal}">
                    <div data-sly-use.tmpl="/apps/att/global/all/cms/common/components/content/general/base-component/template-central-legal.html" 
                        data-sly-call="${tmpl.templateCentralLegal @ desktopShortLegal=item.desktopShortLegal,desktopLongLegal=item.desktopLongLegal,mobileShortLegal=item.mobileShortLegal,mobileLongLegal=item.mobileLongLegal,legalColor=item.legalColor}"></div>
                </sly>
                <a data-sly-test="${item.ctaTitle && item.ctaDesktopUrl}" href="${item.ctaDesktopUrl @ extension = 'html'}" data-mobile-url="${item.ctaMobileUrl @ extension = 'html'}" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${item.ctaTitle}', 'events.linkPosition':'Marquee', 'events.linkDestinationUrl':'${item.ctaDesktopUrl}'}"
                    class="promo-cta">
                    <span>
                        <i class="icon-right icon-border-circle text-white"></i>
                    </span>${item.ctaTitle}
                </a>  
            </div>
        </div>
    </div>
</template>