<template data-sly-template.templateClickableImage="${@ item}">
	<pre data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}"
		data-sly-unwrap> </pre>
	<picture>
		<!--[if IE 9]>
			<video style="display: none;">
		<![endif]-->
		<source
			data-sly-use.urlProcessor="${'image-name.js' @ url  = item.mobileBackgroundImage}"
			data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.mobileBackgroundImage,retina='@2x'}"
			srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x"
			media="(max-width: 480px)" />
		<source
			data-sly-use.urlProcessor="${'image-name.js' @ url  = item.tabletImage}"
			data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.tabletImage, retina='@2x'}"
			srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x"
			media="(max-width: 1024px)" />
		<source
			data-sly-use.urlProcessor="${'image-name.js' @ url  = item.backgroundImage}"
			data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.backgroundImage, retina='@2x'}"
			srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" />
		<!--[if IE 9]>
			</video>
		<![endif]--> 
		<img src="${item.backgroundImage}" class="marquee-full-img"	alt="" />
	</picture>

    <a data-sly-test="${item.ctaDesktopUrl}" data-sly-use.urlProcessorDesktop="${'url-processor.js' @ url = item.ctaDesktopUrl}" href="${urlProcessorDesktop.finalURL}" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${item.ctaTitle}', 'events.linkPosition':'Marquee', 'events.linkDestinationUrl':'${urlProcessorDesktop.finalURL}'}" class="full-anchor">	
    </a>

	<div class="${item.ctaMobileUrl && item.ctaTitle ? 'mobile-img-wrapper' : 'mobile-img-wrapper full-height'}">
		<picture>
			<!--[if IE 9]>
			<video style="display: none;">
			<![endif]-->
			<source
				data-sly-use.urlProcessor="${'image-name.js' @ url  = item.mobileBackgroundImage}"
				data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.mobileBackgroundImage, retina='@2x'}"
				srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" />
			<!--[if IE 9]>
			</video>
			<![endif]--> 
			<a href="#" class="mobile-img-anchor"></a>
			<img src="${item.mobileBackgroundImage}" alt="" />
	   </picture>
    </div>
    <a data-sly-test="${item.ctaMobileUrl}" data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.ctaMobileUrl}" href="${urlProcessorMobile.finalURL}" data-mobile-url="${urlProcessorMobile.finalURL}" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${item.ctaTitle}', 'events.linkPosition':'Marquee', 'events.linkDestinationUrl':'${urlProcessorMobile.finalURL}'}" class="${item.ctaMobileUrl && item.ctaTitle ? 'mobile-img-anchor' : 'mobile-img-anchor full-height'}" role="button">
	</a>
	
    <div class="cta-wrapper" data-sly-test="${item.ctaTitle && item.ctaMobileUrl}">
        <a data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.ctaMobileUrl}" href="${urlProcessorMobile.finalURL}" data-mobile-url="${urlProcessorMobile.finalURL}" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${item.ctaTitle}', 'events.linkPosition':'Marquee', 'events.linkDestinationUrl':'${urlProcessorMobile.finalURL}'}" class="btn btn-wide ${item.buttonColorCta ? item.buttonColorCta : 'btn-primary-promo'}" role="button">${item.ctaTitle}
        </a> 
    </div>
</template>