<template data-sly-template.templateGVPPanel="${@ item}">
	<div class="video-gvp" data-sly-test="${item.videoRefs}">
		<sly data-sly-resource="${item.videoRefs @ wcmmode='disabled'}"></sly>
	</div>
</template>