<!--/*  Marquee Component */-->

<div data-sly-test.valid="${Properties.promoImages}" data-sly-unwrap></div>
<div data-sly-test="${!valid && wcmmode.edit}" data-sly-unwrap>Please author Marquee details and Panels here</div>
<pre data-sly-use.panelModel="com.att.sales.consumer.marketing.upperfunnel.marquees.models.MarqueePanelsModel" data-sly-unwrap></pre>
<pre data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}" data-sly-unwrap></pre>
<div data-sly-test.contentSystem="CQ" data-sly-unwrap></div>
<div class="marquee-wrapper" data-slot-fn="${properties.componentFriendlyName}">
   <div id="marquee-${mdhash.calculatedValue}"  class="${properties.marqueeType == 'heroMarquee' ? 'marquee slick-enabled att-component' : 'marquee slick-enabled marquee-promo att-component'}" data-show-personalization-name="${Properties.showFirstName}" data-slick-configuration="default" data-slick-speed="${Properties.rotatingspeed}" data-slick-no-rotate="${properties.donotrotatemarquee}" data-sly-list="${panelModel.panelModels}" data-component="marquee">
      <!--/* Panel Component inclusion based on layout*/-->
      <!--/* Link for Panel page added */-->
      	<div data-sly-test="${wcmmode.edit}" data-sly-unwrap>
      		<a href="${item['panelPath']}.html" target="_blank" class="panelLinkEditMode">${item['panelPath']}</a>
      	</div>
	  <sly data-sly-test.bgStyle=""></sly>
      <sly data-sly-test="${properties.marqueeType == 'heroMarquee' && itemList.first}">
			<sly data-sly-test.bgStyle="background-image:url(${item.backgroundImage @ context='html'})"></sly>
	  </sly>
      <sly data-sly-test.hideOnMobile=""></sly>
      <sly data-sly-test="${item.layout == 'apple-marquee' && item.hideBackgroundImg}">
       <sly data-sly-test.hideOnMobile="disable-mobile-bkg"></sly>
	  </sly>
	  <sly data-sly-test="${item.subLayout == 'bgc' || item.subLayout == 'bgcfgi'}">
		<sly data-sly-test.bgTypeCondition="${item.bgType=='bgGradient'}">
			<sly data-sly-test.bgStyleCC='background:linear-gradient(${item.bggdirection},${item.bggcolor1},${item.bggcolor2})'></sly>
		</sly>
		<sly data-sly-test=${!bgTypeCondition}>
			<sly data-sly-test.bgStyleCC= 'background-color:${item.marquebgcolor}'></sly>
		</sly>
	  </sly>
      <!--/* 1st Panel Layout */-->
      <div data-sly-test="${item.layout  == 'template-single-offer'}" data-tdata-slotid="${item.tdataSlotId}" data-hover-content="${item.dotContent}" class="slide template-single-offer" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}',  'events.contentSystem' : '${contentSystem}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-sly-use.tmpl="template-single-offer.html" data-sly-call="${tmpl.templateSingleOffer @ item=item}"></div>
      <!--/* 2nd Panel Layout */-->
      <div data-sly-test="${item.layout  == 'template-center-text'}" data-tdata-slotid="${item.tdataSlotId}" data-hover-content="${item.dotContent}" class="slide template-center-text" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentSystem' : '${contentSystem}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" style="${bgStyle @ context='html'}" data-bkg-img="${item.backgroundImage @ context='html'}" data-sly-use.tmpl="template-center-text.html" data-sly-call="${tmpl.templateCenterText @ item=item}"></div>
      <!--/* 3rd Panel Layout */-->
      <div data-sly-test="${item.layout  == 'template-text-left'}" data-tdata-slotid="${item.tdataSlotId}" data-hover-content="${item.dotContent}" class="slide template-text-left" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentSystem' : '${contentSystem}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" style="${bgStyle @ context='html'}" data-bkg-img="${item.foregroundImage @ context='html'}" data-sly-use.tmpl="template-text-left.html" data-sly-call="${tmpl.templateTextLeft @ item=item}"></div>
      <!--/* 4th Panel Layout  */-->
      <div data-sly-test="${item.layout  == 'template-text-right'}" data-tdata-slotid="${item.tdataSlotId}" data-hover-content="${item.dotContent}" class="slide template-text-right" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentSystem' : '${contentSystem}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-sly-use.tmpl="template-text-right.html" data-sly-call="${tmpl.templateTextRight @ item=item}"></div>
      <!--/* 5th Panel Layout  */-->
      <div data-sly-test="${item.layout  == 'channel-promos'}" data-tdata-slotid="${item.tdataSlotId}" data-hover-content="${item.dotContent}" class="slide template-promo" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentSystem' : '${contentSystem}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" style="${bgStyle @ context='html'}" data-bkg-img="${item.backgroundImage @ context='html'}" data-sly-use.tmpl="channel-promo.html" data-sly-call="${tmpl.channelPromo @ item=item}"></div>
      <!--/* 6th Panel Layout  */--> 
      <div data-sly-test="${item.layout  == 'template-align-left'}" data-tdata-slotid="${item.tdataSlotId}" data-hover-content="${item.dotContent}" class="slide template-content-left" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentSystem' : '${contentSystem}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" style="${bgStyle @ context='html'}" data-bkg-img="${item.backgroundImage @ context='html'}" data-sly-use.tmpl="template-align-left.html" data-sly-call="${tmpl.templateAlignLeft @ item=item}"></div>
       <!--/* apple marquee Panel Layout */-->
      <div data-sly-test="${item.layout  == 'apple-marquee'}" data-tdata-slotid="${item.tdataSlotId}" data-hover-content="${item.dotContent}" class="slide template-center-cta-image ${hideOnMobile}" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentSystem' : '${contentSystem}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" style="${bgStyle @ context='html'}" data-bkg-img="${item.backgroundImage @ context='html'}" data-sly-use.tmpl="apple-marquee.html" data-sly-call="${tmpl.templateAppleMarquee @ item=item}"></div>
      <!--/* Content Configurable Panel Layout */-->
      <div data-sly-test="${item.layout  == 'template-content-configurable'}" data-tdata-slotid="${item.tdataSlotId}" data-hover-content="${item.dotContent}" class="slide ${item.enableCountDown ? 'timer-slide' : ''} ${item.layout} ${item.subLayout == 'bgcfgi' ? 'marquee-foreground-img' : ''} ${item.subLayout == 'bgi' ? 'marquee-bkg-img' : ''}  ${item.subLayout == 'bgifgi' ? 'marquee-bkg-img marquee-foreground-img' : ''}" style="${bgStyleCC @ context='html'}" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentSystem' : '${contentSystem}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-sly-use.tmpl="template-content-configurable.html" data-sly-call="${tmpl.templateLeftCenterRightMarquee @ item=item}"></div>
	   <!--/* clickable image Panel Layout */-->
      <div data-sly-test="${item.layout  == 'clickable-image'}" data-tdata-slotid="${item.tdataSlotId}" data-hover-content="${item.dotContent}" class="slide template-clickable ${hideOnMobile}" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentSystem' : '${contentSystem}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-sly-use.tmpl="clickable-image.html" data-sly-call="${tmpl.templateClickableImage @ item=item}"></div>
      
      <div data-sly-test="${item.layout  == 'gvp-panel'}" data-tdata-slotid="${item.tdataSlotId}" data-hover-content="${item.dotContent}" class="slide" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentSystem' : '${contentSystem}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-sly-use.tmpl="gvp-panel.html" data-sly-call="${tmpl.templateGVPPanel @ item=item}"></div> 
       <!--/* IRU Marquee Panel Layout */-->
      <div data-sly-test="${item.layout  == 'template-iru-panel'}" data-tdata-slotid="${item.tdataSlotId}" data-hover-content="${item.dotContent}" class="slide template-content-left iru-slide" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentSystem' : '${contentSystem}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-bkg-img="${item.iruImage @ context='html'}" data-sly-use.tmpl="template-iru-panel.html" data-sly-call="${tmpl.templateIruPanel @ item=item}"></div>
      <!--/* End Panel Component inclusion based on layout*/-->
      <span data-sly-test="${itemList.last}" class="marquee-last"></span>
	  
	  <div data-sly-test="${properties.enableAnimations && itemList.first}" class="animation-wrapper ${properties.marqueeAnimationType}"></div>
      
   </div>
   <!--/* Above div is the End of div marquee-id */-->
   <div data-sly-test="${properties.marqueeType == 'bodyMarquee'}" class='marquee-controls-wrapper promo-controls'>
      <div class="marquee-controls" data-sly-list="${panelModel.panelModels}">
         <!--/* Body Marquee Thumbnails  */-->
         <a href='#' class="${itemList.first ? 'slide-control active' : 'slide-control'}">
            <div data-sly-test="${properties.marqueeType  == 'bodyMarquee'}">
               <div class="thumbnail-wrapper">
                  <img src="${item.thumbnailImage}" alt="">
               </div>
            </div>
         </a>
      </div> 
   </div>    
        <div class="marquee-dot-content iru-dot-wrapper">
            <div class='slick-dot-content-hover iru-dot'>
                <p>
                 
                </p>
                <span class="tip tip-down"></span>
            </div>
        </div>
     <div data-sly-list="${panelModel.panelModels}">
        <div class="marquee-dot-content">
            <div class='slick-dot-content-hover'>
                <p>
                ${item.dotContent}
                </p>
                <span class="tip tip-down"></span>
            </div>
        </div>
    </div>
</div>
<!--/* Above div is the End of div marquee-wrapper */-->
<div id='marquee-modal' aria-hidden="true" aria-labelledby="modal-header-2" aria-describedby="modal-description-2" role="dialog" class="att-modal">
   <div class="modal-close-top"><a class='modal-close'>x</a></div>
   <h3 id='modal-header-2'>Sample Heading</h3>
   <p class="modal-content" id='modal-description-2'>
      ${item.longLegalText @ context='html'}<br><br><br>${item.finalFooter @ context='html'}
   </p>
   <div class="mBtn-wrapper">
      <div class="mBtn-left">
         <a href="#" class="modal-close">Cancel</a>
      </div>
      <div class="mBtn-right">
         <a href="#" class="btn btn-alt">Secondary medium</a>
         <a href="#" class="btn btn-secondary-blue">Primary medium</a>
      </div>
   </div>
</div>
<div class="att-mobile-search-ph">
</div>
<script>
   if(window.skipAnalytics !== true) {
        $att(function(){
        var additionaldata = {};
            additionaldata = {
            	'events.contentId': '${mdhash.calculatedValue @ context="scriptString"}',                    
                'events.contentSystem' : '${contentSystem @ context="scriptString"}',
                'events.slotFriendlyName' : '${properties.componentFriendlyName @ context="scriptString"}',
                'events.contentProductGroup' : '${properties.contentProductGroup @ context="scriptString"}',   
            };
    	AttApp.analytics.sendAnalyticsEvent('impression','impression', additionaldata);
   		}); 
   }
</script>