<template data-sly-template.templateLeftCenterRightMarquee="${@ item}">
<sly data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}"></sly>
	<sly data-sly-test = "${item.enableCountDown}" data-sly-use.marquee ="${'/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/marquee-info.js' @ countdownBgGradStartColor = item.countdownBgGradStartColor ,countdownBggdirection = item.countdownBggdirection, countdownBgcolor = item.countdownBgcolor }" >
		<div class="countdown-banner active ${item.enableTextOnly ? 'timer-center' : ''}" style="background-color: ${marquee.countdownBgcolor @ context = 'styleString'}" data-timer-exp-date = "${item.cdtime}">
			<div class="countdown-section ${item.countdownTextColor ? item.countdownTextColor : 'timer-text-white'}">
				 <div class="content-before" data-sly-test="${item.textBeforeTimer}">
					<span class="before-timer-text">${item.textBeforeTimer @ context='html'}</span>
				</div>
				<div class="timer" aria-hidden = "true">
					<div class="timer-section">
						<div class="timer-slot" style="background: linear-gradient(${marquee.countdownBggdirection @ context = 'styleString'},${marquee.countdownBgGradStartColor @ context = 'styleString'},${marquee.countdownBgGradEndColor @ context = 'styleString'});">
							<div class="units days"></div>
							<div class="unit-info">DAYS</div>
						</div>
						<div class="timer-slot-separator">:</div>
						<div class="timer-slot" style="background: linear-gradient(${marquee.countdownBggdirection @ context = 'styleString'},${marquee.countdownBgGradStartColor @ context = 'styleString'},${marquee.countdownBgGradEndColor @ context = 'styleString'});">
							<div class="units hours"></div>
							<div class="unit-info"> HOURS </div>
						</div>
						<div class="timer-slot-separator">:</div>
						<div class="timer-slot" style="background: linear-gradient(${marquee.countdownBggdirection @ context = 'styleString'},${marquee.countdownBgGradStartColor @ context = 'styleString'},${marquee.countdownBgGradEndColor @ context = 'styleString'});">
							<div class="units mins"></div>
							<div class="unit-info"> MINS </div>
						</div>
						<div class="timer-slot-separator">:</div>
						<div class="timer-slot" style="background: linear-gradient(${marquee.countdownBggdirection @ context = 'styleString'},${marquee.countdownBgGradStartColor @ context = 'styleString'},${marquee.countdownBgGradEndColor @ context = 'styleString'});">
							<div class="units secs"></div>
							<div class="unit-info"> SECS </div>
						</div>
					</div>
				</div>
				<div class="content-after" data-sly-test="${item.textAfterTimer && !item.enableTextOnly}">
					<span class="after-timer-text">${item.textAfterTimer @ context='html'}</span>
				</div>
			</div>
		</div>
	</sly>
		<sly data-sly-test="${item.mobileBackgroundImage}">
			<div class="mobile-img-wrapper">
				<a href="#" class="mobile-img-anchor"></a>
				<picture>
					<!--[if IE 9]></video><![endif]--> <!-- -->
					<img data-sly-use.urlProcessor="${'image-name.js' @ url  = item.mobileBackgroundImage}" data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.mobileBackgroundImage,retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" src="${urlProcessor.input}"  alt="" class='mobile-img' />
				</picture>
			</div>
		</sly>
    <div class="desktop-bkg-wrapper">
		<picture> 
            <!--[if IE 9]>
                <video style="display: none;">
            <![endif]-->
                <source
                    data-sly-use.urlProcessor="${'image-name.js' @ url  = item.mobileBackgroundImage}"
                    data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.mobileBackgroundImage,retina='@2x'}"
                    srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x"
                    media="(max-width: 480px)" />
                <source
                    data-sly-use.urlProcessor="${'image-name.js' @ url  = item.tabletImage}"
                    data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.tabletImage,retina='@2x'}"
                    srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x"
                    media="(max-width: 1024px)" />
            <!--[if IE 9]>
                    </video>
                    <![endif]--> 
            <img data-sly-use.urlProcessor="${'image-name.js' @ url  = item.backgroundImage}" data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.backgroundImage,retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" src="${urlProcessor.input}" alt="" />
		</picture>
	</div>
		<sly data-sly-use.marcontent="${'com.att.global.all.cms.common.core.utils.JsonParserUtil' @ param1 = item.marqueContent}" data-sly-unwrap></sly>
		<div class="container ${item.contentAlignment == 'content-center' ? 'content-center' : ''}">
			<div class="row ${item.verticalContentAlignment}">
				<div class="content-wrapper ${item.contentAlignment} ${item.textColor}" tabindex="-1">
					<sly data-sly-repeat='${marcontent.values}'>
                    ${item['pricetextsize']}
						<p data-sly-test="${item['martype'] == 'eyebrow'}" class="eyebrow">${item['eyebrowtxt']}</p>
						<div data-sly-test="${item['martype'] == 'iconImg'}" class="cc-icon">
							<picture> 
								<!--[if IE 9]>
									<video style="display: none;">
								<![endif]-->
									<source
										data-sly-test.desktopFallback = "${item['mobileIconImage'] ? item['mobileIconImage'] : item['iconImage']}"
										data-sly-use.urlProcessor="${'image-name.js' @ url  = desktopFallback}"
										srcset="${urlProcessor.input} 1x"
										media="(max-width: 480px)" />
									<source
										data-sly-use.urlProcessor="${'image-name.js' @ url  = item['iconImage']}"
										srcset="${urlProcessor.input} 1x" />
								<!--[if IE 9]>
										</video>
										<![endif]--> 
								<img data-sly-use.urlProcessor="${'image-name.js' @ url  = item['iconImage']}" srcset="${urlProcessor.input} 1x" src="${urlProcessor.input}" alt="${item['iconImgAltTxt'] ? item['iconImgAltTxt'] : 'Icon'}" />
							</picture>
						</div>
						<h2 data-sly-test="${item['martype'] == 'heading'}" class="marquee-header ${item['headingfont']} ${item['headingcolor']} ${item['headingtextsize']} ${item['mobheadingtextsize']}">${item['headingtext'] @context='html'}</h2>
						<div data-sly-test="${item['martype'] == 'subheading'}" data-sly-unwrap>					 
							<div data-sly-test.finalMobileSubHeading="${item['mobilesubheadingtext'] ? item['mobilesubheadingtext'] : item['subheadingtext']}" data-sly-unwrap></div> 
							<sly data-sly-test="${item['subheadingtext']}">
								<div class="subhead ${item['subheadingfont']} desktop-tablet-block ${item['subheadingcolor']} ${item['subheadingtextsize']}">${item['subheadingtext'] @ context='html'}</div>
							</sly>
							<div class="subhead ${item['subheadingfont']} mobile-inline ${item['subheadingcolor']}">${finalMobileSubHeading @ context='html'}</div>
						</div>
						<div class="cta-wrapper" data-sly-test="${item['martype'] == 'cta'}">
							<a 	data-sly-test = "${item['ctatext'] && item['ctadesktoplink']}"
									data-sly-use.urlProcessorDesktop="${'url-processor.js' @ url  = item['ctadesktoplink']}"
									data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item['ctamobilelink']}"
									href="${urlProcessorDesktop.finalURL}" 
									data-mobile-url="${urlProcessorMobile.finalURL}" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${item['ctatext']}', 'events.linkPosition':'Marquee', 'events.linkDestinationUrl':'${urlProcessorDesktop.finalURL}'}"
									class="btn ${item.buttonColorCta ? item.buttonColorCta : 'btn-primary-promo'}" role="button" data-mobile-url="${item['ctamobilelink']}">${item['ctatext']}
							</a>
						</div>
						<div class="cta-wrapper" data-sly-test="${item['martype'] == 'price'}">
							<div class="price-info">
								<p class="ps-small price-support">${item['pricetext']}</p>
								<p class="price"><sup>$</sup>${item['pricenumber']}<span class="price-tail">${item['priceterm']}</span>
								</p>
							</div>
						</div>
						<div class="cta-wrapper" data-sly-test="${item['martype'] == 'pricecta'}">
							<a 	data-sly-test = "${item['ctatext'] && item['ctadesktoplink']}"
									data-sly-use.urlProcessorDesktop="${'url-processor.js' @ url  = item['ctadesktoplink']}"
									data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item['ctamobilelink']}"
									href="${urlProcessorDesktop.finalURL}" 
									data-mobile-url="${urlProcessorMobile.finalURL}" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${item['ctatext']}', 'events.linkPosition':'Marquee', 'events.linkDestinationUrl':'${urlProcessorDesktop.finalURL}'}"
									class="btn ${item.buttonColorCta ? item.buttonColorCta : 'btn-primary-promo'}" role="button" data-mobile-url="${item['ctamobilelink']}">${item['ctatext']}
							</a>
							<div class="price-info">
									<p class="ps-small price-support">${item['pricetext']}</p>
									<p class="price"><sup>$</sup>${item['pricenumber']}<span class="price-tail">${item['priceterm']}</span>
									</p>
							</div>
						</div>
						<div class="text-legal marquee-font-arial" data-sly-test="${item['martype'] == 'legal'}">
							<sly data-sly-test="${item['legaldesktopshorturl'] || item['legaldesktoplongurl'] || item['legalmobileshorturl'] || item['legalmobilelongurl']}">
								<div data-sly-use.tmpl="/apps/att/global/all/cms/common/components/content/general/base-component/template-central-legal.html" 
									data-sly-call="${tmpl.templateCentralLegal @ desktopShortLegal=item['legaldesktopshorturl'],desktopLongLegal=item['legaldesktoplongurl'],mobileShortLegal=item['legalmobileshorturl'],mobileLongLegal=item['legalmobilelongurl']}">
								</div>
							</sly>
						</div>
					</sly>
				</div>
				<div data-sly-test="${item.subLayout == 'bgifgi' || item.subLayout == 'bgcfgi'}" class="foreground-img-wrapper ${item.contentAlignment == 'content-left' ? 'foreground-img-right' : 'foreground-img-left'}">
					<picture> 
						<!--[if IE 9]>
							<video style="display: none;">
						<![endif]-->
							<source
								data-sly-use.urlProcessor="${'image-name.js' @ url  = item.mobileBackgroundImage}"
								data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.mobileBackgroundImage,retina='@2x'}"
								srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x"
								media="(max-width: 480px)" />
							<source
								data-sly-use.urlProcessor="${'image-name.js' @ url  = item.tabletFgImage}"
								data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.tabletFgImage,retina='@2x'}"
								srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x"
								media="(max-width: 1024px)" />
						<!--[if IE 9]>
								</video>
								<![endif]--> 
						<img data-sly-use.urlProcessor="${'image-name.js' @ url  = item.foregroundImage}" data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.foregroundImage,retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" src="${urlProcessor.input}" alt="" /> 
					</picture>
				</div>
			</div>
		</div>
</template>