<template data-sly-template.templateSingleOffer="${@ item}">
    <pre data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}" data-sly-unwrap></pre>
    <div class="container">
        <div class="slide-content row" tabindex="-1">
            <div class="span8">
                <picture>
                    <!--[if IE 9]>
                    <video style="display: none;">
                        <![endif]-->
                        <source data-sly-use.urlProcessor="${'image-name.js' @ url  = item.foregroundImage, renditions='.412.255'}"  data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.foregroundImage, renditions='.824.511', retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" media="(max-width: 480px)" />
                        <source data-sly-use.urlProcessor="${'image-name.js' @ url  = item.foregroundImage, renditions='.544.337'}"  data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.foregroundImage, renditions='.1088.675',retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" media="(max-width: 1024px)" />
                        <source data-sly-use.urlProcessor="${'image-name.js' @ url  = item.foregroundImage}"  data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.foregroundImage, retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" />
                        <!--[if IE 9]>
                    </video>
                    <![endif]-->
                    <img src="${item.foregroundImage}" alt="" />
                </picture>
            </div>
            <div class="span4">
                <div class="product-info">
                    <img src="${item.iPhoneLogo}" alt="" class='logo'>
                    <picture>
                        <!--[if IE 9]>
                        <video style="display: none;">
                            <![endif]-->
                            <source data-sly-use.urlProcessor="${'image-name.js' @ url  = item.foregroundImage, renditions='.412.255'}"  data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.foregroundImage, renditions='.824.511', retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" media="(max-width: 480px)" />
                            <source data-sly-use.urlProcessor="${'image-name.js' @ url  = item.foregroundImage, renditions='.544.337'}"  data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.foregroundImage, renditions='.1088.675',retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" media="(max-width: 1024px)" />
                            <source data-sly-use.urlProcessor="${'image-name.js' @ url  = item.foregroundImage}"  data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.foregroundImage, retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" />
                            <!--[if IE 9]>
                        </video>
                        <![endif]-->
                         <a data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.ctaMobileUrl}" href="${urlProcessorMobile.finalURL}"><img src="${item.foregroundImage}" class='img-mobile-only' alt="" /></a>
                    </picture>
                    <a 	data-sly-test = "${item.ctaTitle && item.ctaDesktopUrl}"
						data-sly-use.urlProcessorDesktop="${'url-processor.js' @ url  = item.ctaDesktopUrl}"
                        data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.ctaMobileUrl}"
                        href="${urlProcessorDesktop.finalURL}" 
                        data-mobile-url="${urlProcessorMobile.finalURL}" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${item.ctaTitle}', 'events.linkPosition':'Marquee', 'events.linkDestinationUrl':'${urlProcessorDesktop.finalURL}'}"
                        class="btn ${item.buttonColorCta ? item.buttonColorCta : 'btn-primary-promo'}" role="button" data-mobile-url="${item.ctaMobileUrl}">${item.ctaTitle}
                    </a>
                    <a 	data-sly-test = "${item.learnMore && item.learnMoreDesktopUrl}"
						data-sly-use.urlProcessorDesktop="${'url-processor.js' @ url  = item.learnMoreDesktopUrl}"
                        data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.learnMoreMobileUrl}"
                        href="${urlProcessorDesktop.finalURL}" 
                        data-mobile-url="${urlProcessorMobile.finalURL}" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${item.learnMore}', 'events.linkPosition':'Marquee', 'events.linkDestinationUrl':'${urlProcessorDesktop.finalURL}'}"
                        class="btn ${item.buttonColorCta ? item.buttonColorCta : 'btn-primary-promo'}" role="button" data-mobile-url="${item.learnMoreMobileUrl}">${item.learnMore}
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>