<template data-sly-template.templateTextLeft="${@ item}">
    <pre data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}" data-sly-unwrap></pre>
    <div class="container mobile-full">
        <div class="row">
            <div class="span6">
                <div class="slide-content overlay-black text-white text-left" tabindex="-1">
                    <div data-sly-test="${item.iconImage}" class="icons">
                        <img src="${item.iconImage}" alt="${item.iconImageAltText}" title="${item.iconImageAltText}"> 
                    </div>
                    <p data-sly-test="${item.personAddrText}" class='name-placeholder ${item.headingColor}'>${item.personAddrText}<span></span>,</p>
                    <h2 class='marquee-header ${item.headingColor} ${item.classFontSizeHeading}'>${item.heading @ context='html'}</h2>
					<div data-sly-test.finalMobileSubHeading="${item.mobileSubHeading ? item.mobileSubHeading : item.subHeading}" data-sly-unwrap></div>
					<sly data-sly-test="${item.subHeading}">
						<div class='subhead desktop-tablet-block ${item.subHeadingColor}'>${item.subHeading @ context='html'}</div>
					</sly>
				<div class="subhead mobile-inline">${finalMobileSubHeading @ context='html'}</div>
                    <div class="price-info ${item.priceColor}">
                        <div data-sly-test="${item.price}" class="price-main">
                            <p class='price ${item.classFontSizePrice}'><sup>$</sup>${item.price}
                                <span class="ps-small text-right">${item.priceTerm}</span>
                            </p>
                        </div>
                        <div class="price-bonus">
                            <p>${item.priceBonus @ context='html'}</p>
                        </div>
                        <a 	data-sly-test = "${item.ctaTitle && item.ctaDesktopUrl}"
							data-sly-use.urlProcessorDesktop="${'url-processor.js' @ url  = item.ctaDesktopUrl}"
                            data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.ctaMobileUrl}"
                            href="${urlProcessorDesktop.finalURL}" 
                            data-mobile-url="${urlProcessorMobile.finalURL}" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${item.ctaTitle}', 'events.linkPosition':'Marquee', 'events.linkDestinationUrl':'${urlProcessorDesktop.finalURL}'}"
                            class="btn ${item.buttonColorCta ? item.buttonColorCta : 'btn-primary-promo'} btn-large" role="button" data-mobile-url="${item.ctaMobileUrl}">${item.ctaTitle}
                        </a>
                    </div>
                    <sly data-sly-test="${item.desktopShortLegal || item.desktopLongLegal || item.mobileShortLegal || item.mobileLongLegal}">
                        <div data-sly-use.tmpl="/apps/att/global/all/cms/common/components/content/general/base-component/template-central-legal.html" 
                            data-sly-call="${tmpl.templateCentralLegal @ desktopShortLegal=item.desktopShortLegal,desktopLongLegal=item.desktopLongLegal,mobileShortLegal=item.mobileShortLegal,mobileLongLegal=item.mobileLongLegal,legalColor=item.legalColor}"></div>
                    </sly>
                </div>
            </div>
        </div>
    </div>
</template>