<template data-sly-template.templateAlignLeft="${@ item}">
    <pre data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}" data-sly-unwrap></pre>
	<sly data-sly-test="${item.mobileBackgroundImage}">
		<div class="mobile-img-wrapper">
			 <a data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.ctaMobileUrl}" href="${urlProcessorMobile.finalURL}" class="mobile-img-anchor"></a>
			 <img src="${item.mobileBackgroundImage}" alt="" class="mobile-img">
		</div>
	</sly>
    <div class="container">
        <div class="row">
            <div class="span6">
                <div class="slide-content" tabindex="-1">
                    <p data-sly-test="${item.personAddrText}" class='name-placeholder ${item.eyeBrowColor}'>${item.personAddrText}<span></span>,</p>
                    <sly data-sly-test="${item.eyeBrowColor}">
                        <div data-sly-test="${item.eyeBrow}" class="eyebrow desktop-tablet-only ${item.eyeBrowColor}">${item.eyeBrow @ context='html'}</div>
                        <div data-sly-test="${item.eyeBrow}" class="eyebrow mobile-only">${item.eyeBrow @ context='html'}</div>
                    </sly>
                    <sly data-sly-test="${!item.eyeBrowColor}">
                        <div data-sly-test="${item.eyeBrow}" class="eyebrow">${item.eyeBrow @ context='html'}</div>  
                    </sly>
                    <sly data-sly-test="${item.headingColor}">
                        <h2 data-sly-test="${item.heading}" class="marquee-header desktop-tablet-only ${item.headingColor}">${item.heading @ context='html'}</h2>
                        <h2 data-sly-test="${item.heading}" class="marquee-header mobile-only ${item.classFontSizeHeading}">${item.heading @ context='html'}</h2>
                    </sly>
                    <sly data-sly-test="${!item.headingColor}">
                        <h2 data-sly-test="${item.heading}" class="marquee-header ${item.classFontSizeHeading}">${item.heading @ context='html'}</h2>
                    </sly>
                    <div data-sly-test.finalMobileSubHeading="${item.mobileSubHeading ? item.mobileSubHeading : item.subHeading}" data-sly-unwrap></div>				
					<sly data-sly-test="${item.subHeading}">
						<div class="subhead desktop-tablet-block ${item.subHeadingColor}">${item.subHeading @ context='html'}</div>
					</sly>
				    <div class="subhead mobile-inline">${finalMobileSubHeading @ context='html'}</div>
                    <div data-sly-test="${item.price}" class="price-info">
                        <div class="price-main">
                            <sly data-sly-test="${item.priceColor}">
                                <p class="desktop-tablet-only ${item.priceColor}"><span class="price-extra-large ${item.priceColor}"><sup>$</sup>${item.price}</span>${item.priceTerm}</p>
                                <p class="mobile-only"><span class="price-extra-large ${item.classFontSizePrice}"><sup>$</sup>${item.price}</span>${item.priceTerm}</p>
                            </sly>
                            <sly data-sly-test="${!item.priceColor}">
                                <p><span class="price-extra-large ${item.classFontSizePrice}"><sup>$</sup>${item.price}</span>${item.priceTerm}</p>
                            </sly>
                        </div>
                    </div>
                    <sly data-sly-test="${item.desktopShortLegal || item.desktopLongLegal || item.mobileShortLegal || item.mobileLongLegal}">
                        <div data-sly-use.tmpl="/apps/att/global/all/cms/common/components/content/general/base-component/template-central-legal.html" 
                            data-sly-call="${tmpl.templateCentralLegal @ desktopShortLegal=item.desktopShortLegal,desktopLongLegal=item.desktopLongLegal,mobileShortLegal=item.mobileShortLegal,mobileLongLegal=item.mobileLongLegal,legalColor=item.legalColor}"></div>
                    </sly>
                    <a  data-sly-test="${item.ctaTitle && item.ctaDesktopUrl}"
						data-sly-use.urlProcessorDesktop="${'url-processor.js' @ url  = item.ctaDesktopUrl}"
                        data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.ctaMobileUrl}"
                        href="${urlProcessorDesktop.finalURL}" 
                        data-mobile-url="${urlProcessorMobile.finalURL}" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${item.ctaTitle}', 'events.linkPosition':'Marquee', 'events.linkDestinationUrl':'${urlProcessorDesktop.finalURL}'}"
                        class="btn ${item.buttonColorCta ? item.buttonColorCta : 'btn-primary-promo'}" role="button" data-mobile-url="${item.ctaMobileUrl}">${item.ctaTitle}
                    </a>
                </div>
            </div>
            <div class="span6 hide-on-mobile"></div>
        </div>
    </div>
</template>