<template data-sly-template.templateIruPanel="${@ item}">
         <div class="mobile-img-wrapper"> 
            <img data-lazy="" alt="" class='mobile-img'>
         </div>
         <div class="container">
            <div class="row">
               <div class="span6">
                  <div class="slide-content" tabindex="-1">
                     <h2 class='marquee-header'></h2>
                     <p class='subhead'></p>
					 <sly data-sly-test.msgs="${item.serviceMessages}">
						 <ul class="bullet" data-authored-iru-bullets='true' >
							<sly data-sly-list.serMsg="${item.serviceMessages}">
								<li data-iru-value="${serMsg}"></li>  
							</sly>
						 </ul>	
					 </sly>
					 <sly data-sly-test="${!msgs}">
						<ul class="bullet" data-authored-iru-bullets='false' >
							<sly data-sly-list.serMsg="${item.serviceMessages}">
								<li data-iru-value="${serMsg}"></li>  
							</sly>
						 </ul>	
					 </sly>
                     <div class="cta-wrapper">
                        <a href="${item.buttonLink ? item.buttonLink : '#'}" role="button" class="btn enroll-link">${item.buttonLabel ? item.buttonLabel : 'Enroll Now'}</a>
                        <a href="${item.ctaLink ? item.ctaLink : '#'}" class="${item.ctaLink ? '' : 'att-modal-trigger'}" data-target="iru-modal">${item.ctaLabel ? item.ctaLabel : 'See discount program details' }</a>
                     </div>
                  </div>
               </div>
               <div class="span6 hide-on-mobile"></div>
            </div>
         </div>
</template>