<template data-sly-template.templateCenterText="${@ item}">
    <pre data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}" data-sly-unwrap></pre>
    <div class="mobile-img-wrapper">
        <a data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.ctaMobileUrl}" href="${urlProcessorMobile.finalURL}" class="mobile-img-anchor"></a>
		<img src="${item.mobileBackgroundImage}" alt="" class="mobile-img">
    </div>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="slide-content" tabindex="-1">
                    <p data-sly-test="${item.personAddrText}" class='name-placeholder ${item.headingColor}'>${item.personAddrText}<span></span>,</p>
                    <sly data-sly-test="${item.headingColor && item.heading}">
                        <h2 class="marquee-header desktop-tablet-only ${item.headingColor}">${item.heading @ context='html'}</h2>
                        <h2 class="marquee-header mobile-only ${item.classFontSizeHeading}">${item.heading @ context='html'}</h2>
                    </sly>
                    <sly data-sly-test="${!item.headingColor && item.heading}">
                        <h2 class="marquee-header ${item.classFontSizeHeading}">${item.heading @ context='html'}</h2>
                    </sly>
                    <div data-sly-test.finalMobileSubHeading="${item.mobileSubHeading ? item.mobileSubHeading : item.subHeading}" data-sly-unwrap></div>
					<sly data-sly-test="${item.subHeading}">
						<div class="price-support desktop-tablet-block ${item.subHeadingColor}">${item.subHeading @ context='html'}</div>
					</sly>
				     <div class="price-support mobile-inline">${finalMobileSubHeading @ context='html'}</div>
                    <sly data-sly-test="${item.desktopShortLegal || item.desktopLongLegal || item.mobileShortLegal || item.mobileLongLegal}">
                        <div data-sly-use.tmpl="/apps/att/global/all/cms/common/components/content/general/base-component/template-central-legal.html" 
                            data-sly-call="${tmpl.templateCentralLegal @ desktopShortLegal=item.desktopShortLegal,desktopLongLegal=item.desktopLongLegal,mobileShortLegal=item.mobileShortLegal,mobileLongLegal=item.mobileLongLegal,legalColor=item.legalColor}"></div>
                    </sly>
                    <p data-sly-test="${item.enableCTO && item.dynamicCTO}">
                        <span data-sly-test="${item.ctoType == 'text'}" data-default="${item.ctoPhnumber}" 
                            class="att-dcto dcto-phone"> ${item.ctoText}</span> 
                        <a data-sly-test="${item.ctoType == 'link' && item.ctoLabel}"  data-default="${item.ctoPhnumber}" 
                            class="att-dcto dcto-phone" href="tel:${item.ctoPhnumber}"> ${item.ctoLabel} </a> 
                        <sly data-sly-include="/apps/att/global/all/cms/common/component/content/general/cto-mapping/cto-mapping-values.html"/>
                    </p>
                    <p data-sly-test="${item.enableCTO && !item.dynamicCTO}">
                        <span data-sly-test="${item.ctoType == 'text'}" data-default="${item.ctoPhnumber}" 
                            class="cto-phone"> ${item.ctoText}</span>
                        <a data-sly-test="${item.ctoType == 'link' && item.ctoLabel}"  data-default="${item.ctoPhnumber}" 
                            class="cto-phone" href="tel:${item.ctoPhnumber}"> ${item.ctoLabel} </a>   
                    </p>
                    <a 	data-sly-test = "${item.ctaTitle && item.ctaDesktopUrl}"
						data-sly-use.urlProcessorDesktop="${'url-processor.js' @ url  = item.ctaDesktopUrl}"
                        data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.ctaMobileUrl}"
                        href="${urlProcessorDesktop.finalURL}" 
                        data-mobile-url="${urlProcessorMobile.finalURL}" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${item.ctaTitle}', 'events.linkPosition':'Marquee', 'events.linkDestinationUrl':'${urlProcessorDesktop.finalURL}'}"
                        class="btn btn-wide ${item.buttonColorCta ? item.buttonColorCta : 'btn-primary-promo'}" role="button" data-mobile-url="${item.ctaMobileUrl}">${item.ctaTitle}
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>