<template data-sly-template.templateTextRight="${@ item}">
    <pre data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}" data-sly-unwrap></pre>
    <div class="container">
        <div class="row">
            <div class="span7 marquee-image">
                <picture>
                    <!--[if IE 9]>
                    <video style="display: none;">
                        <![endif]-->
                        <source data-sly-use.urlProcessor="${'image-name.js' @ url  = item.foregroundImage, renditions='.306.189'}"  data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.foregroundImage, renditions='.612.379', retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" media="(max-width: 480px)" />
                        <source data-sly-use.urlProcessor="${'image-name.js' @ url  = item.foregroundImage, renditions='.480.297'}"  data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.foregroundImage, renditions='.960.595', retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" media="(max-width: 1024px)" />
                        <source data-sly-use.urlProcessor="${'image-name.js' @ url  = item.foregroundImage}"  data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.foregroundImage, retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" />
                        <!--[if IE 9]>
                    </video>
                    <![endif]-->
                    <img src="${item.foregroundImage}" alt="" />
                </picture>
                <p>${item.imageCaption @ context='html'}</p>
            </div>
            <div class="span5 slide-content text-left" tabindex="-1">
                <p data-sly-test="${item.personAddrText}" class='name-placeholder'>${item.personAddrText}<span></span>,</p>
                <div data-sly-test="${item.eyeBrow}" class="eyebrow ${item.eyeBrowColor}">${item.eyeBrow  @ context='html'}</div>
                <h2 data-sly-test="${item.heading}" class="marquee-header ${item.headingColor}">${item.heading  @ context='html'}</h2>
				<div data-sly-test.finalMobileSubHeading="${item.mobileSubHeading ? item.mobileSubHeading : item.subHeading}" data-sly-unwrap></div>
				<sly data-sly-test="${item.subHeading}">
					<div class="subhead desktop-tablet-block ${item.subHeadingColor}">${item.subHeading  @ context='html'}</div>
				</sly>
                <div class="subhead mobile-inline">${finalMobileSubHeading @ context='html'}</div>
                <picture>
                    <!--[if IE 9]>
                    <video style="display: none;">
                        <![endif]-->
                        <source data-sly-use.urlProcessor="${'image-name.js' @ url  = item.foregroundImage, renditions='.306.189'}"  data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.foregroundImage, renditions='.612.379', retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" media="(max-width: 480px)" />
                        <source data-sly-use.urlProcessor="${'image-name.js' @ url  = item.foregroundImage, renditions='.480.297'}"  data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.foregroundImage, renditions='.960.595', retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" media="(max-width: 1024px)" />
                        <source data-sly-use.urlProcessor="${'image-name.js' @ url  = item.foregroundImage}"  data-sly-use.urlProcessor1="${'image-name.js' @ url  = item.foregroundImage, retina='@2x'}" srcset="${urlProcessor.input} 1x, ${urlProcessor1.input} 2x" />
                        <!--[if IE 9]>
                    </video>
                    <![endif]-->
                     <a data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.ctaMobileUrl}" href="${urlProcessorMobile.finalURL}"><img src="${item.foregroundImage}" class='img-mobile-only' alt="" /></a>
                </picture>
                <p class="caption-mobile-only">${item.imageCaption @ context='html'}</p>
                <div class="price-info">
                    <div data-sly-test="${item.price}" class="price-main">
                        <p><span class='text-orange cost-large'><sup>$</sup>${item.price}</span>${item.priceTerm}</p>
                    </div>
                    <div data-sly-test="${item.price2nd}" class="price-bonus">
                        <p>
                            <sly data-sly-test="${item.price2ndPrecedText}">${item.price2ndPrecedText}</sly>
                            <span class='text-orange cost-large'><sup>$</sup>${item.price2nd}</span><sly data-sly-test="${item.price2ndSucceedText}">${item.price2ndSucceedText}</sly>                           
                        </p>
                    </div>
                </div>
                <sly data-sly-test="${item.desktopShortLegal || item.desktopLongLegal || item.mobileShortLegal || item.mobileLongLegal}">
                    <div data-sly-use.tmpl="/apps/att/global/all/cms/common/components/content/general/base-component/template-central-legal.html" 
                        data-sly-call="${tmpl.templateCentralLegal @ desktopShortLegal=item.desktopShortLegal,desktopLongLegal=item.desktopLongLegal,mobileShortLegal=item.mobileShortLegal,mobileLongLegal=item.mobileLongLegal,legalColor=item.legalColor}"></div>
                </sly>
                <a 	data-sly-test = "${item.ctaTitle && item.ctaDesktopUrl}"
					data-sly-use.urlProcessorDesktop="${'url-processor.js' @ url  = item.ctaDesktopUrl}"
                    data-sly-use.urlProcessorMobile="${'url-processor.js' @ url = item.ctaMobileUrl}"
                    href="${urlProcessorDesktop.finalURL}" 
                    data-mobile-url="${urlProcessorMobile.finalURL}" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentFriendlyName':'${item.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${item.ctaTitle}', 'events.linkPosition':'Marquee', 'events.linkDestinationUrl':'${urlProcessorMobile.finalURL}'}"
                    class="btn ${item.buttonColorCta ? item.buttonColorCta : 'btn-primary-promo'} btn-wide" role="button" data-mobile-url="${item.ctaMobileUrl}">${item.ctaTitle}
                </a>
            </div>
        </div>
    </div>
</template>