<!--/*  Teaser Marquee Component */--> 
<div data-sly-test.valid="${Properties.marqueelocation}"></div>
<div data-sly-test="${!valid && wcmmode.edit}">Please author Marquee location here</div>
<pre data-sly-use.panelModel="com.att.sales.consumer.marketing.upperfunnel.marquees.models.TeaserMarqueeModel"></pre>
<pre data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}" data-sly-unwrap></pre>
<div class="marquee-wrapper">
   <div id="home-marquee"  class="${panelModel.marqueeType == 'heroMarquee' ? 'marquee slick-enabled' : 'marquee slick-enabled marquee-promo'}"  data-show-personalization-name="${panelModel.showFirstName} " data-slick-configuration="default" data-slick-speed="${panelModel.marqueeRotationSpeed}" data-slick-no-rotate="${panelModel.doNotAutoRotate} " data-sly-list="${panelModel.panelModels}">

<!--/* Panel Component inclusion based on layout*/-->

   <!--/* 1st Panel Layout */-->

       <div data-sly-test="${item.layout  == 'template-single-offer'}" data-tdata-slotid="${item.tdataSlotId}" class="slide template-single-offer" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${item.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-single-offer.html" data-sly-call="${tmpl.templateSingleOffer @ item=item}"></div>


   <!--/* 2nd Panel Layout */-->

  		<div data-sly-test="${item.layout  == 'template-center-text'}" data-tdata-slotid="${item.tdataSlotId}" class="slide template-center-text" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${item.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-bkg-img="${item.backgroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-center-text.html" data-sly-call="${tmpl.templateCenterText @ item=item}"></div>



	<!--/* 3rd Panel Layout */-->

		<div data-sly-test="${item.layout  == 'template-text-left'}" data-tdata-slotid="${item.tdataSlotId}" class="slide template-text-left" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${item.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-bkg-img="${item.foregroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-text-left.html" data-sly-call="${tmpl.templateTextLeft @ item=item}"></div>



    <!--/* 4th Panel Layout  */-->

       <div data-sly-test="${item.layout  == 'template-text-right'}" data-tdata-slotid="${item.tdataSlotId}" class="slide template-text-right" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${item.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-text-right.html" data-sly-call="${tmpl.templateTextRight @ item=item}"></div>


     <!--/* 5th Panel Layout  */-->

       <div data-sly-test="${item.layout  == 'channel-promos'}" data-tdata-slotid="${item.tdataSlotId}" class="slide template-promo" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${item.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-bkg-img="${item.backgroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/channel-promo.html" data-sly-call="${tmpl.channelPromo @ item=item}"></div>

     <!--/* 6th Panel Layout  */--> 

	 <div data-sly-test="${item.layout  == 'template-align-left'}" data-tdata-slotid="${item.tdataSlotId}" class="slide template-content-left" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${item.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-bkg-img="${item.backgroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-align-left.html" data-sly-call="${tmpl.templateAlignLeft @ item=item}"></div>



<!--/* End Panel Component inclusion based on layout*/-->

<span data-sly-test="${itemList.last}" class="marquee-last"></span>

  </div>

<!--/* Above div is the End of div marquee-id */-->


   <div data-sly-test="${panelModel.marqueeType == 'bodyMarquee'}" class='marquee-controls-wrapper promo-controls'>
       <div class="marquee-controls" data-sly-list="${panelModel.panelModels}"> 
            <!--/* Body Marquee Thumbnails  */-->
            <a href='#' class="${itemList.first ? 'slide-control active' : 'slide-control'}">
                <div data-sly-test="${panelModel.marqueeType  == 'bodyMarquee'}"> 
                    <div class="thumbnail-wrapper">
                      <img src="${item.thumbnailImage}" alt="">
                    </div>
                </div> 
            </a>
       </div>
   </div>

  <div data-sly-test="${panelModel.marqueeType == 'heroMarquee'}" class='marquee-controls-wrapper'>
      <div class="marquee-controls slick-enabled" data-sly-list="${panelModel.panelModels}"> 
            <!--/* Hero Marquee Thumbnails  */-->
            <a href='#' class="${itemList.first ? 'slide-control active' : 'slide-control'}">
            	<p>${item.thumbnailText}</p>
            </a>
      </div>
  </div>

</div>

<!--/* Above div is the End of div marquee-wrapper */-->

<script>
var marquee = $('#home-marquee');
var marqueeInterval = setInterval(function(){
	if(marquee.find('.marquee-last')){
    	console.log('found last');
        if(marquee.hasClass('slick-initialized')) { marquee.slick('unslick'); }
        clearInterval(marqueeInterval);
		AttApp.marquee.setupMarquee(marquee);
    }
}, 100);
</script>


<div id='marquee-modal' aria-hidden="true" aria-labelledby="modal-header-2" aria-describedby="modal-description-2" role="dialog" class="att-modal">
 <div class="modal-close-top"><a class='modal-close'>x</a></div>
 <h3 id='modal-header-2'>Sample Heading</h3>
 <p class="modal-content" id='modal-description-2'>
   ${item.longLegalText @ context='html'}<br><br><br>${item.finalFooter @ context='html'}
 </p>
 <div class="mBtn-wrapper">
   <div class="mBtn-left">
     <a href="#" class="modal-close">Cancel</a>
   </div>
   <div class="mBtn-right">
     <a href="#" class="btn btn-alt">Secondary medium</a>
     <a href="#" class="btn btn-secondary-blue">Primary medium</a>
   </div>
 </div>
</div>
<script>
	if(window.skipAnalytics !== true) {
        $att(function(){
    		console.log('${properties.sling:resourceType @ context="scriptString"}');
     		var additionaldata = {};
            additionaldata = {
            	'events.contentId': '${mdhash.calculatedValue @ context="scriptString"}',
                'events.slotFriendlyName' :  'Body',
				'events.contentSystem' : 'CQ',
                'events.contentFriendlyName' : '${properties.componentFriendlyName @ context="scriptString"}',
                'events.contentProductGroup' : '${properties.contentProductGroup @ context="scriptString"}',
            };
		AttApp.analytics.sendAnalyticsEvent('impression','impression', additionaldata);
		});
	}
</script>






												
