<pre data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}" data-sly-unwrap></pre>
<div class="cq-dd-pages bizhub-list ${properties.displayAs}Main"
     data-sly-use.listComponent="list.js"
     data-sly-use.emptyRenderer="emptylist.html"
     data-sly-use.itemTemplate="listitem.html"
     data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
     data-sly-use.topicListGroupTemplate="topicListGroup.html"
     id="${listComponent.listId}">
    <div class="container ${properties.displayAs} ${listComponent.noTitleClass}">
        <sly data-sly-call="${clientLib.all @ categories='wcm.foundation.components.list'}" />

        <link data-sly-test="${properties.feedEnabled}" rel="alternate" type="application/atom+xml" title="Atom 1.0 (List)" href="${resource.path}.feed" />
        <div data-sly-test="${listComponent.type != 'tile3up' && listComponent.type != 'tile'}" data-sly-unwrap>
            <h3 class="heading-sub-section" data-sly-test="${properties.displayTitle}">${properties.listTitle}</h3>
            <ul data-sly-element="${listComponent.element}" data-sly-list.listItem="${listComponent.list}" class="foundation-ordered-list-container">
                <li data-sly-call="${itemTemplate[listComponent.type] @ renderItem=listItem, mdhash=mdhash}" class="foundation-list-item"></li>
            </ul>
        </div>
        <div data-sly-test="${listComponent.type == 'tile3up' || listComponent.type == 'tile'}" data-sly-unwrap>
            <h3 class="heading-sub-section" data-sly-test="${properties.displayTitle}">${properties.listTitle}</h3>
            <h4 class="heading-small" data-sly-test="${properties.displaySubtitle}">${properties.listSubtitle}</h4>
            <div data-sly-list.listItem="${listComponent.list}" class="foundation-ordered-list-container row slick-test" data-slick='{"slidesToShow": 3}'>
                <div data-sly-call="${itemTemplate[listComponent.type] @ renderItem=listItem, mdhash=mdhash}" class="foundation-list-item span4"></div>
            </div>
        </div>

        <div data-sly-test="${listComponent.type == 'topicList'}" data-sly-unwrap>
            <h3 class="heading-sub-section" data-sly-test="${properties.displayTitle}">${properties.listTitle}</h3>
            <h4 class="heading-small" data-sly-test="${properties.displaySubtitle}">${properties.listSubtitle}</h4>
            <div data-sly-call="${topicListGroupTemplate[listComponent.type] @ renderItem=listComponent, mdhash=mdhash}"></div>
        </div>

        <div data-sly-test="${!listComponent.isEmpty && listComponent.isPaginating}" class="pagination">
            <div data-sly-test="${listComponent.previousLink}" class="previous">
                <a href="${listComponent.previousLink}" onclick="CQ_Analytics.record({event: 'listPreviousPage', values: { listPageStart: '${listComponent.pageStart @ context='scriptString'}' }, collect:  false, options: { obj: this }, componentPath: '${resource.resourceType @ context='scriptString'}'}); return CQ.WCM.List.linkClick(this, '${listComponent.listId @ context='scriptString'}');" aria-describedby="${listComponent.accessiblePreviousDescriptionId}">&laquo; ${"Previous" @ i18n}</a>
                <span class="cq-wcm-foundation-aria-description" data-sly-test="${properties.accessiblePrevious}" data-sly-text="${properties.accessiblePrevious}" data-sly-attribute.id="${listComponent.accessiblePreviousDescriptionId}"></span>
            </div>
            <div data-sly-test="${listComponent.nextLink}" class="next">
                <a href="${listComponent.nextLink}" onclick="CQ_Analytics.record({event: 'listNextPage', values: { listPageStart: '${listComponent.pageStart @ context='scriptString'}' }, collect:  false, options: { obj: this }, componentPath: '${resource.resourceType @ context='scriptString'}>'}); return CQ.WCM.List.linkClick(this, '${listComponent.listId @ context='scriptString'}');" aria-describedby="${listComponent.accessibleNextDescriptionId}">${"Next" @ i18n} &raquo;</a>
                <span class="cq-wcm-foundation-aria-description" data-sly-test="${properties.accessibleNext}" data-sly-text="${properties.accessibleNext}" data-sly-attribute.id="${listComponent.accessibleNextDescriptionId}"></span>
            </div>
        </div>
        <sly data-sly-call="${emptyRenderer.emptylisttemplate @ list=listComponent}" />
        <script>
            if(window.skipAnalytics !== true) {
                $att(function(){
                    var additionaldata = {};
                    additionaldata = {
                        'events.contentId': '${mdhash.calculatedValue @ context="scriptString"}',
                        'events.slotFriendlyName': '${properties.componentFriendlyName @ context="scriptString"}',
                        'events.contentSystem': 'CQ',
                        'events.contentProductGroup': '${properties.contentProductGroup @ context="scriptString"}',
                    };
                    AttApp.analytics.sendAnalyticsEvent('impression', 'impression', additionaldata);
                });
            }
        </script>
    </div>
</div>