<pre data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}" data-sly-unwrap></pre>

<!-- DEFAULT -->
<template data-sly-template.default="${@ renderItem}">
    <p>
        <a href="${renderItem.item.path}.html"
           onclick="CQ_Analytics.record({event: 'listItemClicked', values: { listItemPath: '${renderItem.item.path @ context='scriptString'}' }, collect:  false, options: { obj: this }, componentPath: '${resource.resourceType @ context='scriptString'}'})">${renderItem.itemName}</a>
    </p>
</template>

<!-- NEWS  -->
<template data-sly-template.news="${@ renderItem}">
    <p>
        <a href="${renderItem.item.path}.html"
           onclick="CQ_Analytics.record({event: 'listNewsItemClicked', values: { listItemPath: '${renderItem.item.path @ context='scriptString'}' }, collect:  false, options: { obj: this }, componentPath: '${resource.resourceType @ context='scriptString'}'})">
            <span data-sly-test="${renderItem.modifdate}" class="news-date">${renderItem.modifdate}:&nbsp;</span>
            <span class="news-title">${renderItem.itemName}</span></a>
        <sly data-sly-test="${renderItem.item.description}">
            <br/>
            <span class="news-description">${renderItem.item.description}</span>
        </sly>
    </p>
</template>

<!-- TEASER -->
<template data-sly-template.teaser="${@ renderItem}">
    <p>
        <a href="${renderItem.item.path}.html"
           onclick="CQ_Analytics.record({event: 'listTeaserItemClicked', values: { listItemPath: '${renderItem.item.path @ context='scriptString'}' }, collect:  false, options: { obj: this }, componentPath: '${resource.resourceType @ context='scriptString'}'})">
            <img data-sly-test="${renderItem.hasimage}" class="teaser" src="${renderItem.item.path}/jcr:content.thumbnail.48.48.jpg" alt=""/>
            <span class="teaser-title">${renderItem.itemName}</span>
        </a>
        <sly data-sly-test="${renderItem.item.description}">
            <br/>
            <span class="teaser-description">${renderItem.item.description}</span>
        </sly>
    </p>
</template>

<!-- RELATED PRODUCTS -->
<template data-sly-template.relatedProduct="${@ renderItem} ${ @mdhash}">
    <a href="${renderItem.item.path}.html" class="p-small"
       onclick="CQ_Analytics.record({event: 'listItemClicked', values: { listItemPath: '${renderItem.item.path @ context='scriptString'}' }, collect:  false, options: { obj: this }, componentPath: '${resource.resourceType @ context='scriptString'}'})"><div class="bizhub-link-container"><div class="bizhub-link">${renderItem.itemName}</div><div class="bizhub-link-icon" ><i class="listmarker icon-right"></i></div></div></a>
</template>

<!-- TILES -->
<template data-sly-template.tile="${@ renderItem} ${@ mdhash}">
    <div class="promo-card" id="promo-card-${mdhash.calculatedValue}-${renderItem.index}" style="background-image:url(${renderItem.item.path @ context='scriptString'}.img.png);">
        <a href="${renderItem.item.path}.html" class="promo-card-link" aria-hidden="true" tabindex="-1"></a>
        <div class="blurBg" id="promo-card-${mdhash.calculatedValue}-${renderItem.index}-blurIMG"></div>
        <div data-sly-test="${renderItem.item.youtubeUrl}" class="playIcon">
            <i class="icon-controls-playaltL"></i>
        </div>
        <div class="promo-overlay blur-overlay" data-blur-what="promo-card-${mdhash.calculatedValue}-${renderItem.index}" data-dom="ready">
            <a id="promo-heading9" class="tile-tag eyebrow" href="${renderItem.item.path}.html">
                ${renderItem.item.tagTitles[0]}
            </a>
            <p class="heading-medium-emphasis">${renderItem.itemName}</p>
            <div class="promo-links">
                <a class="btn-circular" href="${renderItem.item.path}.html" aria-describedby="promo-heading9">
                    <div class="btn btn-small"><i class="icon-right"></i></div>
                    <span data-sly-test="${!renderItem.item.youtubeUrl}">Read more</span>
                    <span data-sly-test="${renderItem.item.youtubeUrl}">Watch now</span>
                </a>
            </div>
        </div>
    </div>
</template>

<!-- TILES 3-->
<template data-sly-template.tile3up="${@ renderItem} ${@ mdhash}">
    <div class="promo-card" id="promo-card-${mdhash.calculatedValue}-${renderItem.index}" style="background-image:url(${renderItem.item.path @ context='scriptString'}.img.png);">
        <a href="${renderItem.item.path}.html" class="promo-card-link" aria-hidden="true" tabindex="-1"></a>
        <div class="promo-overlay blur-overlay">
            <a id="promo-heading9" class="tile-tag eyebrow" href="${renderItem.item.path}.html">
                ${renderItem.item.tagTitles[0]}
            </a>
            <p class="heading-medium-emphasis">${renderItem.itemName}</p>
        </div>
    </div>
</template>
