<!-- topicList -->
<template
	data-sly-use.itemTemplate="listitem.html"
	data-sly-template.topicList="${@ renderItem} ${@ mdhash}">

        <p data-sly-test="${renderItem.list.length < 1}">No item found</p>

        <sly data-sly-test="${renderItem.list.length > 0}">
            <!--/*========== Large Tile ( 1 x 100% ) ==========*/-->
            <div class="foundation-ordered-list-container row">
                <div class="foundation-list-item item1 span12">
                    <sly data-sly-call="${itemTemplate['tile'] @ renderItem=renderItem.list[0], mdhash=mdhash}"></sly>
                </div>
            </div>

            <!--/*========== X-Small Tile (4 x 25% ) ==========*/-->
            <sly data-sly-test="${renderItem.list.length > 1}">    
                <div class="foundation-ordered-list-container row">
                    <div class="foundation-list-item item2 span3 opaqueOverlay">
                        <sly data-sly-test="${renderItem.list[1]}" data-sly-call="${itemTemplate['tile3up'] @ renderItem=renderItem.list[1], mdhash=mdhash}"></sly>
                    </div>
                    <div class="foundation-list-item item3 span3 opaqueOverlay">
                        <sly data-sly-test="${renderItem.list[2]}" data-sly-call="${itemTemplate['tile3up'] @ renderItem=renderItem.list[2], mdhash=mdhash}"></sly>
                    </div>
                    <div class="foundation-list-item item4 span3 opaqueOverlay">
                        <sly data-sly-test="${renderItem.list[3] && !renderItem.hasDisruptor}" data-sly-call="${itemTemplate['tile3up'] @ renderItem=renderItem.list[3], mdhash=mdhash}"></sly>
                        <sly data-sly-test="${renderItem.list[2] && renderItem.hasDisruptor}">
                            <div class="promo-card disruptor">
                                <a href="${currentPage.properties['disruptorURL']}">
									<span class="disruptor-content">
										<img src="${currentPage.properties['disruptorImage'] @ context='scriptString'}" alt="" />
										<span data-sly-test="${currentPage.properties['disruptorTitle']}" class="title">${currentPage.properties['disruptorTitle']}</span>
										<span data-sly-test="${currentPage.properties['disruptorSubtitle']}" class="subtitle">${currentPage.properties['disruptorSubtitle']}</span>
									</span>
                                </a>
                            </div>
                        </sly>
                    </div>
                    <div class="foundation-list-item item5 span3 opaqueOverlay">
                        <sly data-sly-test="${renderItem.list[4] && !renderItem.hasDisruptor}" data-sly-call="${itemTemplate['tile3up'] @ renderItem=renderItem.list[4], mdhash=mdhash}"></sly>
                        <sly data-sly-test="${renderItem.list[3] && renderItem.hasDisruptor}" data-sly-call="${itemTemplate['tile3up'] @ renderItem=renderItem.list[3], mdhash=mdhash}"></sly>
                    </div>
                </div>
            </sly>
    
            <!--/*========== Medium Tile ( 5 x 50% ) ==========*/-->
            <sly data-sly-test="${renderItem.list.length > 5}">    
                <div class="foundation-ordered-list-container row">
                    <div class="foundation-list-item item6 span6">
                        <sly data-sly-test="${renderItem.list[5] && !renderItem.hasDisruptor}" data-sly-call="${itemTemplate['tile'] @ renderItem=renderItem.list[5], mdhash=mdhash}"></sly>
                        <sly data-sly-test="${renderItem.list[4] && renderItem.hasDisruptor}" data-sly-call="${itemTemplate['tile'] @ renderItem=renderItem.list[4], mdhash=mdhash}"></sly>
                    </div>
                    <div class="foundation-list-item item7 span6">
                        <sly data-sly-test="${renderItem.list[6] && !renderItem.hasDisruptor}" data-sly-call="${itemTemplate['tile'] @ renderItem=renderItem.list[6], mdhash=mdhash}"></sly>
                        <sly data-sly-test="${renderItem.list[5] && renderItem.hasDisruptor}" data-sly-call="${itemTemplate['tile'] @ renderItem=renderItem.list[5], mdhash=mdhash}"></sly>
                    </div>
                </div>
    		</sly>
            <!--/*========== Small Tile (3 x 33% ) ==========*/-->
            <sly data-sly-test="${renderItem.list.length > 7}">    
                <div class="foundation-ordered-list-container row">
                    <div class="foundation-list-item item8 span4">
                        <sly data-sly-test="${renderItem.list[7] && !renderItem.hasDisruptor}" data-sly-call="${itemTemplate['tile'] @ renderItem=renderItem.list[7], mdhash=mdhash}"></sly>
                        <sly data-sly-test="${renderItem.list[6] && renderItem.hasDisruptor}" data-sly-call="${itemTemplate['tile'] @ renderItem=renderItem.list[6], mdhash=mdhash}"></sly>
                    </div>
                    <div class="foundation-list-item item9 span4">
                        <sly data-sly-test="${renderItem.list[8] && !renderItem.hasDisruptor}" data-sly-call="${itemTemplate['tile'] @ renderItem=renderItem.list[8], mdhash=mdhash}"></sly>
                        <sly data-sly-test="${renderItem.list[7] && renderItem.hasDisruptor}" data-sly-call="${itemTemplate['tile'] @ renderItem=renderItem.list[7], mdhash=mdhash}"></sly>
                    </div>
                    <div class="foundation-list-item item10 span4">
                        <sly data-sly-test="${renderItem.list[9] && !renderItem.hasDisruptor}" data-sly-call="${itemTemplate['tile'] @ renderItem=renderItem.list[9], mdhash=mdhash}"></sly>
                        <sly data-sly-test="${renderItem.list[8] && renderItem.hasDisruptor}" data-sly-call="${itemTemplate['tile'] @ renderItem=renderItem.list[8], mdhash=mdhash}"></sly>
                    </div>
                </div>
            </sly>
		</sly>

</template>
