@charset "utf-8";

/*****************  Primary Page Div Layout   **************************/
#globalNav {display:none;position:relative;//float:left;
top:0px;width:100%;background-color:#595959; } /**#585858 **/
#social-wrapper{display:none;}
#primary-wrapper { width:100%;max-width:100%;position:relative;top:0px;margin:0px auto;z-index: 10}
#wrapper {width:100%;box-shadow: 0px 0px 0px; float: none; margin: 0px auto;}
.tile-block {}
.footnote-block{}
.social-mobile { display:block; width: 100%; max-width:480px; }
#new-footer{}
#side_wrapper{}
#mediaContainer {} /** Media Player iFrame overlay div **/
#formContainer {} /** Lead Form iFrame overlay div **/
/*****************  Primary Page Div Layout End  ***********************/



/***** Icon Display BEGIN - Spritesheet *****/
.demo-icon { display:inline-block;width:30px;height:30px;background: url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') 0px -90px no-repeat;}
.blog-icon { display:inline-block;width:30px;height:30px;background: url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -30px 0px no-repeat;}
.mp3-icon { display:inline-block;width:30px;height:30px;background: url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -30px -30px no-repeat;}
.video-icon { display:inline-block;width:30px;height:30px;background: url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -30px -60px no-repeat;}
.infographic-icon { display:inline-block;width:30px;height:30px;background: url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -30px -90px no-repeat;}
.excel-icon { display:inline-block;width:30px;height:30px;background: url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -60px 0px no-repeat;}
.webpage-icon { display:inline-block;width:30px;height:30px;background: url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -60px -30px no-repeat;}
.pdf-icon { display:inline-block;width:30px;height:30px;background: url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -60px -60px no-repeat;}
.webinar-icon { display:inline-block;width:30px;height:30px;background: url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -60px -90px no-repeat;}
.search-icon{width:22px;height:20px;float:right;background:url('/ui/marketing_ent_turn_buscircle/1.0.0/images/ATT_Sprite_Retina_v1.png') -89px 0px no-repeat;border:none;}
.grey-carat-up-icon { display:inline-block;width:22px;height:10px;background:url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -90px -20px no-repeat;}
.grey-carat-down-icon { display:inline-block;width:22px;height:10px;background:url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -90px -30px no-repeat;}
.blue-carat-left-icon { display:inline-block;width:10px;height:20px;background:url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -90px -40px no-repeat;}
.blue-carat-right-icon { display:inline-block;width:10px;height:20px;background:url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -102px -40px no-repeat;}
/**.contact-icon {display:inline-block;width:30px;height:30px;background: url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -60px -30px no-repeat;}**/
#foresee-component-aside{}
.blue-carat-left-icon:hover, .blue-carat-right-icon:hover {cursor:pointer;}
/***** Icon Display END - Spritesheet *****/

/************* Global NAV Start *************************/
//#globalNavInterface {width:100%; max-width:980px;margin:0 auto; height: 36px;} /**max-width:480px;**/
#globalNavInterface {width:100%; max-width:100%;margin:0 auto; height: 36px;} /**max-width:480px;**/
#globalNavInterface.ecom #segMenuContainer {padding-left:0px;}
#segMenuContainer{padding:0 0 0 20px;}
ul.segMenu  li{float:left;list-style-type:none;}
.segMenu  li a{color:#FFF;font-size:13px;text-decoration:none;font-family: Omnes-ATT-W02;display:block;position:relative;}
.segMenu  li a.segMenuItem:after { content: " "; position: absolute; top:8px; margin-left: 5px; width: 12px; height: 14px; background-image: url(/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png); background-position: -59px 166px;}
.segMenu  li a span{font-family: Omnes-ATT-W02;}
.segMenu li a:hover { text-decoration: underline; }
#segMenuContainer ul.segMenu #segMenuItemPersonal{padding:10px 20px 8px 15px;}
#segMenuContainer ul.segMenu #segMenuItemBusiness{padding:10px 20px 8px 15px}
#segMenuContainer ul.segMenu #segMenuItemAboutATT {padding:10px 26px 8px 16px;}
#segMenuContainer ul.segMenu li:before {content: '';width:1px;height:24px;background-color:#919191;position:absolute;top:5px;}
#segMenuContainer ul.segMenu li:first-child:before { content:''; width:0;}
#leftSegMenu li {  position: relative; }
#leftSegMenu li a.segMenuItem {z-index: 99;border-radius: 3px 3px 0px 0px;border-style: solid solid none;border-color: transparent transparent transparent;border-bottom: none;line-height:15px;}
#leftSegMenu li a.segMenuItem.active { background-color: #fff; border-radius: 4px 4px 0 0; color: #767676;}
#leftSegMenu .gm-pop-container { display: none; top: 33px; position: absolute; z-index: 1003; border-radius: 0 0 5px 5px; background: #ffffff; box-shadow: #999 0 0 5px; padding: 0;}
#leftSegMenu .gm-pop { position: relative; top: 0px; width: 140px; height: 100%; padding: 0; margin: 0 0 5px;}
#leftSegMenu .gm-menu-pop-item { position: static; float: none;}
#leftSegMenu .gm-menu-pop-item a { color: #000; padding: 10px 10px 10px 14px; }
/************* Global NAV End   *************************/

/************* Social Wrapper / Social Mobile Start *************************/
#position-social, #social-share, #margin-block { display: none; }
.share-tab{color:#a7a7a7;font-size:13px;font-weight:bold;text-align:center;float:left;margin:15px 10px 0 5px;}	
.social-mobile .st_twitter_custom {background:url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") -111px -50px no-repeat transparent;cursor:pointer;width:24px;height:21px;float:left;margin:0.9em 3% 0;}
.social-mobile .st_linkedin_custom{background:url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") -111px -71px no-repeat transparent;cursor:pointer;width:24px;height:24px;float:left;margin:0.8em 3% 0;}
.social-mobile .st_facebook_custom {background:url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") -111px 0px no-repeat transparent;cursor:pointer;width:24px;height:24px;float:left;margin:0.8em 3% 0;}
.social-mobile .st_googleplus_large{background:url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") -111px -24px no-repeat transparent;cursor:pointer;width:24px;height:24px;float:left;margin:0.8em 3% 0;}
.social-mobile .st_email_custom{background:url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") -111px -95px no-repeat transparent;cursor:pointer;width:24px;height:24px;float:left;margin:0.8em 3% 0;}
.social-mobile .st_googleplus_large span.stButton span.stLarge {background: url("") repeat scroll 0 0 transparent !important;}
/************** Social Wrapper / Social Mobile End **************************/

/************* Header Start *************************/
.header-wrapper {background-color:#131313;}
.sticky{position:fixed !important;top:0;z-index:1001 !important;width:100%;}
#header{position:relative;top:0px;width:100%;margin:0 auto;height:45px;background-color:#131313;padding-left:15px;float:left;}
#ie #header {behavior:url(/library/javascript/PIE.htc);}
#header.resp-header .logo {margin-left:0px;}
#header .logo {
		display:block;
		width:36px;
		height:36px;
		float:left;
		margin: 4px 15px 0 15px;
		background: url(/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png) -2px -121px no-repeat !important;
		}

#header .segment {color:#fff;float: left;margin-top: 15px;font-size:20px;font-family:Omnes-ATT-W02;line-height: .8em;}
#header a { text-decoration: none; }
#header a:hover {cursor:pointer;}
#searchSubmit{display:block;}
#header ul.search{display:none; margin:8px 3px 0 0;}
#menu-icon:hover{cursor:pointer;}
.search .search-icon{margin: 5px 5px 0 0; height: 20px !important;}
#mob_search .search-icon{margin: 8px 15px 0 0;}
.search-icon:hover {cursor:pointer;}
#header .goto-select,#header .goto-options  {display: none;}
.regex-small {font-size:11px;font-family:Arial; margin-left: 2px;}
/************* Header End   *************************/

/*********************** breadcrumbs.css ******************/
.breadcrumbwrapper { display:none; }

/*********** Main Content Section *******************/
#content { position:relative;top:0px;clear:both;width:100%;margin:0 auto;} /**max-width:480px;**/
#main {float:left; }
#content.maincontent #headline-component {margin-left: 0px;}
#headline-component, #preface { float: left; margin: 20px 20px 0 20px; }
#headline-component h1 {font: normal 34px/38px Omnes-ATT-W02;color: #444;margin: 0 0 10px 0;letter-spacing: -.01em;}
#headline-component span { display: block; float: left; font: normal 20px/20px Omnes-ATT-W02; color: #666; }  /*width:inherit; Sub-Heading */
#main h2, #aside h2 {font: normal 24px/28px Omnes-ATT-W02;color: #666;margin: 0 0 20px 0;letter-spacing: -.01em;}
#main h3 {font: normal 20px/24px Omnes-ATT-W02;color: #666;margin: 0 0 10px 0;letter-spacing: -.01em;}
#main h4 {font: normal 18px/20px Omnes-ATT-W02;color: #666;margin: 0 0 10px 0;letter-spacing: -.01em;}
#aside h5 {font: normal 14px/16px Omnes-ATT-W02;color: #666 !important;margin: 0 0 5px 0;}
#main h6, #aside h6 {font: normal 14px/16px Omnes-ATT-W02;color: #666;margin: 0 0 5px 0;letter-spacing: .01em;}
#content p { clear: none; font: normal 15px/22px ClvATT-Light,Arial,sans-serif; color:#444; }
#main h2 sup, #aside h2 sup {font-family:Omnes-ATT-W02;}
#main a, #aside a { font:normal 15px/22px Omnes-ATT-W02,Arial,sans-serif;color:#067ab4;text-decoration:none; }
#main h2 a { font: normal 24px/28px Omnes-ATT-W02 !important;}
#main h3 a { font: normal 20px/24px Omnes-ATT-W02 !important;}
#main h4 a { font: normal 18px/20px Omnes-ATT-W02 !important;}
/******* a.learn-more{font-weight:bold !important;font-size:18px !important;} *******/
#main a:hover, #aside a:hover { color:#199ddf; text-decoration:underline;}
#main a:visited, #aside a:visited  { color:#003b7b; }
#main a:visited:hover, #aside a:visited:hover { color:#199ddf; text-decoration:underline;}
/********************************************
 * Featured Component
 ********************************************/
#featured-component {display:block;float:left;width:92%;margin:0 auto;padding:0px; }
#video-component { display:block;float:left;width:100%;margin:0px 0px 35px;padding:0px; }
/*.imgplyr {border:none;opacity:0.4;filter:alpha(opacity=40);position:absolute;top:50%;left:50%;margin-top:-37.5px;margin-left:-37.5px;}*/
/*.imgplay {border:none;position:absolute;top:50%;left:50%;margin-top:-15.5px;margin-left:-5px;}*/
.plybkg {background-color: #fff;position:relative;}
.audioplay {margin-left:-7px;margin-top:-7px;}
.audioplay a {font-family:Verdana;font-size:11px;vertical-align:middle;margin-right:75px;outline:none;}

#featuredContent { display: block; float: left; width: 150px; margin: 0 20px 10px 0; padding: 0; }
.imgbackground { position:relative; z-index:1; background:url(""); background-repeat:no-repeat; width:150px;height:100px;}
.featured-content-title span { display:block;margin:0;padding:0;font:normal 15px/20px Omnes-ATT-W02;color:#666 }
.feat-vid-hover-text { display: none; }
#hero-component { display: none; }
#hero-component-mobile { clear: both; width: 320px; height: 170px; background-color: #666; margin: 3px auto; }
#featured-promo-component {float:left;border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:20px 0;margin-bottom:35px;}
#featured-promo-component h2 {margin:0 0 10px;}
#featured-promo-component p {margin-bottom:10px;font:normal 14px/17px ClvATT-Light;}

#listing-component li, #add-info-component li, #tab1-copy li, #tab2 li, #tab3 li, #tab4 li, #tab5 li { clear: none; margin: 0 0 0 20px; font: normal 15px/22px ClvATT-Light; color:#444; }
.inner-ul{ margin: 0 0 0 10px !important;}

#main .resource-item-left h2 a, #main .resource-feature-right h2 a { font: normal 20px/24px Omnes-ATT-W02 !important; }
.resource-feature-item ul { list-style-type: none; }

.footnote hr { clear: both; display: block !important; float: left; width:35% !important; height: 1px; margin: 25px 0 20px 0 !important; border:none; background-color:#CDCDCD; color:#CDCDCD; }
.footnote p, .footnote a { clear: both !important; font: normal 12px/16px Omnes-ATT-W02 !important; margin: 0 0 5px 0 !important; }

/* Right Margin */
#aside { display: block; float: left; width: 100%; margin: 0 auto 35px 0;}
#getStarted-component, #highlights-component { width:240px; margin:25px auto 0 auto;height:100%;overflow:hidden;}
#foresee-component-aside {clear:both;display:block;margin:35px auto 17px;padding-top:20px;width:240px;border-top:1px solid #CDCDCD;float:left;}
#getStarted-component ul { display: block; float: left; width: 100%; }
#getStarted-component span.phone-nbr {font:normal 15px/32px ClvATT-Light;color:#067ab4;vertical-align:middle;}
#callus-component span.label {font: normal 15px/32px ClvATT-Light;color:#666;vertical-align:middle;padding-left:40px;} /* Padding from 10 to 40 for AB Test */
#form-component span.label {font:normal 18px/34px Omnes-ATT-W02;color:#666;vertical-align:middle;padding-left:40px;} /* Padding from 10 to 40 for AB Test */
#callus-component, #form-component { width: 200px; margin: 0; }
#chat-component { width:220px;margin:0 0 5px 0; }
#chat-component li, #callus-component li, #form-component li {list-style-type:none;height:30px;}
#chat-component li {background:url('icons/icon-chat.png') no-repeat top left;padding-left:40px;}
.callus-icon {display:block;float:left;background:url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') 0px -60px no-repeat;width:30px;height:30px;margin-right:-30px;} /* Margin to accomodate AB Test */
.contactme-icon {display:block;float:left;background:url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -199px -251px no-repeat;width:30px;height:30px;margin-right:-30px;} /* Margin to accomodate AB Test */
#chat-component a, #callus-component a, #form-component a { line-height: 32px; vertical-align: middle; }
#form-header { float: left; width: 110%; margin: 13px 0 15px 0;border-top:1px solid #CDCDCD;padding-top:12px;}
#foresee-component-aside p{ color:#666666;font:normal 15px/22px ClvATT-Light;margin-bottom: 12px;}
.foresee-item-aside {margin-top:15px;}
.foresee-icon-aside {display:inline-block;float:right;background:url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') 0px -162px no-repeat;width:76px;height:30px;margin-top:8px;}
.foresee-text-aside {float:left;width:148px;color:#666;font:normal 12px/14px ClvATT-Light;}
#promo-component, #blog-component { clear: both;display: block;margin: 35px auto 17px auto;padding-top: 20px;width: 240px; border-top: 1px solid #CDCDCD; }
#promo-component  img, #promo-component  p{margin:20px 0 0 0;}
#promo-component p { font: normal 15px/22px ClvATT-Light; color: #666;}
#promo-component p span{font: normal 15px/22px attBold; color: #444;}
#promo-component hr { display: block; width:100%; height: 1px; margin: 15px 0; border:none; background-color:#CDCDCD; color:#CDCDCD; }
/*  Blog Feed  */
.key-content-component { display: inline-block; } 
#key-content-component ul, .key-content-component ul { width: 100%; float: left; margin: 0 !important; }
#key-content-component li, .key-content-component li { list-style-type: none; display: block; margin: 0 !important; }
.key-content-left {float: left; width: 20%; display: inline;}
.key-content-left img { float:left; margin: 0; }
.key-content-right { float: right; width: 80%; display: inline; margin: 10px 0 0 0; }
.key-content-right p { float: left; margin: 0px 3px 10px 0 !important; }
.key-content-right span { float: left; font: normal 15px/22px ClvATT-Light; margin: 0 0 5px 0; }
/*  Blog Feed End  */
/* Right Margin End */

form .error{ border:1px solid red; border-radius: 3px 3px 3px 3px; }
sup {font-size:12px;}
.font-bold { font-weight: bold !important; }
.heading2, .heading2 a { display: block; margin: 0 0 20px 0; font: normal 24px/28px Omnes-ATT-W02 !important; color: #666; }
.no-border { border: 0 !important; }
.mobile-hide {display: none;}
.tablet-hide {display: block; }
.featured-spot { display: block; clear: none; width: 200px; }
.menu-promo { display: none; }
.fs-list-image { }
.fs-list-text { }
.featured-resource { display:block; clear:none; width:160px;}
.callout-left, .callout-right{ margin:15px auto;border-top:1px solid #ccc;border-bottom:1px solid #ccc;padding:10px 0;}
.featured-image, .featured-icon-left, .featured-icon-right { display: none; }
.featured-diagram {float:left;width:100%;}
.featured-diagram img {display:inherit;margin:25px auto;width:100%;height:auto;max-width:640px;}

/*********** Main Content Section End ***************/

/*-------------Slide Overlay Styles---------------------*/
.slide { position: relative; height: 305px; }
.slide-overlay { position: absolute; bottom: 0; height: 150px; width: 100%; background: rgb(96, 96, 96); background: rgba(96, 96, 96, .9); }
.slide-text { width: 235px; height: 93px; margin: 10px auto 0; }
.slide-text h5, .mobile-slide-text h5 { font:normal 15px/20px Omnes-ATT-W02,Arial,sans-serif; color:#FFF; }
#ie div.slide-text h5, #ie div.mobile-slide-text h5 {font:normal 15px/22px Arial,sans-serif;}
.slide-button { clear: both; text-align: center; width: 200px; margin: 0 auto 10px; position: relative; z-index:10; }
.mobile-slide-text { width: 250px; height: 90px; margin: 25px auto 0; }
.mobile-slide-button { clear: both; text-align: center; width: 200px; margin: 0 auto 25px; }
/*-------------Button Styles------------------*/
.css-button { display:block; clear: both; text-align: center; width: 200px; margin: 20px auto; position: relative; z-index:10; }
.learn-button { display:block;clear:both;text-align:center;width:150px;margin:20px 0px;position:relative;z-index:10;font:15px/15px Omnes-ATT-W02; }
.account-button{ float: left; text-align: center; width: 80px; margin: 0 auto; position: relative; z-index:10; } /**padding-top:6px !important; padding-bottom:4px !important;}*/
.css-button a, .slide-button a, .account-button a, .learn-button a { padding-top:6px !important; color:#fff !important;}
.small-button{width:150px;}
.wide-button{width:250px;}
/* Common button styles */
/* Blue button styles */
.blue {text-decoration:none!important;color:#ffffff !important;background-color:#067ab4;border:1px solid #067ab4;border-radius:3px;}
.blue:hover {border:1px solid #199ddf;background-color:#199ddf;border-radius:3px;}
.button {display:block;padding-top:6px;padding-bottom:4px;}
#main a.button, a.button {font:normal 16px/22px Omnes-ATT-W02,Arial;}
#ie div.css-button, #ie div.slide-button, #ie div.account-button {background-color: #067ab4; border:1px solid #067ab4;}
#ie div.slide-button a {font-family:Arial,sans-serif !important;}
/* Grey button styles */
.grey {text-decoration:none!important;color:#BBB !important;background-color:#F2F2F2;border:1px solid #cccccc;border-radius:3px;}
.grey:hover {border:1px solid #d8d8d8;background-color:#f4f4f4;border-radius:3px;}
.grey:active {border: 1px solid #ccc;}
.grey:visited {color:#067ab4 !important;}
/* Orange button styles */
.orange {text-decoration:none!important;color:#ffffff !important;background-color:#FF8C00;border:1px solid #FF8C00;border-radius:3px;}
.orange:hover{background-color: #FF9C00;border:1px solid #FF9C00;cursor:pointer;}
.orange-text{text-decoration:none;color:#ef6f00;}
a.orange-text:hover {text-decoration:underline;cursor:pointer;}

.slide-button a:visited {color: #ffffff !important;}
/* Large Button Styles */
.large {padding:7px 20px 5px 20px;font-size:22px;}
/* Inactive Button Styles */
.inactive {color:#838383;border:1px solid #cccccc;background-color:#ededed;}

/******************* Tab Styles ***************************/
ul.resp-tabs-list, p {margin: 0px;padding: 0;}
#horizontalTab {float: left;border: none;background-color: #808080;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;
	-moz-box-shadow: 0 0 8px #d8d8d8;-webkit-box-shadow: 0 0 8px #d8d8d8;box-shadow: 0 0 8px #d8d8d8;}
#ie #horizontalTab {behavior: url(/library/javascript/PIE.htc);}
.resp-tabs-list li {display: inline-block;padding:20px 15px 15px;margin:0;list-style:none;cursor:pointer;float:left;background:#808080;
	border-right:1px solid #ffffff;}
#tab-component .resp-tabs-list li  a{font:normal 15px/29px Omnes-ATT-W02;color:#fff !important;text-decoration:none !important;}
#tab-component .resp-tabs-list li a sup {font-family:Omnes-ATT-W02;}
.resp-tab-item-wrap { padding: 12px 15px !important; }
.resp-tab-item-wrap a { line-height:17px !important;}
.resp-tabs-list li  a:hover,.resp-tabs-list li  a:visited{text-decoration:none !important;color: #fff;font-weight:normal !important;}
.first-tab {-webkit-border-top-left-radius:4px;-moz-border-top-left-radius:4px;border-top-left-radius:4px;}
#ie .first-tab {behavior:url(/library/javascript/PIE.htc);}
.resp-tabs-container {padding:0px;background-color:#fff;clear:left;}
.resp-tab-content {display: none;}
#tab-component li.resp-tab-active a{color:#666 !important;text-decoration:none;}
.resp-tabs-container, .resp-tab-content.resp-tab-content-active {display:block;-webkit-border-bottom-right-radius:4px;-moz-border-bottom-right-radius:4px;border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;-moz-border-bottom-left-radius:4px;border-bottom-left-radius:4px;}
#ie .resp-tabs-container, #ie .resp-tab-content.resp-tab-content-active {behavior: url(/library/javascript/PIE.htc);}
.resp-content-active, .resp-accordion-active {display: block;}
h2.resp-accordion {cursor:pointer;display:none;font:inherit;background-color:#808080 !important;color:#fff !important;border-top:1px solid #d8d8d8;margin:0px !important;padding:20px 15px;}
h2.resp-tab-active, .resp-tab-active {border-bottom:0px solid #c1c1c1 !important;margin-bottom:0px !important;color:#444 !important;background-color:#fff !important;text-decoration:none !important;}
h2.resp-tab-title:last-child {border-bottom: 12px solid #c1c1c1 !important;background:blue;}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {float: left;width: 30%;}
.resp-vtabs .resp-tabs-list li {display: block;padding: 15px 15px !important;margin: 0;cursor: pointer;float: none;}
.resp-vtabs .resp-tabs-container {padding: 0px;background-color: #fff;border: 1px solid #c1c1c1;float: left;width: 69.6%;min-height: 250px;border-radius: 4px;clear: none;}
.resp-vtabs .resp-tab-content {border: none;}
.resp-vtabs li.resp-tab-active {border: 1px solid #c1c1c1;border-right: none;background-color: #fff;position: relative;z-index: 1;margin-right: 0px !important;}
.resp-arrow {width:23px;height:20px;float:right;margin:10px 10px 0 0;background:url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") -135px -75px no-repeat transparent;}
h2.resp-tab-active span.resp-arrow {background:url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") -90px -20px no-repeat transparent;height:10px;width:22px;}
/*-----------Accordion styles-----------*/
h2.resp-tab-active {color: #444444;font-weight:normal;}
.resp-easy-accordion  h2.resp-accordion {display: block;}
.resp-easy-accordion .resp-tab-content {border: 1px solid #cdcdcd;border-right: none;border-left: none;}
.resp-jfit {width: 100%;margin: 0px;}
.resp-tab-content-active {display: block;}
.resp-easy-accordion .resp-tab-content:last-child {border-bottom: 1px solid #d8d8d8 !important;}
/******************* Tab Styles END ***********************/

/************************** Slides Styles *************************/
.rslides, .mslider {position:relative;list-style:none;overflow:hidden;width:100%;padding:0;margin:0 !important;}
.rslides li, .mslider li {-webkit-backface-visibility:hidden;position:absolute;display:none;width:100%;left:0;top:0;margin:0px !important;background-color: #666;}
.rslides li:first-child, .mslider li:first-child {position: relative;display: block;float: left;}
.rslides img, .mslider img {display: block;height: auto;float: left;width: auto;border: 0;}
.rslides_tabs {height:10px;list-style:none outside none;margin:0px !important;padding: 0 0 10px 0;float:right;width:auto;}
.rslides_tabs li, .mslider_tabs li {float:left;text-indent:-99999px;margin:0px 3px 0px 0px !important;}
.rslides_tabs li  a{line-height:20px;background: url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") repeat scroll -95px -95px transparent;display:block;height:10px;text-indent:-99999px;width:11px;font-size:0;margin:5px;}
.rslides_tabs li  a:hover, .mslider_tabs li a:hover{ cursor:pointer; }
.rslides_nav, .mslider_nav {display:none !important;} 
.rslides_tabs  li.rslides_here{ }
.rslides_tabs li:first-child {margin-left: 0;}
.mslider_tabs li:first-child {margin-left: 10px;}
.rslides_tabs .rslides_here a {background-position:-95px -105px;}
/************************** Slides Styles End ***********************/

/************************** Days Counter Component Style starts ***********************/
.countContainer .countcont {
	clear: both !important;
	display: table !important;
	float: none !important;
	line-height: 1 !important;
	margin: 5px auto 10px !important;
	text-align:center !important;
}
.countContainer{
	border-bottom: 1px solid #e4e4e4;
    float: left;
    font-size: 17px;
    line-height: 1.3;
    margin: 0 0 20px;
    padding-bottom: 10px;
    width: 100%;
}
.countContainer .days-no,
.countContainer .shut-date{
	font-weight:bold;
}
.countContainer .days-no{
    border: 1px solid #ccc;
    border-radius: 100%;
    display: inline-block;
    height: 55px;
    text-align: center;
    width: 55px;
	line-height: 1 !important;
}
.countContainer .days-no .days{
    color: #ef6f00;
    float: left;
    font-size: 25px;
    font-weight: 900;
    line-height: 1;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.countContainer .days-no small{
    color: #ef6f00;
    float: left;
    font-size: 14px;
    text-align: center;
    width: 100%;
}
.countContainer .orng{
    color: #ef6f00;
    font-weight: bold;
    text-transform: uppercase;
}
/******************* Days Counter Component Style Ends ***************************/



/** NEB Recent Highlights */
.bottom-block.recent-articles{ background-color: #fff; border-bottom: #cdcdcd; padding: 0px; display:none;}
.recent-articles .carousel-outer-wrapper{
    float: left;
    width: 100%;
    position: relative;
	height:255px;
    padding: 10px 0 0px 0;
}

.recent-articles .carousel-tiles-holder{
    height:255px;
    overflow: hidden;
    position: absolute;

    left: 0;
    right: 0;
    margin: auto;
}

.swiper-recentArticles-mobile { margin-bottom:10px; }
.recent-articles .tile-item { height: 230px; width: 230px; overflow: hidden;}
.recent-articles .tile-body{ background: #fff; padding: 15px 0px 0 0px; width: 228px; height:100px; }
.recent-articles .tile-body span { height: 60px; overflow: hidden; }
.recent-articles .tile-body span a{ color: #067AB4; font-weight: normal; }
.recent-articles .tile-body p{ color: #444; }
.swiper-recentArticles-mobile .tile-item{margin: 0px;}
/** NEB Recent Highlights - Mobile */
.swiper-recentArticles-mobile .swiper-slide {
    
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-recentArticles-mobile .swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-recentArticles-mobile .swiper-button-next-rececentArticles, .swiper-recentArticles-mobile .swiper-container-rtl .swiper-button-prev-rececentArticles {
    right: 0px;
    left: auto;
}
.swiper-recentArticles-mobile .swiper-button-next-rececentArticles, .swiper-recentArticles-mobile .swiper-button-prev-rececentArticles{
	position: absolute;
	width: 38px;
	height: 37px;
	background: url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -118px -163px;
	cursor: pointer;
	top: 46%;
	z-index: 10;
	background-color: #fff;
	border-radius: 100%;
}
.swiper-recentArticles-mobile .swiper-button-next-rececentArticles.swiper-button-disabled, .swiper-recentArticles-mobile .swiper-button-prev-rececentArticles.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none;
}
.swiper-recentArticles-mobile .swiper-button-prev-rececentArticles, .swiper-recentArticles-mobile .swiper-container-rtl .swiper-button-next-rececentArticles {
    left: 0px;
    right: auto;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.swiper-recentArticles-mobile .swiper-button-next-rececentArticles, .swiper-recentArticles-mobile .swiper-button-prev-rececentArticles {
        position: absolute;
        width: 38px;
        height: 37px;
        background: url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png')-118px -158px;
        cursor: pointer;
    	top: 46%;
    	z-index: 10;
        background-color: #fff;
        border-radius: 100%;
}
.swiper-recentArticles-mobile .swiper-container-rececentArticles {
    width: 320px;
    height: 274px;
}
.swiper-recentArticles-mobile .swiper-container-rececentArticles {
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.swiper-recentArticles-mobile .swiper-container-android .swiper-slide, .swiper-recentArticles-mobile .swiper-wrapper{

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.swiper-recentArticles-mobile .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
/** ForSee Survey */
    #foresee-component {
        clear: both;

        width: 100%;
        max-width:980px;
        margin:auto;
        padding: 0 20px 40px 20px;
        box-sizing: border-box;
    }

    #foresee-component p{ 
        color:#444444;
        font:bold 16px/22px ClvATT-Light;
        margin-bottom: 12px;
    }
    #foresee-component span{ text-align: left; }
    .foresee-icon {
        background:url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') 0px -162px no-repeat;
        width:76px;
        height:30px;
        margin: 20px auto;
    }
    .foresee-text { color:#666; font:normal 12px/14px ClvATT-Light; }
/** ForSee Survey */



/******************* Footer Styles ***************************/
#newFooter{
    background:#191919;
    border-top:10px solid #009fdb;
    clear: both; 
    display: block; 
    width: 100%; 
    overflow: hidden; 
    position:relative;
}
#newFooter .wrapper {
    margin: 0 auto;
    padding: 39px 0 60px;
    width: 100%;
    display:table;
}
#newFooter a{
    color:#d2d2d2;
    text-decoration:none;
}
#newFooter a:hover{
    text-decoration:underline;
}
#newFooter .footer-main{
    padding:0 0 50px 15px;
    border-bottom:1px solid #d2d2d2;
    display:table;
    margin:0 0 45px;
}

#newFooter .footer-item {
    float: left;
    margin: 0 70px 0 !important;
}

#newFooter .footer-item .item-header{
    color: #009fdb;
    float: left;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 24px;
    margin: 0 0 8px;
    width: 100%;
    font-family: 'Omnes-ATT-W02' !important;
    font-weight: bold;
}
#newFooter .footer-item ul{
    list-style-type:none;
}
#newFooter .footer-item ul li {
    line-height: 1;
    margin: 14px 0 0;
    font-family:Omnes-ATT-W02, Helvetica, Arial, sans-serif !important;
}
#newFooter .footer-item ul li:first-child{
    margin:0;
}
#newFooter .footer-item ul li a{
    font-family:Omnes-ATT-W02, Helvetica, Arial, sans-serif !important;
    font-size:16px !important;
}
#newFooter .footer-bottom {
    color: #d2d2d2;
    margin: 0 auto;
    max-width: 700px;
    font-family:Omnes-ATT-W02, Helvetica, Arial, sans-serif !important;
	padding-left:15px;
}

#newFooter .footer-links{
    display: table;
    margin: 0 0 30px;
    width: 100%;
}
.footer-bottom .bottom-left{
    float: left;
    margin: 0;
    width: 77%;
}
.footer-bottom .legal-notes{
    font-size: 12px;
    width: 98%;
    font-family: inherit !important;
}
.footer-bottom .legal-notes{
    font-family: inherit !important;
}
.footer-bottom .bottom-logo{
    margin-top:15px;
    float: right;
    width: 130px;
    height:44px;
    background: url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") 0px -198px no-repeat transparent;
}
.footer-bottom .bottom-logo a{
    float: left;
    height: 48px;
    width: 100%;
}
#newFooter .footer-links a {
    font-family:Omnes-ATT-W02, Helvetica, Arial, sans-serif !important;
    font-size:16px;
}

/************* Mobile NAV Start *************************/
.menu-icon {width:20px;height:20px;background:url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -136px 0px no-repeat;margin:12px 30px 0 0;}
.close-icon {width:20px;height:30px;background:url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -136px -20px no-repeat;}
#icon-menu:hover{cursor:pointer;}
#side_wrapper{width:280px;float:right;/*background:url(images/border-left1.png) repeat-y;*/}
#inner_wrap ul{list-style-type:none;}
#mob_search{width:100%;height:38px;position:relative;background:#fff;border-radius:2px;color:#444;}
#mob_search .search_text{border:none;padding: 5px 0 8px 15px;width: 195px;float:left;border-radius:2px;font-family: ClvATT-Light;font-size:1em;margin: 2px 2px 2px 2px;}
#ie #mob_search .search_text{behavior:url(/library/javascript/PIE.htc);}
#mainNavigation,#m_menu_wrapper{display:none;}	
#m_menu_wrapper{clear:both;position: relative;z-index: 10;}
#m_primaryNav li {background-color:#fff;border:1px solid #f6f6f6;}
#m_primaryNav li a {color:#67a0c6;font-size:13px;font-weight:bold;text-decoration:none;line-height:44px;padding-left:15px;}
#side_wrapper {display:none;position:absolute;top:0px;right:0px;bottom:0;z-index:10000000;background-color:#fff;padding-bottom:50px;}/**z-index:1001**/
#side-wrapper-header { background-color: #131313; height: 45px; padding: 5px 10px 5px 10px;width:inherit;box-sizing:border-box;z-index:101;}
#inner_wrap ul li{margin: 0 15px; border-top:1px solid #ccc;}
#inner-wrap ul li:first-child { border-top: none; }
#inner_wrap ul li a{color: #131313;font-size:1.125em;font-family:Omnes-ATT-W02;line-height:26px;text-decoration:none;} 
#inner_wrap ul li span.arrow_prod_m, 
#inner_wrap ul li span.arrow_account_m,
#inner_wrap ul li span.arrow_blog_m,
#inner_wrap ul li span.arrow_goto_m,
#inner_wrap ul li span.arrow_personal_m,
#inner_wrap ul li span.arrow_business_m,
#inner_wrap ul li span.arrow_about_m{border-left:1px solid #ccc;float:right;padding-right:0;}
.slider_m{display:block;float:right;color:#fff;}

.mob_main_menu li { padding: 20px 0 17px; margin: 0 15px; }
.mob_main_menu .blue-carat-right-icon, .sub_mob_menu .blue-carat-right-icon {margin-top:3px;margin-left:15px;}
.activemenu { display: block; padding: 20px 0 0; border-top-style: none !important; }
.sub_menu_wrap { background-color: #F7F7F7; }
.active_sub_menu { padding:20px 0 17px; margin: 0 !important; border-top:none; background-color: #FFF; }
.active_sub_menu .sub_back_arrow span { margin: 5px 15px 5px 15px; display: block !important; }
.activemenu .back_arrow span { margin: 5px 15px 5px 0; display: block !important; }
.active_sub_menu_wrapper { display: block !important; background-color: #F7F7F7; }
.active_sub_menu_items { position:relative;display: block !important; padding: 15px 10px 13px; background-color: #F7F7F7 !important; }
.active_sub_menu_items:first-child { border-top: none !important; }
.active_sub_menu_wrapper { margin: 17px 0 -17px; }
.active_sub_menu_items a { display: inline-block; font-size: 1em !important; line-height: 22px !important; width:86%; vertical-align: middle;}   /********   width: 83%; }   *********/
.back_arrow,.sub_back_arrow {float:left;border-right:1px solid #ccc;margin-right:15px; margin-left: 5px}
.sub_arrow_m{border-left:1px solid #ccc;float:right;padding-right:5px;}
.active_sub_menu_items .sub_arrow_m{position:absolute;height:25px;margin-top:-12.5px;top:50%;right:0;}
.account li:first-child { border-top: none !important; }
.blog li:first-child { border-top: none !important; }
.back_arrow { display: none; }
.account-button-wrapper { margin: 20px 0 0; }
.account-links { display: block; float: left; clear: both; }
/************* Mobile NAV End   *************************/

/********************************************
 * Overlay Loading Media File using JWPlayer
 ********************************************/
.overlay {padding:0px;display:none;font-family:Verdana;height:22px;width:600px;background-color:#dadada;}		
.overlay #containerTitle {font-family:Verdana;width:585px;font-size:8pt;margin-top:4px;margin-bottom:4px;margin-left:10px; vertical-align:middle;}
.overlay .overlayTitle {float:left;color:#444444;}
.overlay .overlayClose {color: #444444;float:right;vertical-align: middle;font-size:10pt;font-family: Verdana;text-decoration:none;margin-top:-2px;padding-bottom:4px}
.overlay .overlayButton {font-family:verdana, Arial;border: 2px solid #000;font-size:10px; font-weight: 900;}
/********************************************/
	/***************** Teaser Component Start *************************/
	#teaser-component{
		width:100%;
		max-width:640px;
		float:left;
		border-top:1px solid #cccccc;
		border-bottom:1px solid #cccccc;
		margin: 15px 0;
	}
	#teaser-component .teaser-inner{
		display: block;
		margin: 30px 0 0 15px;
		width: auto;
	}
	#teaser-component .teaser-thumb{
		width:180px;
		height:auto;
		margin:0 45px 20px 15px;
		float: left;
	}
	#teaser-component .teaser-content {
		float:left;
	}
	/***************** Teaser Component End ***************************/

/*** Chat Button repositioninng ***/
button.rightSide { /*For Vertical button positioning*/
    top: 320px !important;
}
/***********************************************/
@media screen and (min-width: 320px) {
/***********************************************/

/** NEB Recent Highlights */
.recent-articles .tile-block{width: 100%;}
/** NEB Recent Highlights - Mobile */

/** ForSee Survey */
.foresee-icon-holder,.foresee-text,.foresee-action{
    display: block;
}
foresee-component-wrapper {
	border-top: none;
	padding-top: 10px;
}
.foresee-action{ width: 100%; }
.foresee-text { width: 100%; }

/******************* Footer Styles ***************************/

/**#newFooter .wrapper{
    max-width:90%;
}
*/
#newFooter .footer-item {
    float: left;
    margin: 0 0 30px !important;
    width:100%;
}
#newFooter .footer-links a {
    border-left: 0 none;
    clear: both;
    line-height: 30px;
    padding: 0;
    float:left;
}
.footer-bottom .bottom-left {
    margin: 0 0 30px;
    width: 100%;
}
#newFooter .footer-main{
    width:100%;
}

.footer-bottom .bottom-logo{
    margin:15px auto 0;
    float:none;
    display:table;
}

/******************* Footer Styles End ***************************/

/**************************************/
}
/**************************************/

/***********************************************/
@media screen and (min-width: 480px) {
/***********************************************/
/**#content, #main { max-width:480px;} **/
#footer-want-to, #footer-participate, #footer-learn, #footer-legal-info { display:block;float:left;vertical-align: top;}
#footer-want-to {margin:0 60px 0 0;}
#footer-learn {margin:0 110px 0 0;}
#footer-popular-services {clear:left;}
#footer-secondary {max-width:430px;margin:0 25px 15px;}
#footer-copyright {margin: 20px 30px 10px 0;}

/**************************************/
}
/**************************************/
/*******************************************************************************/
@media screen and (min-width:481px) {
/*******************************************************************************/
 .social-mobile {display:block;width: 96%; float: right; border-top:#CCCCCC solid 1px; border-bottom:#CCCCCC solid 1px; margin:0 2% 15px; height:45px; background:none;}
 .share-tab{margin: 15px 10px 0 5px;}
 .share480{display:none;}
/*******************************************************************************/
 }
/*******************************************************************************/

/*******************************************************************************/
@media screen and (min-width:640px) {
/*******************************************************************************/
	/***************** Teaser Component Start *************************/
	#teaser-component .teaser-inner{margin: 30px 15px 0;}
	#teaser-component .teaser-content {float:right;margin-left:0px;width:295px;} /** width added for IE issue */
	#teaser-component .teaser-thumb{margin:0 30px 20px 5px;}
	/***************** Teaser Component End ***************************/

/*******************************************************************************/
 }
/*******************************************************************************/

/*******************************************************************************/
@media only screen and (max-width: 767px) {
/*******************************************************************************/

	/*************************** sharethis.css  **********************/
	.share-tab{display:block;}
	.social-mobile { display: block; }
	.social-mobile {width: 96%; float: right; border-top:#CCCCCC solid 1px; margin:0 2% 0; height:45px; background: none;}
	.share480{font-size:16px;color:#444444;float:left;margin: 1em 0.2em 0 0;display:none;}
	/** SAYT Fix **/
	#q {display: none;}

/******************* Tab Styles ***************************/
    ul.resp-tabs-list {display: none;}
    h2.resp-accordion {display: block;}
	.resp-tab-active {border-bottom:none !important;border-right:none !important;border-left:none !important;color:#444 !important;background-color: #ffffff !important;margin-bottom:0px !important;}
    .resp-vtabs .resp-tab-content {border: 1px solid #C1C1C1;}
    .resp-vtabs .resp-tabs-container {border: none;float: none;width: 100%;min-height: initial;clear: none;}
	.resp-tabs-container{
		-webkit-border-bottom-right-radius: 0px !important;
		-moz-border-bottom-right-radius: 0px !important;
		border-bottom-right-radius: 0px !important;
		-webkit-border-bottom-left-radius: 0px !important;
		-moz-border-bottom-left-radius: 0px !important;
		border-bottom-left-radius: 0px !important;
	}
	.resp-accordion-closed {display:none !important;}
    .resp-vtabs .resp-tab-content:last-child {border-bottom: 1px solid #c1c1c1 !important;}
/******************* Tab Styles END ***********************/

/*******************************************************************************/
}
/*******************************************************************************/

/************** Tablets Portrait or Landscape ************************/ 
@media screen and (min-width: 768px) {
/*******************************************************************************/
	/**#globalNavInterface { max-width:768px; }**/

	/************* Header Start *************************/
	/**#header.resp-header { max-width:768px; }  **/
	#m_header .search ul li{list-style-type:none !important;}
	/************* Header End   *************************/
	/**#content, #main { max-width:768px;}**/
	#headline-component, #preface { float: left; margin: 20px 15px 0 15px; } /**width: 738px;**/
	/**#main { float: left; width:758px; max-width:758px; margin: 0 auto; }  Removed with new NAV integration **/
	#featured-component { float:left;width:260px;margin:0px 35px 0px 0px;padding:0px; }
	.featured-component-right { float: right !important; margin: 0 0 0px 35px !important; }
	#video-component { width:260px;margin:0px auto 35px; }
	#featuredContent { float: left; width: 260px; margin: 0 20px 0 0; }
	.imgbackground { width:260px; height:135px;}
	.featured-content-title span { float: left; width: 100%; margin: 10px 0 0; } /* Updated  from 35px bottom margin */
	#hero-component { display:block;float:left;width:260px;margin:0px auto 35px;padding:0;border:1px solid #CDCDCD; }  /*Updated to add 35px bottom margin */
	#hero-component-mobile { display:none; }

	/*  Right Margin  */
	#aside { float: left; width: 633px; margin: 20px 110px 0 25px; padding: 0; }
	#getStarted-component { float:left;width:240px;margin:0;}
	#highlights-component { float:right;width:240px;margin:0;}
	#chat-component, #callus-component, #form-component { width: 100%; }	
	.get-started-right h5{color:#444444;}
	#form-header{width:92%;}
	#promo-component, #blog-component { display:block;float:right;width:240px;margin:0;padding:0;border-top:none;clear:none; }
	#foresee-component-aside { display:block;margin:35px 0 17px;padding-top:20px;width:240px;border-top:1px solid #CDCDCD;float:left;}
	#promo-component img { margin:0 auto; }
	div.form-button a img { display:block; width: 192px; margin: 35px auto 0 auto; }
	.form-button{text-align:center;}
	/*  Right Margin End */

	/* General Styles */
	.mobile-hide {display: block;}
	.tablet-hide {display: none; }
	.float-right { float: right; clear: right !important; }
	.float-left { float: left; clear: left !important; }

	/* Tab Styles */
	.callout-right { float:right; border-left: 1px solid #CCC; margin: 20px 0 20px 20px; padding: 0 0 0 20px; border-top:none;border-bottom:none;}
	.callout-left { float:left; border-right: 1px solid #CCC; margin: 20px 20px 20px 0; padding: 0 20px 0 0; border-top:none;border-bottom:none;}
	.display-right { float: right; padding-left: 25px; }
	.display-left { float: left; padding-right: 25px; }
	.featured-image { display: block; clear: none; width: 260px;  background-color:#fff; margin: 0 0 20px 0;}
	.featured-icon-right { float: right; display: block; clear: none; width: 60px;  background-color:#fff; margin: 0 0 20px 0; padding-left: 25px;}
	.featured-icon-left { float: left; display: block; clear: none; width: 60px;  background-color:#fff; margin: 0 0 20px 0; padding-right: 25px;}
	.featured-resource { border-left: none !important; border-right: none !important; }
	.featured-spot h2, .featured-resource h2 { font:normal 14px/18px attBold, Arial !important; color: #666; margin: 0 0 10px 0 !important;}
	.featured-spot p, .featured-resource p { font:normal 14px/18px ClvATT_Light, Arial !important;color:#444;margin:0 0 10px 0 !important;padding:0 !important; }
	.tab-section { display:block;width:400px; }
	.tab-section-large { display:block;width:470px; }
	.tab-section-icon { display:block;width:610px; }

    /** NEB Recent Highlights */

	
    .recent-articles .tile-item {margin: 0px 12px 0 0;}


    /** ForSee Survey */
    .foresee-icon-holder,.foresee-text,.foresee-action{
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin: 0;
        text-align: left;
         padding: 0px;
    }
    .foresee-component-wrapper{
		border-top: 1px solid #CDCDCD;
		padding-top: 30px;
    }
    .foresee-icon-holder{ width: 11%; }
    .foresee-action{ width: 21%; }
    .foresee-text {  width: 60%; }
    .foresee-icon-holde,.foresee-action,.foresee-text { vertical-align: top; }
    .foresee-action .css-button {margin:auto; width: 197px;}
    .foresee-icon-holder .foresee-icon{ margin:auto 0; }



	/***************** Footer Start *************************/
	/*#new-footer { margin:0px;border-top:1px solid #CCCCCC; }
	#footer-wrapper {width:768px;max-width:768px; }
	#footer-main { float:left;max-width:743px;padding:25px 0 0 25px;border-bottom:solid 1px white;margin: 0; }
	#footer-popular-services { clear:none;float:left; border-bottom:0;margin:20px 0;}
	#footer-main span.header, #footer-secondary-legal-info span.header  { margin:0 0 10px; }
	#footer-popular-services span.header { margin:0 0 20px; }
	#footer-want-to, #footer-participate, #footer-learn, #footer-legal-info { display:block;float:left;margin:0 80px 15px 0;vertical-align:top;}
	#footer-legal-info {clear:left;margin:20px 130px 0 0;}
	#footer-secondary { float:left;max-width:718px;border-top:0;padding:0px;margin:15px 25px; }
	.footer-images { float:left;width:260px;margin:0 95px 20px 0; }
	.footer-images a:hover {text-decoration:none !important;}
	#footer-copyright { float:left;width:728px;margin:0; }*/

    #newFooter .footer-main{
        width:100%;
		padding-left:7%;
    }
    #newFooter .footer-item{
        width:33.33%;
    }
    #newFooter .footer-links a {
        border-left: 1px solid #bfbfbf;
        float: left;
        line-height: 14px;
        padding: 0 6px;
        clear:none;
    }
    #newFooter .footer-links a:first-child{
        padding-left:0;
        border:0;
    }
	#newFooter .footer-bottom {
		padding-left:0px;
	}
    .footer-bottom .bottom-left{
        margin:0 3% 0 0;
        width:77%;
    }

    .footer-bottom .bottom-logo{
        float:right;
        margin:15px 0 0;
    }

	/***************** Footer End   *************************/

	/************* Mobile NAV Start *************************/
	.slider_m{ margin:15px 25px 0 0;}
	.social-mobile {display:block;max-width:1024px;background:url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") no-repeat scroll 0px -260px transparent;float:right;height:60px;padding-right:8px;width:320px;margin:0 2% 0;border-bottom:none;clear:both;}
	.share480 {display:none;}
	.share-tab {margin:15px 10px 0 25px;}
	/************* Mobile NAV End   *************************/

	/************************** Days Counter Component Style starts ***********************/
	.countContainer .countcont {
		clear: none !important;
		display: inline-block !important;
		float: left !important;
		line-height: 3.4 !important;
		margin: 0 5px 0 0 !important;
		text-align: center;
	}
	.countContainer .days-no{
		line-height: 1 !important;
	}
/***********************************************/
	/***************** Teaser Component Start *************************/
	#teaser-component .teaser-content {width:370px;} /** width added for IE issue */
	/***************** Teaser Component End ***************************/

/*******************************************************************************/
}
/*******************************************************************************/

/*******************************************************************************/
@media screen and (min-width: 1024px) { 
/*******************************************************************************/

	/************* Global NAV Start *************************/
	#globalNav {display:block;}
	#globalNavInterface.global-nav-wrapper {  max-width: 1280px; }
	#segMenuContainer ul.segMenu #segMenuItemPersonal{padding: 10px 26px 8px 15px;}
	#segMenuContainer ul.segMenu #segMenuItemBusiness{padding: 10px 26px 8px 16px;}
	#segMenuContainer ul.segMenu #segMenuItemAboutATT{padding: 10px 26px 8px 16px;}
	/************* Global NAV End   *************************/

	/************* Header Start *************************/
	#icon-menu,#side_wrapper,#side_wrapper #inner_wrap{display:none;}
	#header {padding-left:0px;float:none;}
	//#header.resp-header {max-width:980px;}
	#header.resp-header {max-width:100%;}
	#header.fluid-header {max-width:1280px;}
	#header .segment {margin-right: 15px;}
	#header  ul.search {display:block;float:right;position:relative;background-color:#fff;width: 180px;list-style-type:none;margin:8px 10px 0 0;height:30px;padding:0;border-radius:3px;-webkit-border-radius:3px;}
	#ie #header ul.search{behavior:url(/library/javascript/PIE.htc);}
	#header ul li.last a { border: 0pt none; margin-right: 10px !important; }
	#header  #searchForm { white-space: nowrap; width: 100%; height: 30px; background-color: #fff; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;}
	#ie #header #searchForm {behavior:url(/library/javascript/PIE.htc);}
	#header #searchForm .inputbox{border:1px solid transparent;font-family:ClvATT-Light;font-size:.815em;padding: 4px 0 4px 13px;margin:2px 2px 0 2px;width: 120px;vertical-align:middle;color:#444; height: 28px;}
	#header .logo{float:left;margin-bottom: 0;margin-left: 18px !important; margin-top:4px}
	#header .segment { float:left; font-family: Omnes-ATT-W02; font-size:20px; }
	#header .segment img { margin-left: 35px; }

	#icon-close,.slider_m{display:none;}
	#mainNavigation { display:block; float:left;height:37px;margin-top:8px; }

	/******** Primary Navigation ********/
	#primaryNav{display:block;position:relative;height:100%;}
	#primaryNav > li {float:left;list-style-type:none;padding:0 15px 0 15px;display:block;height:37px;transition-delay:0.3s;-webkit-transition-delay:0.3s;-moz-transition-delay:0.3s;-o-transition-delay:0.3s;}
    #primaryNav > li > div.menu-divider {position: relative;}
    #primaryNav > li > div.menu-divider:before {content: '';width: 1px;height: 25px;background-color: #919191;position: absolute;top: 3px;left: -15px;transition-delay:0.3s;-webkit-transition-delay:0.3s;-moz-transition-delay:0.3s;-o-transition-delay:0.3s;}
    #primaryNav > li:first-child > div.menu-divider:before {content: '';width: 0;}
    /*#primaryNav > li#active-page > div.menu-divider:before { width: 0;}*/
	#primaryNav > #active-page.no-menu-divider+li >div.menu-divider:before, #primaryNav > #active-page.no-menu-divider >div.menu-divider:before { width: 0;}
    #primaryNav > li:hover ~ li > div.menu-divider:before {width: 1px !important;}
    #primaryNav > li:hover ~ li > div.menu-divider a {color: #fff !important;}
    #primaryNav > li:hover > div.menu-divider:before {background-color: #fff;transition-delay:0.3s;-webkit-transition-delay:0.3s;-moz-transition-delay:0.3s;-o-transition-delay:0.3s;}
    #primaryNav > li:hover + li > div.menu-divider:before {background-color: #000;transition-delay:0.3s;-webkit-transition-delay:0.3s;-moz-transition-delay:0.3s;-o-transition-delay:0.3s;}
    #primaryNav > li:hover{background-color:#fff;border-top-left-radius:3px;border-top-right-radius:3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px; -moz-border-top-left-radius:3px;-moz-border-top-right-radius:3px; transition-delay:0.3s; -webkit-transition-delay:0.3s; -moz-transition-delay:0.3s; -o-transition-delay:0.3s;}
    #primaryNav > li > div.menu-divider a {padding-top: 5px !important;}
	#primaryNav > li  a{text-decoration:none;color:#fff;display:block;padding-top: 11px;font-family:Omnes-ATT-W02;font-size:18px;transition-delay:0.3s;-webkit-transition-delay:0.3s;-moz-transition-delay:0.3s;-o-transition-delay:0.3s;}
	#primaryNav > li:hover a{color:#067AB4; transition-delay:0.3s; -webkit-transition-delay:0.3s; -moz-transition-delay:0.3s; -o-transition-delay:0.3s;}
	#primaryNav li > .secondaryNav { 
		display:block !important; 
		visibility:hidden; 
		opacity:0; 
		transition:visibility 0s linear 0.3s, opacity 0.3s linear; 
		transition-delay:0.3s; 
		-webkit-transition:visibility 0s linear 0.3s, opacity 0.3s linear; 
		-webkit-transition-delay:0.3s; 
		-moz-transition:visibility 0s linear 0.3s, opacity 0.3s linear;
		-moz-transition-delay:0.3s; 
		-o-transition:visibility 0s linear 0.3s, opacity 0.3s linear;
		-o-transition-delay:0.3s; 
		z-index:1001 !important;

		ul{
			width: 100%;
    		float: left;
    		clear: both;
			border-bottom: #e5e5e5 solid 2px;
		}
	}
	#primaryNav li:hover > .secondaryNav{ visibility:visible; opacity:1; transition-delay:0s; -webkit-transition-delay:0s; -moz-transition-delay:0s; -o-transition-delay:0s;z-index:1001 !important;}
	#primaryNav li#active-page{background:#fff;border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;}
	#primaryNav li#active-page a{color:#131313;}
    #primaryNav li#active-page a:hover, 
    #primaryNav li span.all-services:hover{color:#067ab4;}
    #primaryNav li span.all-services {font-family:Omnes-ATT-W02; font-size:14px; padding-top:20px;display:block;}

    /*wholesale menu changes ENTBUS-419*/
    #primaryNav.wholesale-menu li:hover{background:none;}
    #primaryNav.wholesale-menu li:hover a{border-bottom:1px solid #fff;color:#fff;}
    #primaryNav.wholesale-menu li.has-submenu:hover{background:#fff;}
    #primaryNav.wholesale-menu li.has-submenu:hover a{border-bottom:none;color:#131313;}
    #primaryNav.wholesale-menu li .secondaryNav a:hover{border-bottom:none;color:#067ab4;}
    #primaryNav.wholesale-menu > li:hover + li > div.menu-divider:before {background-color: #919191;}
    #primaryNav.wholesale-menu > li:hover > div.menu-divider:before {background-color: #919191;}
    #primaryNav.wholesale-menu > li.has-submenu:hover > div.menu-divider:before {background-color: transparent;}



	.secondaryNav li > div {
		display:block !important; 
		visibility:hidden; 
		opacity:0; 
		transition:visibility 0s linear 0.3s, opacity 0.3s linear; 
		transition-delay:0.3s; 
		-webkit-transition:visibility 0s linear 0.3s, opacity 0.3s linear; 
		-webkit-transition-delay:0.3s; 
		-moz-transition:visibility 0s linear 0.3s, opacity 0.3s linear;
		-moz-transition-delay:0.3s; 
		-o-transition:visibility 0s linear 0.3s, opacity 0.3s linear;
		-o-transition-delay:0.3s; 
	}
	.secondaryNav li:hover > div{ visibility:visible; opacity:1; transition-delay:0s; -webkit-transition-delay:0s; -moz-transition-delay:0s; -o-transition-delay:0s;}

	//.secondaryNav{ z-index:1000;position:absolute;left:-242px;width:978px;display:block;clear:both;border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;border-left:1px solid #d8d8d8;background-color:#fff;top:37px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px; -moz-border-bottom-left-radius:3px; -moz-border-bottom-right-radius:3px;-moz-box-shadow:3px 3px 6px #D8D8D8;-webkit-box-shadow:3px 3px 6px #D8D8D8;box-shadow:3px 3px 6px #D8D8D8;/*box-shadow:3px 2px 3px #D8D8D8; opacity:25%;filter:Alpha(opacity=25);*/}
	.secondaryNav{ z-index:1000;position:absolute;left:-242px;width:1200px;display:block;clear:both;border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;border-left:1px solid #d8d8d8;background-color:#fff;top:37px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px; -moz-border-bottom-left-radius:3px; -moz-border-bottom-right-radius:3px;-moz-box-shadow:3px 3px 6px #D8D8D8;-webkit-box-shadow:3px 3px 6px #D8D8D8;box-shadow:3px 3px 6px #D8D8D8;/*box-shadow:3px 2px 3px #D8D8D8; opacity:25%;filter:Alpha(opacity=25);*/}

	.secondaryNav li{padding: 0px 18px 30px 15px;float:left;display:block;line-height:1.15em;font-size: 15px;}  /** Updated from padding:0 18px 17px 22px; for hover issue **/
	.menu-triangle:before,
	.menu-triangle:after {
        content: '';
        display: block;
        width: 1px;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: 1px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #d8d8d8;
        z-index: 1002;
        margin-left: -20px;
    }
    .menu-triangle:after {
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-bottom: 15px solid #fff;
		bottom: 0px;    	
    }
    #header .goto-select {display: block;}
	.popmenu-active {
		position:relative;
		display: none;
	}
	.secondaryNav li:hover .popmenu-active {
		display: block;
		padding-bottom:30px;
	}
	/** goto component start */
	#header .goto-container {
		float: right;
		margin: 8px 10px 0;
		width: 145px;
		height: 30px;
		cursor: pointer;
        font-family: Omnes-ATT-W02;
		font-size: 13px;
	}
	#header .goto-select {
		color: #131313;
		border: 1px solid #595959;
		background: #fff;
		font-size: 13px;
		line-height:1em;
		border-radius: 3px;
		cursor: pointer;
		padding: 8px 14px;
	}
	#header .goto-select.active {border-radius: 3px 3px 0 0;}
	/* TODO: replace with correct sprite image - Raj  */
	#header .goto-select span.goto-downarrow {
		background-image: url(/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png);
		width: 30px;
		height: 15px;
		background-position: -628px -388px;
		display: block;
		float: right;
	}
	#header .goto-options {
		display: none;
		margin-top: -1px;
		border: 1px solid #595959;
		background: white;
		position: absolute;
		z-index: 3;
		border-radius: 0 0 3px 3px;
		width: 143px;
	}
	#header .goto-options li {
		list-style: none;
		margin: 0;
		line-height: 36px;
		padding: 0px 15px;
	}
	#header .goto-options li a {
		color: #000;
		font-size: 13px;
	}
	#header .goto-options li:hover {
		background-color: #ccc;
	}
	/** goto component end */
	#primaryNav  .secondaryNav li a{color:#131313;display:block;font-size:14px;font-family:Omnes-ATT-W02;padding-top: 15px;transition: color 0s linear 0.3s;transition-delay:0.3s;-webkit-transition: color 0s linear 0.3s;-webkit-transition-delay:0.3s;-moz-transition: color 0s linear 0.3s;-moz-transition-delay:0.3s;-o-transition: color 0s linear 0.3s;-o-transition-delay:0.3s;}
	#primaryNav  .secondaryNav li:hover a{color:#199ddf; transition-delay:0s; -webkit-transition-delay:0s; -moz-transition-delay:0s; -o-transition-delay:0s;}
	#primaryNav  .blogNav li {padding: 0 9px 18px;}
	#primaryNav  .blogNav li a {text-align: left;}	
	li.menu-link:hover a {font-family:Omnes-ATT-W02 !important; text-decoration: underline !important; }

	.menu_header{ display:block; margin: 0 20px 25px 20px;padding-top:15px;line-height:24px;color: #666; font-size: 14px; font-family: ClvATT-LightItalic; }
	.secondaryNav li div ul li {padding:0;}
	.secondaryNav  div.submenuwrapper{border-top:1px solid #d8d8d8;background-color:#fff;left:-1px;position:absolute;z-index:1000;width:978px;top:83px;border-right:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;border-left:1px solid #d8d8d8;border-bottom-left-radius:3px;border-bottom-right-radius:3px;border-top-left-radius:3px;border-top-right-radius:3px;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px;-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-bottom-left-radius:3px;-moz-border-bottom-right-radius:3px;-moz-box-shadow:3px 3px 6px #D8D8D8;-webkit-box-shadow:3px 3px 6px #D8D8D8;box-shadow:3px 3px 6px #D8D8D8;}
	.secondaryNav div ul{margin:10px 10px 10px;padding:0;}
	.secondaryNav  div ul li{margin:0 10px 0;}
	.secondaryNav  div ul li:hover a { text-decoration: underline;}
	.submenu_wrapper{float: left;width: 100%;height:100%;position: relative;z-index: 1000;overflow:hidden;}
	.submenu{width: 295px;float:left;margin:0 25px 20px 5px;}
	.menu-featured-spot { margin: 20px 0 20px 30px;padding-left:30px; height:211px;border-left:1px solid #ccc; }
	.submenu ul{margin-bottom:30px;}
	.submenu li{float:none;line-height:13px;}
	.submenu-level1 a{ font-family: Omnes-ATT-W02 !important; font-size:14px !important; font-weight: bold;}
	.submenu-level2 a { font-family: Omnes-ATT-W02 !important; padding-left: 10px}
	.submenu-level3 a { font-family: Omnes-ATT-W02 !important; margin: 0 0 0 15px;}
	#primaryNav .submenu li  a{padding-top:15px;line-height:18px;font-family:Omnes-ATT-W02;color:#666666 !important;}
	#primaryNav .submenu li  a:hover { text-decoration: underline; }

	.menu_header span.nav-title{float:left; color:#666;font-family:Omnes-ATT-W02;font-size:24px; margin: 0 40px 20px 0;}
	.menu_header span.nav-desc{color: #666666;font-family: ClvATT-LightItalic;font-size: 14px;}
	.menu_header p{color:#666666;font-size:14px;font-family:ClvATT-LightItalic;}

	.account-links a { color:#067AB4 !important; }
	.account-links a:hover { text-decoration:underline; color:#199ddf !important; }
	ul.acc_login{clear:both;margin:0 !important;}
	.submenu p{float:left;margin:10px 0 20px 0;padding:0;font-size:11px;font-family:Omnes-ATT-W02;}
	.submenu  img {clear:both;display:block; margin: 0 0 0;}
	#primaryNav  .submenu p a{font-size:13px;padding:0;}
	#primaryNav  .submenu p a:hover{font-size:13px !important; text-decoration:underline !important;}
	#primaryNav  .submenu p  span{margin:0 10px;}
	.submenu p a,.submenu p span{float:left;display:block;}
	.submenu ul li{color: #666666;font-size: 13px;}
	.secondaryNav div ul.acc_login li{margin:0;padding:0 0 10px 12px;line-height:16px; font-family:Omnes-ATT-W02;} /* background:url('bullet.jpg') no-repeat; */
	.secondaryNav div ul.acc_login li:last-child { padding-bottom:0; }
	.border_divider{border-right:1px solid #d8d8d8; font-family:Omnes-ATT-W02; margin:15px 0 15px 25px; height: 390px; padding-right:30px; width:270px;}
	/**.border_divider:last-child{border-right:none; margin: 15px 0 0 25px; padding-right:0px;} Added as inline style for now for IE8 support*/

	.secondaryNav .submenuwrapper .submenu_wrapper .submenu li b a{font-size:15px!important}
	.viewall_desk{clear:both;margin:0 20px 16px 20px;border-top:1px solid #ccc;}
	.viewall_desk a {font-family:Omnes-ATT-W02 !important;color:#666666  !important;} 
	.viewall_desk a:hover { text-decoration: underline !important; }
	#q{display:block;float:left;}
	/************* Header End   *************************/

	/*********************** breadcrumbs.css ******************/
	.breadcrumbwrapper {display:block;width:100%;max-width:980px;margin:0px auto;padding:15px 0px; }
	#breadcrumb-component .breadcrumbwrapper {overflow:hidden;max-width:1280px;}
	#content.content-wrapper .breadcrumbs {padding-left:20px;}
	.breadcrumbs {display:block;float:left;width:auto;max-width:1200px;padding-left:3px;}
	.breadcrumbs-view-all { display:block;float:right;width:60px;line-height:12px; }
	.breadcrumbs span { font-family: Omnes-ATT-W02 !important; margin: 0 7px 0 2px; }
	.breadcrumbs ul li a span { margin: 0px;}
	.breadcrumbs li{ float: left; list-style: none; padding:0; margin:0; font-size: 12px; color: #666; font-family: Omnes-ATT-W02; line-height: 12px;}
	.breadcrumbs li a { margin-right: 5px; }
	.breadcrumbs a { font-size:12px !important; color: #666 !important; font-family:Omnes-ATT-W02;font-weight:normal !important; text-decoration: none;}
	.breadcrumbs-view-all a { font-size:12px !important; line-height: 12px; font-family:Omnes-ATT-W02!important;font-weight:normal !important; text-decoration: none; color: #067AB4; }
	.breadcrumbs a:hover, .breadcrumbs-view-all a:hover {text-decoration:underline;}
 
	/** NEW STYLES **/
	.slider_m img { display: none; }
	#side_wrapper #side-wrapper-header,#inner_wrap{display:none;}
	/** NEW STYLES **/

	/**#content {max-width:1280px;}**/
	#content.maincontent {max-width:980px;}
	#headline-component, #preface { float: left; margin: 30px 0 0 0; } /**width: inherit; **/
	.maincontent #main { max-width:670px;} /**970 **/
	.featured-content-title span { width: 90%; }
	.feat-vid-hover-text { display:block;float:right;margin:10px 0 0 0;width:18px;height:18px;background:url('/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png') -138px -50px no-repeat; }

	/*  Right Margin  */
	#aside { float: right; width: 225px; margin: 30px 0 35px 80px !important; padding: 0; }	
	#getStarted-component, #highlights-component { float:left;width:100%;margin:0 0 0 0;padding:0 0 5px 0;}	
	#getStarted-component span.phone-nbr { color: #444444; }
	#chat-component, #callus-component { float: left; }
	#form-header { float: left; width: 97%; margin: 13px 0 10px;}
	#form-component { float:left; width: 100%; margin: 0; padding: 0; margin: 0;}
	#promo-component, #foresee-component-aside { float: left; width: 100% !important; margin-top: 35px; padding-top: 20px; border-top: 1px solid #CDCDCD; } /*padding: 20px 0 5px 0; border-top: 1px solid #c1c1c1; } */
	#blog-component { float: left; width: 100% !important; padding-top: 20px; border-top: 1px solid #CDCDCD; }
	/*  Right Margin End  */

	/* General Styles */
	.tablet-hide {display: block; }

	/* Tab Styles */
	.tab-section { display:block; width: 330px; }
	.tab-section-large { display: block; width: 380px; }
	.tab-section-icon { display: block; width: 525px; }
	.menu-promo { display: block; float: right; clear: none; width: 200px; border-left: 1px solid #CCC; margin: 20px 0 20px 20px; padding: 0 20px; }
	.menu-promo span.title { font: normal 14px/18px attBold, Arial !important; color: #666; margin: 0 0 10px 0 !important;}
	.menu-promo p { font: normal 14px/18px ClvATT_Light, Arial !important; color: #444; margin: 0 0 10px 0 !important; padding: 0 !important; }


    /** ForSee Survey */
        .foresee-text { width: 67%; }


	/***************** Footer Start *************************/
	/*#footer-wrapper{width:980px;max-width:980px;}
	#footer-main { max-width:980px;padding:35px 0 30px;}
	#footer-want-to, #footer-participate, #footer-learn, #footer-legal-info { margin:0 36px 15px 0;}
	#footer-popular-services{margin:0;}
	#footer-popular-services span.header { margin: 0 0 20px; }
	#footer-legal-info {clear:none;}
	#footer-secondary { max-width: 940px; margin: 30px 20px 35px; }
	.footer-images { margin-right: 85px; }
	#footer-copyright { float: right; width: 595px; margin-top: 0; }
	.popular-services-large { padding-right: 9px; }
	.popular-services-medium { padding-right: 7px; }
	.popular-services-small { padding-right: 5px; }*/
    #newFooter .wrapper{
        max-width:980px !important;
    }
    #newFooter .footer-main{
		padding-left:7%;
    }

/**
    #newFooter .footer-item {
        margin: 0 40px 0 110px !important;
        width: auto;
    }
*/
/**    #newFooter .footer-item:first-child{
        margin-left: 140px !important;
    }
*/
	/***************** Footer End ***************************/
	
/*******************************************************************************/
}
/*******************************************************************************/

/*******************************************************************************/
 @media screen and (min-width: 1136px) {
/*******************************************************************************/
	#social-wrapper, #position-social, #social-share, #margin-block { display: block; }
	.social-mobile { display:none !important; }
	#social-wrapper {margin:0 auto;position:fixed;z-index:100;}
	#social-wrapper #position-social {left:0;width:85px;}
	#social-wrapper #position-social #social-share {background-clip:border-box;background:url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") -159px 0px no-repeat transparent;width:50px;height:235px;margin-top:249px !important;padding-bottom:15px;padding-left:15px;padding-right:0px;top:0;bottom:166px;bottom:159px !important;z-index:100;}
	#social-share .share-cta {color:#a7a7a7;font-size:13px;font-weight: bold;margin-left: -6px;margin-top: 9px;text-align: center;}
	#social-share span{display: block;height: 24px;margin-top: 1px;width: 24px;margin-bottom:14px;}
	#social-share .st_email_custom{background:url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") -111px -95px no-repeat transparent;cursor:pointer;width:24px;height:24px;}
	#social-share .st_twitter_custom{background:url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") -111px -50px no-repeat transparent;cursor:pointer;width:24px;height:21px;}
	#social-share .st_facebook_custom{background: url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") -111px 0px no-repeat transparent;cursor: pointer;width:24px;height:24px;}
	#social-share .st_plusone_custom{background: url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") -111px -24px no-repeat transparent;cursor: pointer;width:24px;height:24px;}
	#social-share .st_linkedin_custom{background: url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") -111px -71px no-repeat transparent;cursor: pointer;width:24px;height:24px;}
	#social-share .st_googleplus_large span.stButton {margin: 0;}
	#social-share .st_googleplus_large span.stButton span.stLarge{margin: 0;}

	.share-cta{margin-top:4px;margin-right:2px;float:left;}
	.orangeHeader{color:#FF7200;font-weight:bold;}
	#social-share .st_googleplus_large {background: url("/ui/marketing_ent_turn_buscircle/1.0.0/images/image-sprite.png") -111px -24px no-repeat transparent !important;width:24px;height:24px;}
	#social-share .st_googleplus_large span.stButton span.stLarge {background: url("") repeat scroll 0 0 transparent !important;}
/*******************************************************************************/
}
/*******************************************************************************/


/* ============================================================== */
/* =================CONSOLIDATED CSS FOR VIDEOBOX.CSS============= */
/* ============================================================== */


#vidlightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:rgba(0,0,0,0.8); 
    text-align:center;
	z-index:9999;
}
#vidcontent{
	background: #fff;
    height: 324px;
    left: 50%;
    margin-left: -255px;
    margin-top: -162px;
    padding: 10px 10px 20px;
    position: fixed;
    top: 50%;
    width: 510px;
	border-radius:6px;
	position:relative;
}

#vidcontent .mediaWrap{
	height: 300px;
}
.vid-close{
    bottom: 15px;
    color: #6d6d6d;
    font-size: 15px;
    padding-right: 20px;
    position: absolute;
    right: 10px;
	background:url(/library/images/close_ikn.png) no-repeat right center;
	text-decoration:none !important;
	cursor:pointer;
}
.vid-meta{
    float: left;
    margin: 15px 0 0;
    text-align: left;
    width: 80%;
    bottom: 20px;
    position: relative;
}
.vid-meta p{
	font-size:14px;
}


@media only screen and (max-width: 768px){

	#vidcontent {
		left: 50% !important;
		margin-left: -42% !important;
		padding: 10px 2% 20px !important;
		width: 80% !important;
		height:290px !important;
	}
	#vidcontent .jwplayer{
		width:100% !important;
		height: 260px !important;
	}
	#vidcontent .mediaWrap{
		height: 270px;
	}
}


@media only screen and (max-width: 480px){
	.vid-meta p{
		line-height:1;
	}
	.vid-close{
		bottom:22px;
	}
	#vidcontent .jwplayer{
		height:220px !important;
	}
	#vidcontent .mediaWrap{
		height: 229px;
	}
	#vidcontent {
		height:260px !important;
	}
}


/* ============================================================== */
/* =================GATING FORM CSS ============= */
/* ============================================================== */

.gatingContainer{
	position:absolute;
	left:50%;
	width:100%;
	max-width:530px;
	min-height:544px;
	height:auto;
	margin-left:-265px;
	display:none;
	z-index:10000;
	background:#067ab4;
	border-radius:8px;
	color:#fff;
}
.gating-inner{
	padding: 10px 23px 23px;
}
div[data-gating]{
	display:none;
}

#gating-overlay {
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.gatingContainer .black-txt {
	color:#000;
	font: 15px/22px Omnes-ATT-W02,Arial,sans-serif;
}
.gatingContainer h3{
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
	font-family: Omnes-ATT-W02,Arial,sans-serif;
    margin: 0 0 10px;
    padding: 0 0 10px;
}
.gatingContainer p{
    color: #fff;
    margin: 0 0 5px;
}
.gatingContainer p li {
	font-family: Omnes-ATT-W02,Arial,sans-serif;
}
.gatingContainer .form-div1 .errors ul li {
	width: 55%;
}
.gatingContainer .form-row {
    margin: 0 0 5px 0;
	line-height:1;
	float:left;
	width:100%;
}
.gatingContainer .form-div{
	float:left;
}
.gatingContainer .form-div.gating-full-width{
	width:100% !important;
}
.gatingContainer .form-textbox {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    height: 33px;
    padding: 0 12px;
	background-color:#FFFFFF;
}
.gatingContainer .form-div label {
	font: 15px/22px OmnesATT-Bold,Arial,sans-serif;
}
.gatingContainer .full-width .form-textbox {

}
.gatingContainer .form-email .form-textbox {
    width: 80% !important;
}
.gatingContainer .form-company .form-textbox {
    width: 66% !important;
}
.gatingContainer .form-phone .form-textbox {
    width: 52% !important;
}


.gating-close{
    color: #fff;
    font-size: 15px;
    position: absolute;
    right: 20px;
    text-decoration: none !important;
	cursor:pointer;
    top: 10px;
}
#gating-overlay{display:none;}

.form-phone-help-text {
    margin: 10px 0 0;
}
.gatingContainer .css-button .button{
    font-size: 16px;
    height: 43px;
    width: 190px;
}
.gatingContainer .css-button{
    margin: 15px 0 0;
}
.gating-privacy{
    margin: 0;
}
.gating-privacy a{
	color:#fff;
}

.errors {color:red;	clear: both; margin-bottom: -5px; font:12px ClvATT-Light; }
.errors ul li{list-style-type:none;	margin-left:-40px; margin-top:27px;	margin-bottom: -12px; margin-right: 4px;}
.errorsname {margin: 4px 0 -5px 2px; font:14px ClvATT-Light; }
.errorsname ul li{list-style-type:none;	color: #FFFFFF; }
.errorclass { background-color: #FFE7E4 !important; border: 1px solid #CC0000 !important; }


@media screen and (min-width: 320px){
	.gatingContainer{
		left:0;
		margin-left:0;
	}
	.firstname-div {
		margin: 0 0 15px;
		width: 100% !important;
	}
	.firstname-div .form-textbox{
		width:80% !important;
	}
	.lastname-div .form-textbox{
		width:80% !important;
	}

	.gatingContainer h3{
		margin:30px 0 10px;
	}
	.gating-label{
		margin:10px 0 0 !important;
	}
	.form-div.form-email,
	.form-div.form-company,
	.form-div.form-phone,
	.form-div.firstname-div,
	.form-div.lastname-div{
		margin:0 0 10px;
	}
}
@media screen and (min-width: 480px){
	.firstname-div {
		margin: 0 0 10px;
		width: 50% !important;
	}
	.firstname-div .form-textbox{
		width:74%;
	}
	.lastname-div .form-textbox{
		width:40% !important;
	}
}

@media screen and (min-width: 640px){
	.gatingContainer{
		left:50%;
		margin-left:-265px;
	}
	.gatingContainer h3{
		margin:30px 0 10px;
	}
}

/************** Tablets Portrait or Landscape ************************/
@media screen and (min-device-width: 1024px){ 
/***********************************************/

	.errors {color:red;	clear: both; margin: -20px 0 -5px 0; font:12px ClvATT-Light; }
	.form-row .errors {margin-left: 41px; }
	.errors ul li{list-style-type:none;	margin-left:-40px; margin-top:27px;	margin-bottom: -12px; margin-right: 4px;}
	.form-row .errors ul li{margin-bottom:4px; color:#FFFFFF; }
	.errorclass { background-color: #FFE7E4 !important; border: 1px solid #CC0000 !important; }

/***********************************************/
}

.cssIcon-search {
    background-color: transparent;
    background-repeat: no-repeat;
    border: medium none!important;
    margin-top: -18px;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 40px !important;
    font-size: 0;
}

.cssIcon-search {
	background-image: url(/ui/marketing_ent_turn_buscircle/1.0.0/images/ATT_Sprite_Retina_v1.png);
    background-position: -499px -270px;
    height: 18px;
    width: 18px;
	zoom: .5;
}

/**Dropdown*/

li.dropdown > a {
    background-image:url('../img/arrow-down.png');
    background-position:right 20px;
    background-repeat:no-repeat;
}

li li.dropdown > a {
    background-image:url('../img/arrow-right.png');
    background-position:right 16px;
    background-repeat:no-repeat;
	position:relative;

	&:hover{
		&:before {
            width: 0;
			height: 0;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid #e5e5e5;
			content: " ";
			position: absolute;
			bottom: -18px;
			left: 35%;
			z-index:10;
      }
	  &:after {
            width: 0;
			height: 0;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 15px solid #fff;
			content: " ";
			position: absolute;
			bottom: -20px;
			left: 35%;
			z-index:15;
      }
	}
}

ul.sub-menu {
    display:none;
}

/* sub navigation */
.menu-link li ul {    
    background-color:rgb(225,75,75);
    position:absolute;
    left:0;
    top:40px; /* make this equal to the line-height of the links (specified below) */
    width:200px;
}
.menu-link nav li li {
    position:relative;
    margin:0;
    display:block;
}
.menu-link li li ul {
    position:absolute;
    top:0;
    left:200px; /* make this equal to the width of the sub nav above */
    margin:0;
}

#topicsInfo{
	float: left;
    clear: both;
    width: 100%;
	padding-left: 10px;
    padding-bottom: 10px;
}

#topicsInfo a{
	padding-top: 5px;
    padding-bottom: 5px;
	font-size: 14px !important;
}

#topicsInfo:hover:after{
	content: '';
        display: block;
        width: 1px;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: 1px;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #d8d8d8;
        z-index: 1002;
        margin-left: -20px;
}