<sly data-sly-resource="${'courtesy-nav' @resourceType='/apps/att/marketing/enterprise/turnkey/business-circle/components/structure/courtesy-nav'}" data-sly-unwrap></sly>
<!--/*  Content area for bizhub topic page */-->
<div class="pillar-title-container">
	<div class="container">
		<div class="section columncontrol">
            <div class="">
                <div class="row">
                    <div class="span12">
                        <div data-sly-resource="${'pillar_title' @resourceType='att/marketing/enterprise/turnkey/business-circle/components/content/title'}"></div>
                        <div data-sly-resource="${'pillar_subtitle' @resourceType='att/marketing/enterprise/turnkey/business-circle/components/content/title'}"></div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section columncontrol">
        <div class="">
            <div class="row">
                <div class="main-par span12">
	                <div data-sly-resource="${'main_parsys' @resourceType='foundation/components/parsys'}"></div>
                </div>
            </div>    
        </div>
    </div>
</div>
<div class="pillar-sub-wrapper tagcloud section">
	<div data-sly-resource="${'tagcloud_1' @ resourceType='att/marketing/enterprise/turnkey/business-circle/components/content/tagcloud'}"></div>
</div>
<div class="email-sub-wrapper">
	<div class="email-sub-boiler" data-sly-resource="${'/content/att/marketing/enterprise/turnkey/business-circle/boilerplates/article-right-rail/jcr:content/main_parsys/emailsubsciption' @ resourceType='att/marketing/enterprise/turnkey/business-circle/components/content/emailsubsciption'}"></div>
</div>




















