<!--/* Title Component */--> 
<pre data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}" data-sly-unwrap></pre>
<section class="headline att-component" data-component="headline">
    <div class="container">
        <div data-sly-use.topic="topic-title.js">
            <h1 class="heading-page">${topic.tagName}</h1>
            <h2 class="heading-major-section">${topic.tagDescription}</h2>
        </div>
      </div>
</section>



<script>
    /*-!TODO: Should we remove this ?-*/
   if(window.skipAnalytics !== true) {
   		$att(function(){
        var additionaldata = {};
        	additionaldata = {
            	'events.contentId': '${mdhash.calculatedValue @ context="scriptString"}',
                'events.slotFriendlyName' :  '${properties.componentFriendlyName @ context="scriptString"}',
                'events.contentSystem' : 'CQ',
                'events.contentProductGroup' : '${properties.contentProductGroup @ context="scriptString"}',    
            };
        AttApp.analytics.sendAnalyticsEvent('impression','impression', additionaldata);
    	});
    }
</script>