<div class="container">
	<div class="author-small-bio-wrapper" data-sly-use.image="image.js">

        <div class="picture">
        	<img src="${image.src}" alt="" />
        </div>
        <div class="text">
            <h3 data-sly-test="${image.title}" class="heading-sub-section name">${image.title}</h3>
            <a data-sly-test="${image.linkUrl}" href="${author.link}">${image.linkUrl}</a>
            <p data-sly-test="${properties.jcr:description}">${properties.jcr:description}</p>
        </div>

	</div>
</div>