<div class="container">
	<div class="media-wrapper" data-sly-use.media="article-main-media.js">
		<img alt="" data-sly-test="${!media.youtubeUrl}" src="${currentPage.path}/_jcr_content.img.png" />
		<iframe data-sly-test="${media.youtubeUrl}" src="${media.embedUrl}" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
