<pre data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}" data-sly-unwrap></pre>
<sly data-sly-use.emailUrl="emailSubscription.js"></sly>
<section class="email-sub component-spacing-large att-component ${properties.border} ${properties.bluebgcolor}" data-component="emailSub">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div data-sly-test.valid="${Properties.emailsubheading}"></div>
                <div data-sly-test="${!valid && wcmmode.edit}">Please click Edit (above) to author the Email Subscription Component</div>
                <div class="email-sub-wrapper">
                    <h2>${properties.emailsubheading}</br> </h2>
                    <div class="row">
                        <form action="" method="post" class="bizhub-email-subscription" id="bizhub-email-subscription"
                            data-analytics-code="Link_Click" data-analytics-action="linkClick" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}','events.linkName':'Log In', 'events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}', 'events.linkPosition':'Body', 'events.linkDestinationUrl':'${emailUrl.emailSignUpUrl}'}">
                            <fieldset>
                                <div class="form-row row">
                                    <div class="fluid-space">
                                        <div class="row">
                                            <div class="span12">
                                                <div class="field-group">
                                                    <p class="description" id="emailsub-desc">${properties.emailsublabel}</p>
                                                    <div class="row subscribe-row">
                                                        <div class="input-wrapper span6" id="subscribe-email-wrapper">
                                                            <input id="email" name="email" class="lrg-input" placeholder="${properties.enterYourEmail}" maxlength="50" data-required="true" type="email" aria-label="email address" aria-describedby="emailsub-desc">
                                                            <button type='submit'>
                                                                <div class="desktop-tablet-only">
                                                                    <span><i class="icon-right"></i></span>
                                                                </div>
                                                                <div class="mobile-only">
                                                                    <span><i class="icon-right"></i></span>
                                                                </div>
                                                            </button>
                                                            <div aria-live="polite" class="error-dropdown-msg" id="ErrorLabels"></div>
                                                        </div>
                                                        <div data-sly-test="${properties.socialinktype}" class="span6 subscribe">
                                                            <h3>Follow us</h3>
                                                            <div>
                                                                <ul data-sly-list.child="${properties.socialinktype}">
                                                                    <li>
                                                                        <a href="${properties.socialurl[childList.index]}" style="font-size: 30px" target="_blank" data-analytics-action="linkClick" data-analytics-code="Link_Click" data-analytics-info="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}','events.linkName':'${properties.socialinktype[childList.index]}', 'events.linkPosition':'Body', 'events.linkDestinationUrl':'${properties.socialurl[childList.index]}'}"><i class='icon-social-${properties.socialinktype[childList.index]}L'></i></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div aria-live="polite" class="error-dropdown-msg" id="ErrorLabels"></div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<script>
     if(window.skipAnalytics !== true) {
        $att(function(){
        	var additionaldata = {};
        	additionaldata = {
	            'events.contentId': '${mdhash.calculatedValue @ context="scriptString"}',
	            'events.slotFriendlyName': '${properties.componentFriendlyName @ context="scriptString"}',
	            'events.contentSystem': 'CQ',
	            'events.contentProductGroup': '${properties.contentProductGroup @ context="scriptString"}',
       		};
        AttApp.analytics.sendAnalyticsEvent('impression', 'impression', additionaldata);
   		});
    }
</script>