<!--/*  Layout HTML */-->
  <div class="slide template-promo" style="background-image: url(${properties.backgroundImage @ context='html'})">
          <div class="container">
            <div class="row">
              <div class="slide-content text-white  text-center ">
				 <h2>${properties.heading @ context='html'}</h2>
                <p class='desktop-show'>${properties.subheading @ context='html'}</p>
                <p class='mobile-show'>${properties.mobilesubheading  @ context='html'}</p>
                <a data-sly-test = "${properties.ctadesktopurl && properties.ctatitle}" href="${properties.ctadesktopurl @ extension = 'html'}" data-mobile-url="${properties.ctaMobileUrl @ extension = 'html'}" class="promo-cta"><span class="arrow-icon"><i class="cssIcon-chevron-r-w"></i></span>${properties.ctatitle}</a>  
              </div>
            </div>
          </div>
</div>