<!--/* This is called from the TData feed generation by selector ".item" */-->   

<sly data-sly-use.panel="com.att.sales.consumer.marketing.upperfunnel.marquees.models.PanelsModel"></sly>
<sly data-sly-use.mdhash="${'com.att.global.all.cms.common.core.utils.HashGenHelper' @ param1 = currentNode.path}"></sly>

<!--/* Panel Component inclusion based on layout*/-->

 <sly data-sly-test.hideOnMobile=""></sly>
      <sly data-sly-test="${panel.panelsData.layout == 'apple-marquee' && panel.panelsData.hideBackgroundImg}">
       <sly data-sly-test.hideOnMobile="disable-mobile-bkg"></sly>
 </sly>
<sly data-sly-test="${panel.panelsData.subLayout == 'bgc' || panel.panelsData.subLayout == 'bgcfgi'}">
	<sly data-sly-test.bgTypeCondition="${panel.panelsData.bgType=='bgGradient'}">
		<sly data-sly-test.bgStyleCC='background:linear-gradient(${panel.panelsData.bggdirection},${panel.panelsData.bggcolor1},${panel.panelsData.bggcolor2})'></sly>
	</sly>
	<sly data-sly-test=${!bgTypeCondition}>
		<sly data-sly-test.bgStyleCC= 'background-color:${panel.panelsData.marquebgcolor}'></sly>
	</sly>
</sly>

<!--/* 1st Panel Layout */-->
<div data-sly-test="${panel.panelsData.layout  == 'template-single-offer'}"  data-hover-content="${panel.panelsData.dotContent}" class="slide template-single-offer" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${panel.panelsData.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-single-offer.html" data-sly-call="${tmpl.templateSingleOffer @ item=panel.panelsData}"></div>

<!--/* 2nd Panel Layout */-->
<div data-sly-test="${panel.panelsData.layout  == 'template-center-text'}"  data-hover-content="${panel.panelsData.dotContent}" class="slide template-center-text" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${panel.panelsData.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-bkg-img="${panel.panelsData.backgroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-center-text.html" data-sly-call="${tmpl.templateCenterText @ item=panel.panelsData}"></div>

<!--/* 3rd Panel Layout */-->
<div data-sly-test="${panel.panelsData.layout  == 'template-text-left'}"  data-hover-content="${panel.panelsData.dotContent}" class="slide template-text-left" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${panel.panelsData.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-bkg-img="${panel.panelsData.foregroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-text-left.html" data-sly-call="${tmpl.templateTextLeft @ item=panel.panelsData}"></div>

<!--/* 4th Panel Layout  */-->
<div data-sly-test="${panel.panelsData.layout  == 'template-text-right'}"  data-hover-content="${panel.panelsData.dotContent}" class="slide template-text-right" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${panel.panelsData.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-text-right.html" data-sly-call="${tmpl.templateTextRight @ item=panel.panelsData}"></div>

<!--/* 5th Panel Layout  */-->
<div data-sly-test="${panel.panelsData.layout  == 'channel-promos'}"  data-hover-content="${panel.panelsData.dotContent}" class="slide template-promo" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${panel.panelsData.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-bkg-img="${panel.panelsData.backgroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/channel-promo.html" data-sly-call="${tmpl.channelPromo @ item=panel.panelsData}"></div>

<!--/* 6th Panel Layout  */--> 
<div data-sly-test="${panel.panelsData.layout  == 'template-align-left'}"  data-hover-content="${panel.panelsData.dotContent}" class="slide template-content-left" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${panel.panelsData.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-bkg-img="${panel.panelsData.backgroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-align-left.html" data-sly-call="${tmpl.templateAlignLeft @ item=panel.panelsData}"></div>

<!--/* Apple Marquee Panel Layout */-->
<div data-sly-test="${panel.panelsData.layout  == 'apple-marquee'}" data-hover-content="${panel.panelsData.dotContent}" class="slide template-center-cta-image ${hideOnMobile}" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${panel.panelsData.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-bkg-img="${panel.panelsData.backgroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/apple-marquee.html" data-sly-call="${tmpl.templateAppleMarquee @ item=panel.panelsData}"></div>

<!--/* Configurable content Marquee Panel Layout */-->
<div data-sly-test="${panel.panelsData.layout  == 'template-content-configurable'}" data-hover-content="${panel.panelsData.dotContent}" class="slide template-content-configurable ${panel.panelsData.subLayout == 'bgcfgi' ? 'marquee-foreground-img' : ''} ${panel.panelsData.subLayout == 'bgi' ? 'marquee-bkg-img' : ''}  ${panel.panelsData.subLayout == 'bgifgi' ? 'marquee-bkg-img marquee-foreground-img' : ''}" style="${bgStyleCC @ context='html'}" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${panel.panelsData.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentSystem' : '${contentSystem}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-content-configurable.html" data-sly-call="${tmpl.templateLeftCenterRightMarquee @ item=panel.panelsData}"></div>

<!--/* Clickable Image Panel Layout */-->
<div data-sly-test="${panel.panelsData.layout  == 'clickable-image'}" data-hover-content="${panel.panelsData.dotContent}" class="slide template-clickable ${hideOnMobile}" data-analytics-action="impression" data-analytics-code="impression" data-analytics-data="{'events.contentId':'${mdhash.calculatedValue}', 'events.slotFriendlyName':'${panel.panelsData.componentFriendlyName}', 'events.contentFriendlyName':'${properties.componentFriendlyName}', 'events.contentProductGroup':'${properties.contentProductGroup}'}" data-bkg-img="${panel.panelsData.backgroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/clickable-image.html" data-sly-call="${tmpl.templateClickableImage @ item=panel.panelsData}"></div>

<!--/* End Panel Component inclusion based on layout*/-->