<!--/*  Panel Component */--> 

<div data-sly-test.valid="${Properties.layout}"></div>
<div data-sly-test="${!valid && wcmmode.edit}">Please author Panels here</div>
<pre data-sly-use.panel="com.att.sales.consumer.marketing.upperfunnel.marquees.models.PanelsModel"></pre>
<sly data-sly-test.hideOnMobile=""></sly>
    <sly data-sly-test="${properties.layout == 'apple-marquee' && properties.hideBackgroundImg}">
       <sly data-sly-test.hideOnMobile="disable-mobile-bkg"></sly>
</sly>
<sly data-sly-test="${properties.subLayout == 'bgc' || properties.subLayout == 'bgcfgi'}">
	<sly data-sly-test.bgTypeCondition="${properties.bgType=='bgGradient'}">
		<sly data-sly-test.bgStyleCC='background:linear-gradient(${properties.bggdirection},${properties.bggcolor1},${properties.bggcolor2})'></sly>
	</sly>
	<sly data-sly-test=${!bgTypeCondition}>
		<sly data-sly-test.bgStyleCC= 'background-color:${properties.marquebgcolor}'></sly>
	</sly>
</sly>

<div class="marquee-wrapper">
    <div id="home-marquee"  class="marquee slick-enabled">
        <!--/* Panel Component inclusion based on layout*/-->
        <!--/* 1st Panel Layout */-->
        <div data-sly-test="${properties.layout  == 'template-single-offer'}" class="slide template-single-offer" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-single-offer.html" data-sly-call="${tmpl.templateSingleOffer @ item=panel.panelsData}"></div>
        <!--/* 2nd Panel Layout */-->
        <div data-sly-test="${properties.layout  == 'template-center-text'}" class="slide template-center-text" data-bkg-img="${panel.panelsData.backgroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-center-text.html" data-sly-call="${tmpl.templateCenterText @ item=panel.panelsData}"></div>
        <!--/* 3rd Panel Layout */-->
        <div data-sly-test="${properties.layout  == 'template-text-left'}" class="slide template-text-left"  data-bkg-img="${panel.panelsData.foregroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-text-left.html" data-sly-call="${tmpl.templateTextLeft @ item=panel.panelsData}"></div>
        <!--/* 4th Panel Layout  */-->
        <div data-sly-test="${properties.layout  == 'template-text-right'}" class="slide template-text-right" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-text-right.html" data-sly-call="${tmpl.templateTextRight @ item=panel.panelsData}"></div>
        <!--/* 5th Panel Layout  */-->
        <div data-sly-test="${properties.layout  == 'channel-promos'}" class="slide template-promo" data-bkg-img="${panel.panelsData.backgroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/channel-promo.html" data-sly-call="${tmpl.channelPromo @ item=panel.panelsData}"></div>
        <!--/* 6th Panel Layout  */--> 
        <div data-sly-test="${properties.layout  == 'template-align-left'}" class="slide template-content-left" data-bkg-img="${panel.panelsData.backgroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-align-left.html" data-sly-call="${tmpl.templateAlignLeft @ item=panel.panelsData}"></div>
		<!--/* Apple Marquee Panel Layout */-->
        <div data-sly-test="${properties.layout  == 'apple-marquee'}" class="slide template-center-cta-image ${hideOnMobile}"  data-bkg-img="${panel.panelsData.backgroundImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/apple-marquee.html" data-sly-call="${tmpl.templateAppleMarquee @ item=panel.panelsData}"></div>
		<!--/* Configurable content Marquee Panel Layout */-->
        <div data-sly-test="${properties.layout  == 'template-content-configurable'}" class="slide ${properties.enableCountDown ? 'timer-slide' : ''} ${properties.layout} ${properties.subLayout == 'bgcfgi' ? 'marquee-foreground-img' : ''} ${properties.subLayout == 'bgi' ? 'marquee-bkg-img' : ''}  ${properties.subLayout == 'bgifgi' ? 'marquee-bkg-img marquee-foreground-img' : ''}" style="${bgStyleCC @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-content-configurable.html" data-sly-call="${tmpl.templateLeftCenterRightMarquee @ item=panel.panelsData}"></div>
		<!--/* Clickable Image Panel Layout */-->
        <div data-sly-test="${properties.layout  == 'clickable-image'}" class="slide template-clickable ${hideOnMobile}"  data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/clickable-image.html" data-sly-call="${tmpl.templateClickableImage @ item=panel.panelsData}"></div>
		<!--/* GVP Panel Layout */-->
        <div data-sly-test="${properties.layout  == 'gvp-panel'}" class="slide" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/gvp-panel.html" data-sly-call="${tmpl.templateGVPPanel @ item=panel.panelsData}"></div>
		<!--/* IRU Marquee Panel Layout */-->
        <div data-sly-test="${properties.layout  == 'template-iru-panel'}" class="slide template-content-left iru-sldide"  data-bkg-img="${panel.panelsData.iruImage @ context='html'}" data-sly-use.tmpl="/apps/att/sales/consumer/marketing/upper-funnel/components/content/marquees/marquee-info/template-iru-panel.html" data-sly-call="${tmpl.templateIruPanel @ item=panel.panelsData}"></div>
        <!--/* End Panel Component inclusion based on layout*/-->
    </div>
</div>
<sly data-sly-use.tdata="tdata.js" data-sly-test="${tdata.showAttr}">
    <sly data-sly-include="tdata.html"></sly>
</sly>