 <!--/*  TData Attributes */--> 

    <sly data-sly-use.tdataAttr="com.att.global.all.cms.common.general.models.TDataAttributes"></sly>  
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse; 
        }
        th, td {
            padding: 5px;  
            width:1000px;
        }
    </style> 
    <br><br> 
    <table align="center">  
        <tr><th align="center"><b>TData Attributes</b></th></tr> 
        <tr><td>TData Name : <b>${properties.tDataName}</b></td></tr>  
        <tr><td>Content Type: <b>${properties.contentType}</b></td></tr>              
        <tr><td>Exclusion Group : <b>${properties.exclusionGroup}</b></td></tr>                             
        <tr><td>Content Keywords  : <b>${properties.contentKeywords}</b></td></tr>      
        <tr><td>Content Description  : <b>${properties.contentDescription}</b></td></tr>                
        <tr><td>Availability Flag  : <b>${properties.availabilityFlag}</b></td></tr>                                
        <tr><td>CPNI Bucket ID  : <b>${properties.cpniBucketId}</b></td></tr>  
        <tr><td>Promo Action : <b>${properties.promoAction}</b></td></tr>        
        <tr><td>Enhanced Description  : <b>${properties.enhancedDescription}</b></td>               
        <tr><td>Content Testing : <b>${properties.contentTesting}</b></td></tr>                     
        <tr><td>Pricing Plan  : <b>${properties.pricingPlan}</b></td></tr>  
        <tr><td>Enrollment Options  : <b>${properties.enrollment}</b></td></tr>  
        <tr><td>Start Time  : <b>${tdataAttr.fmtStartTime @ context="html"}</b></td></tr>  
        <tr><td>Expire Time  : <b>${tdataAttr.fmtExpireTime @ context="html"}</b></td></tr>    
    </table>    

    <br><br> <br><br>
    <table align="center">   
        <tr><th align="center"><b>Aanalytics Attributes</b></th></tr>     
        <tr><td>Friendly Name  : <b>${properties.componentFriendlyName @ context="html"}</b></td></tr>  
        <tr><td>Content Product Group  : <b>${properties.contentProductGroup @ context="html"}</b></td></tr>    
    </table> 